[2021-02-22 22:56] #796 closed

[2021-02-22 23:21] yonkeltron commented on #796
Amazing! Can't wait to try it out and report back for you.

Thanks,
+Jonathan

On Mon, Feb 22, 2021, 5:57 PM Vlad A. Ionescu <notifications@github.com>
wrote:

[2021-02-22 23:45] vladaionescu commented on #798
Thanks for the report, Dan! Will be fixed in the next release.

[2021-02-22 23:58] #798 closed

[2021-02-24 02:01] alexcb opened #806 "Add support for locally copy from system"
This is not yet spported
[code]

_Originally posted by @vladaionescu in https://github.com/earthly/earthly/pull/805#r581527809_

[2021-02-24 16:25] ohadravid opened #807 "Confusing error when missing FROM"
For this Earthfile:
[code]

Version: `earthly version v0.5.1 linux/amd64`

[code]

The fix is easy: just add the missing FROM, but the error is very unintuitive.

Thanks! 😄

[2021-02-24 20:45] agbell commented on #786
@bhansconnect
Thanks for putting together this example.  I believe this does work the way you desire it to work.  It will not run subsequent steps if the steps have been run before with that same input.

I recorded a video using your example, to make sure I understand.
https://share.descript.com/view/8vZ3u9ODlpA
Take a look and let me know you get this behavior as well.

[2021-02-24 20:53] agbell commented on #786
The second example I showed is in #809  if you'd like to try it and see if behaves similarly for you.

[2021-02-25 01:26] bhansconnect commented on #786
So I was looking into this more and the issue definitely seems to be device specific in some way, but I am not sure how. My laptop (ubuntu 20.04 with zfs) fails to cache things properly with my rust example. That being said, your c++ example works on my laptop. On my raspberry pi (ubuntu 20.04 with ext4), both examples work correctly.

I am not sure the file system matters at all, but it is one of

[2021-02-25 11:19] diegobernardes opened #813 "Different behavior from local and remote targets"
The configure target is used to set up the repository setting some Git configs. Both executions happened at the same filesystem path.

Executing locally:
[code]

Remote execution:
[code]

[2021-02-25 12:14] agbell commented on #786
Interesting, does your rust example work with docker if you use buildkit?

[code]
We are using buildkit to do the caching, so it SHOULD work equivalently to docker build with buildkit.

[2021-02-25 14:26] yonkeltron commented on #796
I updated this morning using Homebrew on macOS and tried both the cert specification options above and it looks like i'm not able to get the custom cert to work.

Here's my config in `~/.earthly/config.yml`

[code]

Am I doing something wrong? How can I help troubleshoot? I SO appreciate your attentiveness and responsiveness.

Thanks,
+Jonathan

[2021-02-25 18:34] vladaionescu commented on #813
The issue here is that internally the build context created by the clone does not preserve the `.git` dir.

It would probably make sense to keep it for consistency. I'm trying to think of any drawbacks if we did keep it...

[2021-02-25 18:38] vladaionescu commented on #796
Try this:

[code]

(and also replace `<registry-hostname>` with the right value)

`http` and `insecure` are only meant for unencrypted connection - they won't help in your case.

[2021-02-25 19:17] vladaionescu commented on #807
It's probably best if we don't allow any command other than `FROM`, `FROM DOCKERFILE` or `LOCALLY` as the first thing being interpreted.  Then we can display a meaningful error if the user forgets.

This is also relevant for the IF proposal (#779), where the user may be tempted to start off with an IF (but it doesn't work).

[2021-02-25 19:55] yonkeltron commented on #796
This makes so much more sense, kindly forgive my initial misunderstanding. Unfortunately, something still might be wrong with what I'm doing.

Here's my config:

[code]

And here's the error I am now getting:

[code]

I am going to continue playing around with setting on my end but if there is anything obviously wrong, please let me know. Also yes I am sure that `bundle.pem` is an actual PEM bundl

[2021-02-25 21:55] vladaionescu commented on #796
That's really strange... Is there anything relevant in the buildkit logs? `docker logs earthly-buildkitd`

`read /etc/config/bundle.pem: is a directory` is definitely a weird error.

[2021-02-25 21:58] vladaionescu commented on #796
From your `/Users/...` path, you're probably using a mac, right? I'll test on mac on my end too, to make sure the feature works correctly.

[2021-02-25 22:00] vladaionescu commented on #796
In parallel, can you also exec into the buildkitd container and see if you can actually read the contents of the mounted file?

[code]

and then look for `/etc/config/bundle.pem` and check that it contains what you expect.

[2021-02-25 23:16] vladaionescu commented on #796
I just tested this on my mac and I didn't encounter any issues.

(If you're feeling like it, you could run our automated test on your machine)

[code]

[2021-02-25 23:39] #807 closed

[2021-02-26 01:23] diegobernardes opened #820 "Different behavior from local and remote targets with save artifact"
I'm having some problems with saving artifacts using remote targets. I can't post the whole target code, but it looks like this:
[code]

If I run this locally it will generate the files at the target and then output them to my local filesystem, which is what we expect. But, if I run the same target remotely it does everything as expected but does not output the files.

This is the last section of

[2021-02-26 01:24] yonkeltron commented on #796
Snippet from logs from when I tried `/tmp/bundle.pem` instead of `/etc/config/bundle.pem`:

[code]

Also from when I did a `docker exec` as per the previous comment, it does look like `bundle.pem` is being created as a directory for some reason!

[code]

As for the test suite mentioned subsequently, I'll get to it ASAP!

[2021-02-26 01:29] yonkeltron commented on #796
Looks like I *cannot* run the test suite due to SSL issues!

[code]

At least I assume it's SSL/TLS issues stemming from my environment, really.

Thanks,
+Jonathan

[2021-02-26 01:40] vladaionescu commented on #820
Hi @diegobernardes - this is working as intended. Remote targets don't create local files because earthly wouldn't know where to put them exactly. The `AS LOCAL` location is relative to the Earthfile of that target. So if it's a remote target, then that dir doesn't really exist on the host system.

What you can do is either use artifact mode `earthly --artifact github.com/foo/bar:main+generate/my/

[2021-02-26 01:40] #820 closed

[2021-02-26 02:05] vladaionescu commented on #796
Ok it's clearer now. The fact that docker mounts it as a directory seems like the core issue here.

The part `["-v", "/Users/USER/Downloads/bundle.pem:/etc/config/bundle.pem"]` simply tells earthly to pass those arguments to the `docker run` command it uses to start buildkit. Maybe it's an issue with your docker installation?

Perhaps you can try something like

[code]

and see if that mounts it a

[2021-02-26 02:06] vladaionescu commented on #796
I'll be around on our Slack tomorrow if you'd like to talk a bit more interactively: https://earthly.dev/slack

[2021-02-26 02:28] vladaionescu commented on #500
I've investigated this more today. Here's what I found:

* The Earthly exporter in buildkit uses the containerd archive exporter underneath.
* The archive exporter can only produce self-sufficient image tars, it cannot produce deltas (image tars which depend on other images).
* The `docker load` command which we use to load tars resulting from a build can take an incomplete image tar as it doesn't

[2021-02-26 02:32] yonkeltron commented on #796
Holy monkey, that was it. You're all good and I just wanted to say thanks for helping me look at this enough to find the problem!

Take it easy!

Thanks,
+Jonathan

[2021-02-26 06:51] bhansconnect commented on #786
`DOCKER_BUILDKIT=1 docker build .` crashes the first time and then after that it works as expected for me. Haha.

It looks like I am hitting this bug: https://github.com/moby/buildkit/issues/1758
Maybe it is manifesting differently through earthly and just breaking caching somehow.

Anyway, I guess I am fine as just writing this off as zfs related issues, buildkit seems to have a couple of bugs re

[2021-02-26 08:22] flupke opened #823 "Cannot reference local docker images"
In our use case we build Earthly images from Docker images (official Spark binaries, which come with a build script that produces a docker image):
[code]
We then reference it in an Earthfile:
[code]
But trying to build this results in an error:
[code]
The workaround for now is to push `spark-official` to a remote repository, it would be nice if this could be avoided.

[2021-02-26 10:54] diegobernardes commented on #820
I didn't know about that, thanks for clarifying. Thinking about the remote execution I think it would be safe to assume that the root location would be the execution path at the filesystem. Maybe accept a `--workdir` at the CLI like the `-f` at Docker?

SAVE ARTIFACT ./out AS LOCAL ./out

The problem with this approach is that I would have to create two targets, one for local execution and one for

[2021-02-26 11:53] agbell commented on #786
Wow, you really hit an edge case. Thanks for diving into it.

[2021-02-26 17:25] jazzdan commented on #500
Yeah, there are two use cases. tl;dr though: mostly one image that we're iterating on constantly and only the top layers are changing.

1. When we use Earthly + Tilt Tilt will automatically trigger Earthly builds when files change, build the resulting docker image, and push it in to a local k8s's cluster image registry. This should be very fast but because there's this Earthly export step it can t

[2021-02-26 18:20] vladaionescu commented on #820
Ah interesting. If this is a template, we also have an ongoing proposal that may be of some help. Wonder if it might be useful to you in some way: https://github.com/earthly/earthly/issues/581

I think your suggestions could make sense in conjunction with a rework of how to decide whether something is output or not. I'll need to put up a proposal with that.

In the meantime, I think that `--artifa

[2021-02-26 21:09] #813 closed

[2021-02-26 21:28] vladaionescu commented on #813
This will go out with the next release.

[2021-02-27 21:02] diegobernardes opened #828 "Private git authentication problem"
I don't know if this is something that I'm doing wrong but I can't clone private repositories inside Earthly.
Running the command locally works:
[code]

The same command inside Earthly does not work:
[code]

[code]

The SSH agent is running:
[code]

I'm using `earthly version v0.5.1 darwin/amd64` without any configuration. Based on the documentation it should use the SSH_AUTH_SOCK by default, righ

[2021-02-27 21:16] diegobernardes commented on #820
I did figure out the problem and it was the way that I was executing the command, it's solved now. No problem with earthly 👍🏻

Yes, #581 will help to make the execution command simpler. It's also good to be able to share common things like how to execute tests, build, deploy, etc.. for sure I'll use it.

One idea to that proposal is to introduce an especial ARG like for example `ARGS`, the name is

[2021-02-28 01:20] alexcb commented on #828
Can you try adding the `--ssh` flag to run? That will mount your local ssh socket into the container, e.g.

[code]

[2021-02-28 11:44] diegobernardes commented on #828
🤦🏻 second time this week that I open an issue and the answer was in the documentation, sorry about the noise.
This solves the problem:
[code]

[2021-02-28 11:44] #828 closed

[2021-03-01 18:49] vladaionescu commented on #581
An interesting suggestion about pass-through args: https://github.com/earthly/earthly/issues/820#issuecomment-787141457

[2021-03-02 13:41] omerbenamram opened #830 "Using earthly with NVIDIA runtime"
Hi,

We've been using earthly for a while now and quite enjoying the flexibility we get from dockerizing operations!
One thing that is noticeably missing for us is relying on the NVIDIA docker runtime.

For example - if we want to include

[code]

There is no good way to do this now with earthly.

I've tried hacking around `--oci-worker-binary` by replacing earthly's buildkit image with an image t

[2021-03-02 18:50] vladaionescu commented on #830
I think your hacking attempts are in the right vein. What was the blocker you encountered when you set the `--oci-worker-binary` option?

I wonder if [`WITH DOCKER`](https://docs.earthly.dev/earthfile#with-docker-beta) could work for something like this. I've never tried it, but theoretically, you can install any version of docker, together with any runtime you prefer in the image you use `WITH DO

[2021-03-03 10:05] omerbenamram commented on #830
I tried `WITH DOCKER`:
[code]

But it failed with:
[code]

Regarding my tests with `--oci-worker-binary`, it booted, and I could build images regularly, but  NVIDIA runtime features didn't work. It as if this parameter was simply ignored.

[2021-03-03 16:30] mxey opened #834 "RUN --network=none"
[Dockerfile RUN supports an option --network when using BuildKit](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/syntax.md#network-modes-run---networknonehostdefault). I sometimes use "RUN --network=none" to prevent any network access for specific tests.

 I think this feature would also be useful in Earthly.

[2021-03-03 18:33] vladaionescu opened #835 "Investigate why remote cache is not working in this case"
[code]

[2021-03-03 19:17] vladaionescu opened #836 "Official support for Earthly in containerized CIs"
* GitLab
* GCP Cloud Run
* etc.

Should include tests, examples, docs etc to make this fully supported.

Related: https://github.com/earthly/earthly/issues/784

[2021-03-03 21:49] vladaionescu commented on #830
Makes sense - looks like it requires further experimentation to get it to work.

[2021-03-03 23:59] vladaionescu commented on #835
Tried this locally a few times and it seems that cache pushed from the local system can be used subsequently just fine, even if I `touch hello.txt` in-between. I don't think that the `Change` time influences it.

There could be something GitLab-related potentially. We'll need to set up a GitLab pipeline to try to reproduce.

[2021-03-04 00:25] vladaionescu commented on #835
Hey @dchw - could you take a look at this too when you experiment with GitLab?

[2021-03-04 04:24] Mdsp9070 opened #841 "How I could effectly cache the docker step?"
I have this sample Earthfile: https://www.github.com/cciuenf/lovelace_bot/tree/main/Earthfile

But obviously it does not cache anything that's docker resulted...

I'm trying to build a better one, to speed up CI, but I don't know where to start and where to improve.

Could you please give me any suggestions?

[2021-03-04 14:36] agbell commented on #841
Hi @Mdsp9070,
Does it cache steps when you rerun locally but just not in CI?

I think you may want to look at using the explicit cache:
https://docs.earthly.dev/guides/shared-cache

That will require setting up a docker hub account, and pushing to it at the end of your build, purely for caching purposes.

[2021-03-04 14:52] Mdsp9070 commented on #841
Thanks for the answer @agbell! No, actually, when Earthfile enter on the "With DOCKER" statement, it ignores the the "FROM earthly/dind:alpine" and tries to install docker and docker compose "manually".

Also, this "manual" installation does not caches...

Yeah! Last day I was reading the docs! I'll give it try!

[2021-03-04 17:32] trevrosen commented on #787
@alexcb a timestamp override (a la Buildah's recently added `--timestamp` flag) would indeed be great. I don't have a sense of the level of effort involved here though. We're very interested in using Earthly in a rootless posture to create reproducible container images.

[2021-03-04 19:00] vladaionescu commented on #841
Hi @Mdsp9070 - it looks like the chain is `+unit-test` -> `FROM +test-setup` -> `FROM +setup-base` -> `FROM hexpm/elixir:$ELIXIR-erlang-$OTP-alpine-3.12.0`. So your base image used in the `WITH DOCKER` test is not actually `earthly/dind`.

[2021-03-04 19:33] Mdsp9070 commented on #841
@vladaionescu, exactly! My doubt is how and if it's possible to use both images! Obviously I can't use 2 `FROM` statements, however with cache I could "use" both images, right?

[2021-03-04 19:37] alexcb opened #842 "repo_hash is based on current directory rather than target"

[2021-03-04 21:33] vladaionescu commented on #841
You could try to install docker in the image you are already using. If it's alpine-based, it could be as easy as `apk install docker`. If it's debian-based, it might be a little more involved. You can take a look at this script which Earthly uses to automatically install docker: https://github.com/earthly/earthly/blob/main/buildkitd/docker-auto-install.sh#L81. If you do the installation as early a

[2021-03-07 00:36] Mdsp9070 commented on #841
Indeed! I chose to go with `earthly/dind` and then install elixir! CI are blazing fast now! Thank you all!

[2021-03-07 00:36] #841 closed

[2021-03-08 14:54] zedtux opened #847 "Allow to passing an MTU value to be used by the buildkit Docker image (Gitlab CI/DinD)"
## What is happening

I'm using a Kubernetes cluster, configured in Gitlab, in order to build/test/deploy apps.

I've build my `.gitlab-ci.yml` file so that it uses the `earthly/earthly:v...` docker image and run `earthly` commands to do the actions.

My build is stuck on downloading Alpine package definition while building the Docker image of my project. I discovered that an issue with Docker in

[2021-03-08 14:55] zedtux commented on #836
Pretty sure #847 will help a lot here :)

[2021-03-08 16:14] dchw commented on #847
I wonder if auto-detecting host MTU is possible here and just matching it?

[2021-03-08 18:37] zedtux commented on #847
Even better !

[2021-03-10 21:33] benjamin-wright opened #858 "Support marking dependencies explicitly"
First off, thanks for making Earthly, it's such a neat project!

I'm trying to figure out a good way of sharing node modules in a monorepo, pushing and pulling from a private NPM registry. There may be a better way of doing this, but here's one of my Earthfiles to illustrate what I'm thinking:

[code]

And my `depenedency-module` has the earthfile:

[code]

The problem I'm hacking around is that t

[2021-03-12 02:37] alexcb opened #859 "unable to handle escaped quotes in ENV"
Here's an example of a valid Dockerfile:
[code]

However when I define the two HI and HELLO env variables, I get a parsing error:
[code]

[2021-03-12 02:40] alexcb commented on #859
It's interesting to note that both ENV definitions are required to replicate; having and earthfile with a single one such as:

[code]
works:

[code]

[2021-03-12 17:47] jazzdan commented on #708
I'm also experiencing this on GitHub with GitHub actions.

Link to Slack discussion https://earthlycommunity.slack.com/archives/C01DL2928RM/p1615570638014000

[2021-03-15 17:23] vladaionescu commented on #858
Hi @benjamin-wright - it seems that your use-case is covered by `WITH TRY --before` (a future command we're planning on adding - see [this proposal](https://github.com/earthly/earthly/issues/587)). Can you confirm that that would indeed address your problem?

[2021-03-15 20:01] benjamin-wright commented on #858
Hi @vladaionescu - almost, but I think the caching In my use case is a bit different;

For the proposed `WITH TRY --before` you have tests, and environment setup and teardown. You want the caching to be conditional on the tests, and to have no caching on the setup and teardown at all:
- if the tests are cached then you do nothing
- if the tests are not cached then you ALWAYS do both the setup and

[2021-03-15 21:04] vladaionescu commented on #858
Ah yes - it is quite different. You have an interesting use-case actually and indeed there should be an easy way to do the right thing in Earthly.

`RUN --push` would actually execute every time as it runs with no-cache. So even if that executed at the right time, it wouldn't help for your use-case.

I'll need to think about this a bit more and figure out the implications.

[2021-03-16 05:05] #859 closed

[2021-03-18 20:10] vladaionescu commented on #581
The implementation for this is complete. We decided to punt on ARGs with types and on positional ARGs, to keep it simple.

Everything else is ready, however, and will be out in the next release. Until then I will also write up some documentation for this.

[2021-03-21 07:33] flupke opened #876 "Slack invite page does not work"
https://earthly.dev/slack

![image](https://user-images.githubusercontent.com/188962/111897401-0dcc2000-8a20-11eb-869e-aa24a145913b.png)

The [link in the README](https://join.slack.com/t/earthlycommunity/shared_invite/zt-ix9rtuv8-DUFl8uxe5bFULxyCGGbqJQ) does not work either:

![image](https://user-images.githubusercontent.com/188962/111897475-5daae700-8a20-11eb-841f-5dc1c0cbe4a5.png)

[2021-03-21 10:13] flupke opened #877 "Getting complete build logs can be complicated"
Buildkit imposes a limit on logs size (default 2 MiB), and logs throughput (default 200 KiB/s). If a command reaches either limit, you get an error message and the rest of the logs is hidden, for example:
[code]
or:
[code]

Digging through similar issues of other products using buildkit, I found a way to disable these limits, which can be done in Earthly with this configuration:
[code]
(I didn't f

[2021-03-21 15:13] agbell commented on #876
Hi, Looks like our redirect is broken.  We are looking into it.
This is the link:
https://join.slack.com/t/earthlycommunity/shared_invite/zt-n5vw7fw6-7inWcey3_UNkx0FOm3bQBA

[2021-03-21 15:30] agbell commented on #876
redirect is working. Readme update to follow

[2021-03-22 15:26] agbell commented on #876
The links have been updated. I did not find a link in the readme that went directly to slack. @flupke did you find it in an old revision of the readme?

[2021-03-22 15:26] #876 closed

[2021-03-22 17:45] vladaionescu commented on #877
Hi @flupke, there may be ways to improve the code that handles this in buildkit possibly. But before we get into that, out of curiosity - what's the use-case for that amount of logging? I *think* that the gRPC limit is set at 64MB - wondering what kind of logs end up being larger than that.

Depending on the use-case, maybe it's better if the logs are saved into a file and then the file saved as a

[2021-03-22 20:50] flupke commented on #877
Thanks for the tip!

I understand the issue is on buildkit side, sorry the grpc error made me think it was related to how Earthly consumes the logs from buildkit.

The use case was to build Spark 2.4.7. You can reproduce the issue (clipped output logs, part of the log completely missing, and the random grpc error) with this Earthfile:
[code]
(you'll need to download [spark-2.4.7.tgz](https://www.a

[2021-03-22 21:48] vladaionescu opened #879 "Earthly needs to pull image configs on every run"
We're missing a bit of logic that would allow us to work offline, just based on cache.

The buildkit cache does not give us the config of the image - only the FS layers. This means we have to fetch the config from the registry on every run, for every image. This is [the part that does this](https://github.com/earthly/earthly/blob/b3e0565a8cf35756f28a979407538c87b8d54bf1/earthfile2llb/converter.go#

[2021-03-24 02:18] stk0vrfl0w commented on #708
I've been experiencing the same issue as well.

Initially, I had used the workaround suggested here:  https://earthlycommunity.slack.com/archives/C01DL2928RM/p1610568364141300?thread_ts=1610505194.098400&cid=C01DL2928RM

Lately, though, I've found that a combination of secrets in `.env` and a small git credential helper made my workflow a little smoother when requiring multiple sets of credentials

[2021-03-24 10:03] flupke opened #888 "Some operations are hindering parallelism"
It seems that `FROM DOCKERFILE` creates synchronisation points in the build graph:
[code]
Here is what happens when trying to build this:
[![asciicast](https://asciinema.org/a/uMtuEgafk5FrCn5wEDEdAbM3w.svg)](https://asciinema.org/a/uMtuEgafk5FrCn5wEDEdAbM3w)

Building a similar graph without `FROM DOCKERFILE` or with locally referenced `Dockerfile` executes `+a` and `+b` in parallel.

**Note**: I

[2021-03-24 17:09] vladaionescu commented on #888
Hi @flupke - you're right. This is a limitation in our current implementation. It affects `WITH DOCKER --load`, `WITH DOCKER --pull`, `FROM DOCKERFILE <target>`, `IF` and non-constant args: `ARG X=$(...)` and `--build-arg X=$(...)`.

Technical explanation: buildkit takes care of parallelism for the most part, however, some Earthfile operations need to inquire about the result of a previous operati

[2021-03-24 17:23] flupke opened #889 "--no-cache seems to have no effect on some steps"
Testing with earthly 0.5.7 and this Earthfile:
[code]
Here is a screencast illustrating the issue:
[![asciicast](https://asciinema.org/a/fYQqHh7FKwVWY5HgMAmhryJyK.svg)](https://asciinema.org/a/fYQqHh7FKwVWY5HgMAmhryJyK)

[2021-03-24 17:27] flupke commented on #888
Sure! https://github.com/earthly/earthly/issues/889

BTW thank you very much for the awesome support and product, Earthly is amazing <3

[2021-03-24 17:30] vladaionescu commented on #889
Seems legit.

I suspect this is caused by part of the build taking place as a separate session and having to remove no-cache when reusing something from that session. Seems that this is interfering enough to cause edge cases like this.

[2021-03-24 18:36] tchupp opened #890 "bug: docker authentication expires after a few hours causing 401 errors while building"
I have an Earthfile that extends a private image. After a few hours of using earthly, I start getting 401 errors. I'm still able to pull the image with docker pull, and running docker login doesn't have any effect.

I am able to get it working again by restarting the earthly container manually, or by changing the arguments I run with.

[code]

[This documentation](https://docs.earthly.dev/guides/a

[2021-03-24 20:07] dchw commented on #890
Author of the repository authentication docs here!

It looks like the Quay.io credentials are expiring, would be my guess. Are you using a credential helper at all? For testing, I've created a private repo on Quay and started testing there.

 What do you mean here? The arguments to Earthly?

Hopefully we can figure this out quick and amend out documentation!

[2021-03-25 05:03] tchupp commented on #890
I'm not using a credentials helper, I just logged in locally with `docker login quay.io` a few months ago and I don't have a problem when using docker directly.

Yes! That's correct.

[2021-03-25 15:32] dchw commented on #890
Interesting. I let my setup mellow overnight, and it still seemed to work this morning. I was; however building with `--no-cache` each time to ensure it went through everything. I'll let it sit more this morning and try without.

I've also been watching the auth hash: `cat /home/dchw/.docker/config.json | jq -r .auths.\"quay.io\".auth | base64 -d`, to see if it updates at all over this span, and i

[2021-03-25 17:20] tchupp commented on #890
It certainly is a hassle trying to debug this one, since it takes a few hours to even see if it pops up again 😂

[2021-03-26 00:03] vladaionescu opened #893 "Error: context canceled"
Running this specific combination of flags: `earthly --debug --verbose --no-cache --no-output -P +test` in the earthly repo causes `Error: context canceled`.

Not sure which one(s) of the flags is causing this.

[2021-03-26 00:08] vladaionescu commented on #893
I've narrowed it down to `earthly --no-cache -P +test`

[2021-03-26 00:43] vladaionescu commented on #893
Seems like this is only reproducing on my computer so far.

[2021-03-26 14:44] dchw commented on #893
I reproduced it once; but am having trouble making it happen again.

[2021-03-28 17:13] pleclech opened #895 "Earthly truncate uri while fecthing from external repo"
Hi,

I have a gitlab server installed and try to use earthly like this: `earthly foo.bar.com/pub/dev/projects.git+init`
but it fails because earthly truncate the uri : ` WARN: (GIT CLONE https://foo.bar.com/pub/dev.git) failed to fetch remote https://foo.bar.com/pub/dev.git: exit status 128`

In gitlab there can be multiple groups, sub-projects deeper inside the uri, how can i get it work ?

Thank

[2021-03-29 17:50] tchupp commented on #890
I've just encountered this again today after coming back from lunch. Here is my docker config:
[code]
As far as I can remember, it looked like this before as well.

I'm still able to run `docker pull quay.io/<org>/<earthly base image>` without any errors

[2021-03-29 18:47] dchw commented on #890
Thanks for the follow up! Rather than trying something, and waiting 4 hours... I am setting up a local repository I can use, that I configured to expire tokens more quickly. I'm still looking at it; sorry for the delay!

[2021-03-29 19:38] vladaionescu opened #896 "Proposal: Change what is being output and pushed"
This proposal gives the user more control over what is being output and what is being pushed, and also it helps prevent pushes when they are not intended in monorepo setups.

## Background

Today, the following are produced locally at the end of a successful build:

* All `SAVE ARTIFACT ... AS LOCAL ...`, with local Earthfiles
* All images with tag names (both local and remote Earthfiles)

The fol

[2021-03-30 17:08] impredicative opened #899 "Why are my stdout messages not being streamed?"
Is there any reason why earthly is not streaming my application's stdout messages as they happen? This makes earthly much worse than just using docker (which does reliably stream stdout). What do I need to do to reliably see stdout logs immediately as my application prints them?

Verbose mode (`-V`) doesn't help at all with this either, although no such mode should even be necessary for it.

[2021-03-30 17:13] vladaionescu commented on #899
Hi @impredicative - do you have a specific example that you can share to help us with debugging? We're not aware of this being an issue.

[2021-03-30 17:19] vladaionescu commented on #899
Is it a single line being updated constantly? Or multiple lines being added?

We need something to go on to figure out a way to reproduce this.

[2021-03-30 17:20] impredicative commented on #899
Batches of lines are being printed with sleeps in between. It is a long running Python application that is just using `print()`.

[2021-03-30 17:21] impredicative commented on #899
This kind of problem doesn't manifest on its own. There is some strange buffering going on in the earthly code.

[2021-03-30 17:31] dchw commented on #890
So, I _think_ I got to the bottom of this yesterday. Lets see if I can provide a decent summary. Its one of those bugs thats a confluence of a couple factors - so here it goes:

1. Quay returns the _bare minimum_ in authentication. [See here for details, heading "Token Response Fields"](https://docs.docker.com/registry/spec/auth/token/#requesting-a-token). Notably, this omits the `expires_in` fiel

[2021-03-30 17:48] vladaionescu commented on #858
Just to repeat the Slack idea for posterity: `EVAL "COPY $(cat dependencies) ."` would help for @jazzdan's issue. This could work similar to a [bash eval](https://linuxhint.com/bash_eval_command/).

[2021-03-30 18:34] impredicative commented on #899
Eventually the messages are displayed. The delay seems to be random, and can be many minutes. The delay seems to vary greatly from one run to another.

[2021-03-30 19:03] impredicative opened #900 "Using -D (debug) killed other running earthly process"
Job A was running without `-D`.

Job B was started with `-D`. This printed the following and killed job A:

[code]

Overall this tool is too amateurish for me to use. Bye.

[2021-03-30 19:46] tchupp commented on #890
Wow! That's some crazy digging you did!! I really appreciate it 😁
I see the line

But you also say

Is this a bug with buildkit/containerd then?

[2021-03-30 19:53] dchw commented on #890
Yep. We need a fix in one of those, somewhere. Exactly the discrepancy that we need to solve or compensate for somewhere.

[2021-03-31 16:47] jazzdan commented on #500
This is still a big chunk of build times for us 😬

[code]

[2021-03-31 17:21] axzfkdpmrzrheue commented on #899
@impredicative `print` could delay a flush. Use `logging`.

[2021-03-31 18:43] #847 closed

[2021-03-31 23:34] #899 closed

[2021-04-01 04:59] axzfkdpmrzrheue commented on #900
It is convention to link to a preexisting open issue if there is one. To close what looks to be a legitimate issue can be classified as unethical and unprofessional maintainer conduct under the Code of Conduct. Furthermore, blocking a frustrated user who reports a legitimate issue is per a highly subjective and one-sided interpretation of the CoC, ultimately leading to a technically inferior produ

[2021-04-01 05:03] axzfkdpmrzrheue commented on #895
In the interim, would a quoted URL work, e.g. `foo.bar.com/pub/dev/projects.git%2Binit` ?

[2021-04-01 17:40] vladaionescu commented on #900
Hi @axzfkdpmrzrheue - you're right and we owe an explanation.

We blocked @impredicative because of their tone and their repeated abuse across multiple channels. This is by no means intending to limit criticism - we welcome it with open arms and encourage the community to continue to give us valuable feedback in a respectful manner. We, however, do not tolerate abusive behavior or angry comments t

[2021-04-01 19:55] vladaionescu opened #904 "Required ARGs"
Some UDCs (or even targets) could benefit from strictly required ARGs - ARGs that must be passed in, in order for the command (or target) to work.

This helps eliminate cases where the user is chasing their tail trying to figure out what's wrong when an ARG is unexpectedly set to `""` when declared as `ARG something` and no value is provided on the call itself.

Sytanx suggestion:

[code]

Require

[2021-04-02 01:53] axzfkdpmrzrheue commented on #900
@vladaionescu If this had been said before the ban to @impredicative, I doubt the reaction would have been as negative. I see a failure of appropriate communication on both sides.

Earthly is a fascinating project but _permanently_ banning a user who was fundamentally trying to seek support is troubling. A timed ban allows people to take time to calm down, adjust, then continue for the greater goo

[2021-04-02 16:29] vladaionescu commented on #900
Thanks - we'll take this into consideration.

[2021-04-02 17:07] dchw commented on #890
I'm not seeing a ton of traction on the bug I opened with buildkit. I made an 9admittedly crude) fix. I'll submit it over there to press the issue a little bit.

[2021-04-02 17:47] jazzdan commented on #712
This is also happening to me:

[code]

[2021-04-03 05:03] axzfkdpmrzrheue commented on #900
Great. In turn I request @impredicative to exhibit good will, give Earthly a chance and of course adhere to the code of conduct. If angry, take time off before responding, so as to be constructive.

[2021-04-05 15:19] dchw commented on #890
@tchupp Sorry resolving this is taking so long! Just letting you know we haven't forgotten you!

[2021-04-05 23:59] vladaionescu commented on #888
Note that there are some known issues with this feature:

* Random `context deadline exceeded` returned by buildkit for large builds, or for moderately-sized builds running on underpowered or virtualized setups (e.g. Mac, Windows).

Will keep this open until known issues are addressed.

[2021-04-07 11:15] MatthiasScholzTW opened #917 "Usage Question: Exposing Ports - Running a temporary service"
# Summary

How to use `earthly` to run some build steps as a service?
This would require exposing ports on the local development machine.

# Background

I am currently evaluating `earthly` as a build and local development ecosystem to provide developers a consistent experience without the need to install build dependencies locally. It seems `earthly` is a great fit so far.

One use case I can not

[2021-04-07 18:42] tchupp commented on #890
I've been following along in the other repos as well! Thank you for the updates 😁

[2021-04-07 21:06] alexcb commented on #917
Thanks for the question @MatthiasScholzTW

You're on the right track with the workaround you thought of. We're currently working on a feature to run code locally (via the LOCALLY target), which will avoid having to write a wrapper around earthly.

The LOCALLY feature is currently experimental; however the following should work with the latest (v0.5.9)

here's a quick example I put together with ru

[2021-04-08 08:13] MatthiasScholzTW commented on #917
Thanks a lot for the quick reply!

I adapted the workaround you suggested with the help of the example you provided and it works in my context as well. :)
Looking forward to the new feature release.

For reference this is how it looks like now:
[code]

[2021-04-08 08:13] #917 closed

[2021-04-09 20:14] mhvelplund opened #920 "Is it possible to build a dynamic list of targets with Earthly"
I've been considering the [Earthly](https://docs.earthly.dev/) build automation tool as a replacement for Make in my project. I have a mono repo with a root Makefile, that has a target that scans for subfolders with Makefiles, and builds those with `make -C some_subfolder`.

Looking at the documentation for Eartly, the only way I can see to support those builds is to make a static lists of subfold

[2021-04-09 20:20] vladaionescu commented on #920
Hi @mhvelplund - it sounds like you need a `FOR ... IN ...` as described here: https://github.com/earthly/earthly/issues/779?

[2021-04-09 20:51] mhvelplund commented on #920
Yes!

I was looking at the possibility of making my own for loop with a recursive user command and and if statements, but it feels like working against the grain of Earthly somehow ...

[2021-04-09 21:35] mhvelplund commented on #920
This works, but it makes me feel unclean :)

[code]

[2021-04-10 01:57] stk0vrfl0w opened #922 "Credentials are leaked on `GIT CLONE` failures via https"
When `GIT CLONE` over https fails, the credentials stored in the earthly configuration file are leaked to screen.

**earthly --version**
[code]

**~/.earthly/config.yml**
[code]

**earthly github.com/stk0vrfl0w/private-repo-failure:main+test**
[code]

Note the final `internal` line where the URL is printed twice -- once with the password obscured and the latter with it in plain view.

[2021-04-10 02:08] vladaionescu commented on #920
Hah! Yeah, you shouldn't have to do recursion for something so simple :D

[2021-04-10 02:08] vladaionescu commented on #920
I'll close as duplicate. Feel free to leave any feedback on that other issue.

[2021-04-10 02:08] #920 closed

[2021-04-10 02:09] vladaionescu commented on #920
Duplicate of #779

[2021-04-12 09:48] MatthiasScholzTW commented on #578
It seems the link is broken. The closed I could get was finding this part of the documentation:

- https://docs.earthly.dev/docs/guides/configuring-registries/aws-ecr

Nevertheless I feel this is only part of the solution. Since AWS credentials might be needed for other actions than pulling and pushing images from or to an AWS ECR repository. E.g. running some infrastructure provisioning to create

[2021-04-12 12:59] kidd opened #923 "bootstrap tries (and fails) to get earthly bash completions"
Hi. Very promising project! I'm eager to give it a go
It looks like `earthly bootstrap`  tries to find bash completion files.

[code]

[2021-04-12 15:04] dchw commented on #578
@MatthiasScholzTW What I have been doing (that seems to work fine) is mount the secrets as files into the usual places for the tooling to use. See [this section of this blog post](https://earthly.dev/blog/build-your-own-ngrok-clone/#create-using-earthly), where I am using the `awscli` tool to build all sorts of resources.

I agree it could be a little better if the `--secret-file` let you specify

[2021-04-12 17:19] vladaionescu commented on #923
Hi @kidd - can you give us some more context about your operating system?

I *think* you just need to do `sudo earthly bootstrap` for `earthly` to have permission to install that.

[2021-04-12 22:47] kidd commented on #923
Thanks for the response!

I'll try later with sudo, but it might be interesting to drop the sudo requirement, if it's for non-essential things like autocompletion.

[2021-04-12 23:00] vladaionescu commented on #923
Yeah, that might be good for the future. Currently we do start a privileged container to run buildkit. We might be able to rely on rootless buildkit in the future, though, and that will relax the requirements.

[2021-04-12 23:47] alexcb opened #927 "disallow locally/privileged execution of non-trusted sources"
Earthly can build from a remote target, e.g. `earthly github.com/earthly/earthly:main+for-linux`; however with the addition of the `LOCALLY` directive (and `--privileged` RUN flag), we should disallow execution from remote targets unless a user explicitly lists a repo as being trusted.

We currently have a PR to deny these under https://github.com/earthly/earthly/pull/926 but need to come up with

[2021-04-13 12:00] kidd commented on #923
Just for posterity, in an ubuntu 20.04 it failed until I ran with sudo.
NixOS could run `bootstrap` without sudo though.

Not sure about the details, and now it's too late to try again I guess.

Anyway, now it's installed in both. :)

[2021-04-13 12:00] #923 closed

[2021-04-13 17:16] alexcb commented on #927
TODO: Is there a way we can append to the list of trusted repos rather than

     earthly config --add trusted githhub.com/org/repo
     earthly config --append trusted '["githhub.com/org/repo", "githhub.com/user"]'

what about removing via the command line?

     earthly config --unset trusted # clear the entire list
     earthly config --remove trusted githhub.com/org/repo # remove a single repo

[2021-04-13 17:26] alexcb commented on #927
IMPORT, FROM, and DO should accept the small form too:
`--allow-privileged, -P`

And when running LOCALLY, we need to specify `--allow-privileged, -P` when running earthly.

unsafe:
    LOCALLY
    RUN docker run -P alpine:latest echo hey look i'm running under privileged.

# this should fail (but currently works)
earthly github.com/alexcb/locally+unsafe

# this needs a -P
earthly -P github.com/al

[2021-04-13 22:19] vladaionescu commented on #500
Some more research into the registry idea:

* It seems that we could write [a new storage driver for the Docker registry](https://docs.docker.com/registry/storage-drivers/)
* The driver needs to implement the [StorageDriver interface](https://github.com/distribution/distribution/blob/6891d948327ffbee1a9e7ec2f288f708d611e613/registry/storage/driver/storagedriver.go#L41). Given that the registry is

[2021-04-14 02:30] vladaionescu commented on #500
Ok, running a headless registry isn't very hard. I was able to do it [here](https://github.com/earthly/buildkit/pull/39/files#diff-a0c1aac417313a54732af7496ab87c6ac991af453aa6d5e4759edd4977e274b8) - as far as I can tell it's working fine as I was able to push a test image to it. Will look into implementing the storage driver next.

[2021-04-14 17:00] alexcb commented on #927
here's an example of how the allow-privileged flag will work, consider two repos A and B
[code]

When a user runs `earthly -P github.com/a/a+alpha`; they will see:

[code]

later on consider repo b decides to change the Bravo target to reference a trusted repo c:

repo: github.com/b/b

Bravo:
    FROM -P github.com/c/c+charlie
    RUN --privileged echo whatever

repo: github.com/c/c

charlie:

[2021-04-15 23:59] alexcb opened #928 "failed to fetch remote git@github.com:earthly/hello-world.git: exit status 128"
earthly will attempt to use git ssh keys when accessing github if it 1) detects SSH_AUTH_SOCK is set, and 2) one or more ssh keys are loaded. However this will fail if none of the loaded keys are able to auth with github.

We should have it fall back to http when ssh fails instead of using our current heuristic.

steps to reproduce:

[code]

Currently a workaround is for the user to set `SSH_AUTH_

[2021-04-16 15:37] alexcb opened #930 "add support for netrc"
Some users use a .netrc file to store github auth tokens, we should support using this file for authenticating.

Our heuristic could be: 1) read auth settings from ~/.earthly/config.yml, 2) look for a ~/.netrc file, 3) look for SSH_AUTH_SOCK, 4) fall back to public https-based access without any auth.

[2021-04-17 01:14] alexcb opened #931 "add '-P' flag for --allow-privileged (and swap out flag lib to one that can support short and long flags)"
I wonder if this works as a workaround for not supporting short-form flags?

[code]

_Originally posted by @vladaionescu in https://github.com/earthly/earthly/pull/926#discussion_r615169272_

[2021-04-19 14:39] flupke opened #932 "FROM DOCKERFILE --build-arg seems broken"
Trying to build the following Eartfhile:
[code]
You get this output:
[code]
You can see that:
- only one `RUN java -version` is executed, I would have expected three separate runs
- only the defaut value of `java_image_tag` is used, building `+java-8` uses the `11-jre-slim` image
- `RUN echo ${java_image_tag}` does not print anything

This makes me wonder if `--build-arg` are passed at all.

[2021-04-19 18:25] flupke commented on #932
Ah you're right that explains point 3 :)

[2021-04-19 21:51] #932 closed

[2021-04-19 21:51] vladaionescu commented on #932
Found the issue - this will go out with the next release.

[2021-04-19 23:40] vladaionescu opened #936 "Locally COPY inconsistent with regular COPY"
Under `LOCALLY`, doing

[code]

results in `./some-other-name/dir` instead of just `./some-other-name`. This seems like a bug.

[2021-04-20 16:58] vladaionescu opened #938 "Under LOCALLY commands from different targets should not alternate"
Reasons:
* Easier to follow the output
* Less likely that the targets conflict with each other in ways that make the build inconsistent

Part of #580

CC @alexcb

[2021-04-20 21:21] vladaionescu commented on #932
This is out in `v0.5.10`

[2021-04-23 15:13] zdog234 opened #941 "Native Windows Installation?"
Hi, based on #864 , I'm guessing that this is already in your backlog, but I just wanted to check:

Are there plans for a native windows installation?

More and more people in my org are switching to either WSL 2 or MacOS, but there are still a decent number of people who are still just on windows.

Thanks :)

[2021-04-23 15:17] josephlewis42 opened #942 "Add documentation about security stance and hardening"
It would be awesome to have some docs describing the default security stance and threat model of the earthly tool as well as ways to harden it e.g. by using podman #760, or container runtimes like [gVisor](https://gvisor.dev/).

If I've missed this in the docs somewhere maybe the security docs could be un-nested?

[2021-04-23 23:58] vladaionescu commented on #942
Makes sense - we don't have this yet. It would be great to show support for `runc` alternatives. #830 also requests this. Buildkit has configurable settings for this kind of stuff, but we've never tested if they work fine in Earthly.

[2021-04-24 00:00] vladaionescu commented on #941
Yes - it's on the backburner. @dchw is working on that as a side pet project. Thanks for being patient with us, we had tons of requests lately.

Duplicate of #544

[2021-04-24 00:00] #941 closed

[2021-04-25 01:36] duck1123 opened #946 "Global ARGs not set in commands"
I am unable to read the value of a global argument from a command unless I explicitly pass that value as an argument

Using the file

[code]

+build produces

[code]
Based on the documentation, I would expect at least the first case (referencing a global without that arg specified in the command) to return ` value-in-global`

[2021-04-25 09:41] MatthiasScholzTW commented on #578
Thanks for the providing this detailed examples. It illustrates well how a possible solution could look like.

Unfortunately it is not applicable for my use case since I am using [aws-vault](https://github.com/99designs/aws-vault) (a handy tool increase security by avoiding storing AWS credentials in plain text) to create temporary credentials. It works like this: `aws-vault exec <profile> -- eart

[2021-04-26 16:39] n-rodriguez commented on #619
hi there! any news?

[2021-04-26 17:40] vladaionescu commented on #619
I'll add this to the roadmap as this has been requested quite a bit.

[2021-04-26 19:16] dchw commented on #890
Finally upstream has updated. I'll be sure to ping back once we pull in upstream buildkit with this change... and this long adventure will be over.

[2021-04-26 19:54] #946 closed

[2021-04-26 19:56] vladaionescu commented on #946
A fix for this will go out in the next release.

[2021-04-26 22:26] #619 closed

[2021-04-26 22:34] vladaionescu commented on #619
This will go out with the next release.

The syntax is

[code]

or

[code]

Or any combination of the above.

[2021-04-27 19:35] vladaionescu commented on #619
This has now been released.

[2021-04-27 19:36] vladaionescu commented on #946
This has now been released.

[2021-04-27 20:58] alexcb commented on #922
I opened up a PR for buildkit under https://github.com/moby/buildkit/pull/2091 to take care of this.

[2021-04-28 01:21] alexcb commented on #928
work in progress in https://github.com/earthly/earthly/pull/955

[2021-04-28 08:31] n-rodriguez commented on #619
awesome!

[2021-04-28 12:09] zedtux commented on #487
I have a use case here where the `--pull` is not an option as the image used will pull plenty of other images.

I have a [codequality](https://gitlab.com/pharmony/linguiini/-/blob/master/Earthfile#L226-253) stage which runs the `registry.gitlab.com/gitlab-org/ci-cd/codequality` Docker image, which loads the `codeclimate/codeclimate` image, which loads [a lot of other Docker images](https://github.

[2021-04-28 16:08] dchw commented on #487
An interesting discrepancy here would also be that the `"auths"` section may be incorrect, as the user may have some credential helpers installed. `--pull` also allows us to leverage whatever the user has going on there. We would need to be more selective about what we pull in from the users `config.json`.

[2021-04-28 17:06] vladaionescu commented on #487
Interesting... another disadvantage is that if you pull all those images via the DinD and not via `--pull`, then they wouldn't be cached on the next run. A workaround would be to list all the images in `engines.yml` as `--pull` instructions (although I can see that it's an imperfect solution).

[2021-04-28 19:38] alexcb commented on #922
Now that it's been merged upstream, we'll need to update our buildkit: https://github.com/earthly/buildkit/pull/40

[2021-04-28 19:53] dchw commented on #890
Integrating the upstream change: https://github.com/earthly/buildkit/pull/40

[2021-04-28 20:49] alexcb opened #958 "cli accepts arguments after a target but doesn't validate (or use) them."
It's possible to run this:

    earthly --no-cache +test --what-is-going-on-here=???

and it doesn't produce any error.

This can be extra confusing where one specifies a `--build-arg` after the target, which gets ignored. for example:

Earthfile:

[code]

This works:

[code]

however if you change the order to this, it ignores the build-arg value, which is rather confusing:

[code]

[2021-04-28 21:03] vladaionescu commented on #958
These are the new style args BTW. This is similar to how build args can also not be used and it's not an error.

Docker provides a warning in such cases. Perhaps we can do the same.

[2021-04-28 21:20] alexcb commented on #958
That sounds like an idea fix; I wonder if adding a quick check for any keys named `build-arg`?

[2021-04-28 21:27] vladaionescu commented on #958
Yeah, that's probably useful during the transition. It's unlikely that anyone will name their ARG `build-arg`.

[2021-04-28 21:30] alexcb commented on #922
Thanks for the report @stk0vrfl0w , it's been fixed in our main branch and will be in our next release.

[2021-04-28 21:30] #922 closed

[2021-04-29 20:38] alexcb opened #961 "change git protocol from string to new type"
This might be a nit; but the only thing I would do in addition here is maybe enumerate the protocols to make it clearer down the line. Like:

[code]

This would ensure that git protocols stay on the rails? At the very least I would move them into a constants list and name them, the type just helps them only get used where they should be used.

_Originally posted by @dchw in https://github.com/eart

[2021-04-30 15:46] alexcb opened #962 "Create test for auto SSH"
create a new test similar to https://github.com/earthly/earthly/blob/main/scripts/tests/secrets-integration.sh that covers more edge cases.

e.g. the ssh agent is running and has an unauthorized key loaded.

_Originally posted by @alexcb in https://github.com/earthly/earthly/issues/960#issuecomment-830186148_

[2021-05-04 16:24] alexcb commented on #579
Here's a working example of this:

Earthfile:
[code]

example run:
[code]

[2021-05-04 22:39] dustinknopoff opened #968 "buildkit error: listen unix /run/buildkit/buildkitd.sock: bind: file name too long"
Running on a MacBook Pro 2016" with the following Docker daemon config

[code]

and using osxfs for file sharing

<details>
<summary>Buildkit logs</summary>
<pre>
<code>
starting earthly-buildkit with EARTHLY_GIT_HASH=4441aa72487b448d1a3e94cb0ae6afc1ad02ce96 BUILDKIT_BASE_IMAGE=github.com/earthly/buildkit:1a82cfa6da7ded99737dd2f38d8ef70a1bfcc0fd+build
BUILDKIT_ROOT_DIR=/tmp/earthly/buildkit
CACHE_

[2021-05-05 10:11] vladaionescu commented on #579
Wonder if such an example should be shown in our docs somewhere too.

[2021-05-05 10:20] vladaionescu commented on #968
Hi @dustinknopoff, no idea what might be causing that. What version of the Docker Desktop app are you using? Are you able to update to the latest and try with that?

[2021-05-05 10:36] dustinknopoff commented on #968
I'm on Docker desktop version 3.3.1

[2021-05-05 12:23] vladaionescu commented on #968
I was able to reproduce this on my M1 Mac, when disabling gRPC file sharing (so using osxfs file sharing) and specifying a `"data-root"` in the Docker Engine config.

Errors from some experimentation:
* osxfs + custom `"data-root"`: `buildkitd: listen unix /run/buildkit/buildkitd.sock: bind: file name too long`
* gRPC + custom `"data-root"`:  `buildkitd: listen unix /run/buildkit/buildkitd.sock: b

[2021-05-05 13:04] vladaionescu commented on #968
Seems that it's related with this piece of buildkit code:

https://github.com/moby/buildkit/blob/4e69662758446c7dc0e6de2bc1f7973d03bacbed/cmd/buildkitd/main.go#L395-L408

Due to the `data-root`, it's attempting to use a socket file for speedup improvements. I think that via some config we may be able to force it to use gRPC as a temporary workaround for this bug.

[2021-05-05 18:17] j-martin opened #970 "Feature - Allow create K8S pods and run command on K8S"
Similar to how `DOCKER --compose` is used. Our use case is that our Jenkins cluster is running on GKE/K8S and `docker compose` is a no-go for integrations tests or things that go beyond build.

Just like `DOCKER --compose` we would pass a pod manifest.

[2021-05-06 01:14] dustinknopoff commented on #968
Just verified it also doesn't work on Docker Desktop version 3.3.2

[2021-05-06 06:40] vladaionescu commented on #968
Talked to the Docker team and I believe the root cause is that the socket file cannot work across a host share. Having a data-root pointed at a host directory means that the Linux VM needs to mount that directory in it. There's currently no way to place a Linux socket file into a mount from macOS.

We will be exploring supporting non-socket-file communication between the earthly process and the bu

[2021-05-06 13:59] vladaionescu commented on #970
Hi @j-martin if you'd like to spin up pods in the existing underlying k8s cluster as part of integration tests, you'd probably need this proposal rather? https://github.com/earthly/earthly/issues/587 Curious what you think of it.

Note also that Earthly on top of k8s may be tough as we run a privileged container for a buildkit daemon. We're planning on rootless support in the future though.

[2021-05-06 15:28] alexcb commented on #931
We decided to only support the `--allow-privileged` flag as it's more obvious to users as to what it's doing. The underlying parsing library has been switched to require two hyphens (`--`) for all long flags.

[2021-05-06 15:28] #931 closed

[2021-05-06 16:06] j-martin commented on #970
Hi, @vladaionescu I think #587 would be more of a stop-gap measure, but yes it would work. Ultimately, I would hope for a native support of k8s, as in, you pass the pod manifest and the cluster (host and auth if necessary) and Earthly takes it from there.

As you noted unprivileged image building would go hand in hand.

As far as building images currently we use a combination of privileged docker

[2021-05-07 12:22] vladaionescu commented on #970
Thanks for the context - that helps a lot for our future planning!

[2021-05-07 15:21] vladaionescu commented on #615
Hi @rulatir - FYI, we recently shipped support for `FROM DOCKERFILE -f`.

[2021-05-07 15:37] vladaionescu opened #971 "Support CI-specific tokens"
GitHub and GitLab pass `GITHUB_TOKEN` and `CI_JOB_TOKEN `, respectively, to their CI runs, so that the CI can access the repository for basic things such as checking out the code.

It would be great if Earthly could pick these up automatically to configure git auth, in case the CI workflow needs to reference targets in other repos, or even access another branch of the same repo.

This would simpli

[2021-05-07 15:46] #708 closed

[2021-05-11 23:00] dchw commented on #890
With the release (just now) of https://github.com/earthly/earthly/releases/tag/v0.5.11, yes.

[2021-05-11 23:00] #890 closed

[2021-05-13 00:13] alexcb commented on #962
A number of tests for authenticating with (and without) ssh have been created under https://github.com/earthly/earthly/tree/main/scripts/tests/auth

[2021-05-13 00:13] #962 closed

[2021-05-13 02:10] #928 closed

[2021-05-13 02:13] alexcb commented on #927
Rather than listing repos in a trusted section of a config, we shifted the configuration to the Earthfiles themselves via the `--allow-privileged` flag, as documented under https://docs.earthly.dev/docs/earthfile#allow-privileged

[2021-05-13 02:13] #927 closed

[2021-05-13 14:41] darkvertex commented on #544
Besides Windows native binaries, do you reckon real Windows containers support will be possible in Earthly in the future if buildkit eventually works on Windows?

It is not currently functional in any stable capacity, but there seems to be a lot of slow yet regular progress towards that goal:
- https://github.com/microsoft/Windows-Containers/issues/34
- https://github.com/moby/buildkit/issues/616

[2021-05-13 15:16] vladaionescu commented on #544
Hi @darkvertex - yes. We're waiting for upstream support to support Windows containers ourselves. As you point out, it seems that there has been some progress there from the Docker community in the past couple of months.

[2021-05-13 15:28] farwydi opened #980 "panic on hello-world"
i got this error on WSL2

After:
[code]

[code]

[code]

[2021-05-13 15:33] vladaionescu commented on #980
Thanks for the report @farwydi - can you post your `~/.netrc` file, with any sensitive information redacted out?

[2021-05-13 15:58] alexcb commented on #980
I can replicate this if I create an invalid netrc file; e.g.

    echo "invalid netrc file" > ~/.netrc; SSH_AUTH_SOCK="" ./build/linux/amd64/earthly github.com/earthly/hello-world:main+hello

[2021-05-13 17:31] alexcb commented on #980
https://github.com/earthly/earthly/pull/981 should fix this issue.

[2021-05-13 20:11] farwydi commented on #980
[code]

I don't remember why I need this file, but I just deleted it and it worked.
Thank you for such a quick response!

[2021-05-13 20:11] #980 closed

[2021-05-14 09:50] parnham commented on #581
I've been testing this feature out and I like the concept but was wondering if the declaration could be made a little less verbose?
Since you would usually define a bunch of arguments for a command, such as
[code]

Could that not be declared in a shorthand way
[code]

And potentially even allow for default values
[code]

[2021-05-14 23:44] alexcb commented on #781
We have created deb and rpm package repositories and have some setup instructions under https://docs.earthly.dev/docs/misc/alt-installation#installing-from-earthly-repositories

[2021-05-17 17:06] alexcb opened #986 "Create repositories for distributing .rpm and .deb packages of earthly for linux users"
We have .rpm and .deb packages distributed by our own yum and apt repos.

See https://docs.earthly.dev/docs/misc/alt-installation#installing-from-earthly-repositories for instructions on setting up our repos.

If you run into any issues, please leave feedback in this ticket.

[2021-05-18 13:24] jamesalucas opened #988 "Force output on failure"
I am running unit tests under Earthly and everything is perfect when the unit tests succeed - a junit.xml file is written via an 'SAVE ARTIFACT AS LOCAL' statement and can be picked up by our CI server. However, when a test fails the command also fails and Earthly returns a non-zero exit code back to our CI server (which is good) but no output is written, so the CI server is unable to show which t

[2021-05-18 14:55] vladaionescu commented on #988
Seems like a very valid use case.

It can be achievable via the `WITH TRY` proposal + the UDC extension potentially: https://github.com/earthly/earthly/issues/587

Though I admit that the syntax requires putting the SAVE ARTIFACT in a UDC, which is not as readable for a simple case like this.

Maybe something like this would be nice for this use case?

[code]

[2021-05-18 20:25] jamesalucas commented on #988
In my case my unit test command is already within a UDC so that's not a problem, but the alternative syntax you proposed looks great and very intuitive. 👍🏻

[2021-05-18 20:36] vladaionescu commented on #587
In https://github.com/earthly/earthly/issues/988#issuecomment-843242684 there is a case to be made for more explicit versions of `FINALLY` (and possibly `CATCH`), which do not necessarily have to go through a UDC.

[code]

or even

[code]

This could work with the "before" semantic like this:

[code]

If this syntax is to be chosen, then the UDC or target forms are unnecessary as they can be repla

[2021-05-18 22:50] vladaionescu commented on #675
This is now complete and GA'd, I believe. Marking as done :tada:

[2021-05-18 22:50] #675 closed

[2021-05-19 21:54] vladaionescu opened #991 "Proposal: VERSION entry"
## Background

One of the key reasons for using Earthly is the consistency in which builds are executed. While this is important, Earthly itself is under constant development and is evolving. By that definition, Earthly will evolve over time in the way it executes builds, and thus to some extent they will no longer be as consistent with the way a previous version of Earthly would produce results.

[2021-05-20 13:52] JensRantil opened #994 "GIT CLONE doesn't document that it's shallow"
I'm writing an Earthly target which wanted to look at the git history of repository. https://docs.earthly.dev/docs/earthfile#git-clone doesn't document that the clone is shallow, and when I debug in interactive mode I noticed that the checked our repo is shallow:
[code]

Expected: That it's documented in https://docs.earthly.dev/docs/earthfile#git-clone. Bonus if it's also possible to do a full cl

[2021-05-20 17:56] alexcb commented on #991
The one drawback to one day requiring the `VERSION` and subsequently saying we'll eventually stop supporting old versions is simple Earthfiles will still have to be maintained even if nothing inside them are changing. For instance our hello world Earthfile is desgined to be run as `earthly github.com/earthly/hello-world:main+hello`, it's just essential a FROM and a RUN and should work with all ver

[2021-05-20 19:56] vladaionescu commented on #991
That's true. Hmm.. maybe it becomes mandatory in strict mode only?

Without it, it may be hard to figure out what it should default to. For now, it can default to `0.5`. But for very far in the future Earthly versions, we probably don't want to maintain compatibility so far back. So perhaps what it defaults to might evolve from version to version. E.g. version `v0.11.7` of Earthly might default to

[2021-05-21 12:48] mxey opened #996 "Build arguments affect cache reuse of parent target if cache mounts are used there"
Given this Earthfile:

[code]

Since `MYARG` is not in scope in task `+a`, it should not affect it at all.

Running Earthly twice with same value for build arg `MYARG`:

[code]

[code]

As you can see and as expected, everything is cached.

Now running Earthly with a different value for `MYARG`. The target `+a` should still be cached, but it's not:

[code]

Now removing the cache mount from the `R

[2021-05-21 18:27] alexcb commented on #986
**autocompletion fails when switching from curl-based install to deb-based install**

To work around this, run:

[code]
We will fix the deb packages to address this post-install issue.

[2021-05-21 21:21] vladaionescu commented on #996
Hi @mxey - many thanks for the detailed repro. Extremely helpful!

It's now fixed in https://github.com/earthly/earthly/pull/1000 and will most likely go out with the next release.

[2021-05-21 21:37] #996 closed

[2021-05-22 00:40] vladaionescu commented on #500
Seems that my intuition has been right so far. The `StorageDriver` activity is very close to the `MultiProvider` activity.

I forked the `filesystem` storage driver of the registry and added debug statements in the reader call and got this output when pulling a particularly simple image. You can make out the manifest read and then the individual blob reads: config & layers (but only the layers tha

[2021-05-22 16:22] vladaionescu commented on #500
Enabling some `List` and `Stat` debug info seems to reveal that `List` is not used. `Stat` should be easy to emulate.

<details><summary>Debug output reader+list+stat</summary>
<p>

[code]

</p>
</details>

[2021-05-24 00:54] vladaionescu commented on #500
I have a hacky proof-of-concept working. I was able to build something with Earthly and then plug it into the registry and pull from it:

[code]

Notice the `540db60ca938: Already exists`.

I still need to figure out these two items:

* When to GC old `MultiProvider`s is a possible challenge. The client would need to somehow signal to the exporter that it's done pulling everything it needs so it c

[2021-05-25 01:31] vladaionescu commented on #500
Got this one sorted through a session attachable:

* ~When to GC old MultiProviders is a possible challenge. The client would need to somehow signal to the exporter that it's done pulling everything it needs so it can free up the resources. Possible (hacky) idea: the exporter makes available a dummy file for export. The client only reads it when it has finished with all the pulls. Then the exporte

[2021-05-25 12:31] Anton-4 opened #1004 "error committing: invalid mutable ref: failed to mount cache"
The following command used to fail very sporadically for us, but it is now failing fairly often:
[code]
This errors with the output:
[code]

This [buildkit issue](https://github.com/moby/buildkit/issues/1956) seems to be the cause.

I have no experience with go so trying to fix the buildkit issue would be very time-consuming.
Instead, I'd like to fork earthly to log this error but continue executi

[2021-05-25 12:49] mxey opened #1005 "Reference different branch in local repository"
I have a repo where I use Earthly where I'd like to have access to the artifacts of another branch. I can use the fully qualified target reference `gitlab.example.com/my/repo:branch+target` which makes Earthly clone that repo. But since I already am in that repo, it would be faster to just say `./:branch+target` and have Earthly check out the branch from the local repo. That does not work though.

[2021-05-25 16:24] vladaionescu commented on #1005
You could use the [builtin arg](https://docs.earthly.dev/docs/earthfile/builtin-args) `EARTHLY_TARGET_PROJECT` to form something like this

[code]

[2021-05-25 17:25] Anton-4 commented on #1004
Here is the bash script for anyone sharing the same faith:
[code]

[2021-05-25 17:45] alexcb opened #1006 "build-args"
Consider an Earthfile:
[code]

It fails to build when `VERSION=$(cat version)`:
[code]

However once it's wrapped in quotes, like this:

[code]

it works:

[code]

[2021-05-25 17:50] agbell opened #1007 "Quoting Building Args Required?"
Given:
[code]
The result is an error:
[code]

However quoting works:
[code]

Result:
[code]

We document the use of unquoted build args without quotes [here](https://docs.earthly.dev/docs/earthfile#build):
[code]

It's not clear to me whether this is a bug, or whether our docs just need to be updated to reflect required quoting.

[2021-05-25 17:51] agbell commented on #1007
Duplicate of #1006

[2021-05-25 17:51] #1007 closed

[2021-05-25 17:52] agbell commented on #1006
We document the use of unquoted build args without quotes [here](https://docs.earthly.dev/docs/earthfile#build):
[code]

[2021-05-25 21:44] vladaionescu commented on #1004
I wonder if increasing the cache size makes this occurrence rarer for you, as another workaround. Perhaps when the cache GC kicks in and clears this cache mount, it causes an issue with the next run not being able to use it. Larger cache would mean that this happens more rarely. https://docs.earthly.dev/docs/earthly-config#cache_size_mb

[2021-05-26 08:15] Anton-4 commented on #1004
Thanks for your help! Yes, I was also thinking the cache size could be involved here. I have increased the cache size to 25 GB. Is there any way to log the amount of free space on the cache or log when the cache is being cleared?

[2021-05-26 08:21] Anton-4 commented on #1004
I suppose ideally the cache should never be cleared midrun. Perhaps earthly/buildkit should work with a soft and a hard cache size limit. On exceeding the soft limit, the cache is cleared after the last command is run. On exceeding the hard limit it is cleared more instantly.

[2021-05-26 15:18] mxey commented on #1005
Would this make Earthly clone locally or is just shorthand to avoid repeating the repository reference?

Using it gives me this error, however:

[code]

[code]

[2021-05-26 17:33] vladaionescu commented on #1004
Yeah, normally it doesn't clean up so aggressively. I think that the buildkit issue you referenced may be the root cause here.

[2021-05-26 17:38] vladaionescu commented on #1005
It would actually clone that branch locally, within the buildkit cache.

@alexcb - any idea where this is coming from?

[code]

[2021-05-26 17:42] alexcb commented on #1005
That's coming from within buildkit itself, under https://github.com/moby/buildkit/blame/477b1aab89dae85d31a48797f341d6bd7527fa5a/source/gitidentifier.go#L46-L48

It looks like this is already on buildkit's radar: https://github.com/moby/buildkit/issues/1684

[2021-05-26 17:50] vladaionescu commented on #1005
We do support subdirs in our project references from the Earthly side - underneath we slice the URL up to form git clone URL + project subdir. This should have worked.

@mxey - to help narrow it down, can you also try to issue this on the command line to see if it works:

[code]

Perhaps the config for the git URL needs tweaking?

I assume that the URLs in the output were redacted (given the `exam

[2021-05-27 10:04] mxey commented on #1005
works fine:

[code]

When I tried this, $EARTHLY_TARGET_PROJECT looked wrong to me, so I printed a whole bunch of those builtin args:

[code]

(trimmed for clarity)
[code]

As I understand it, $EARTHLY_TARGET_PROJECT should *not* include the branch name like this.

My `~/.earthly/config.yml`:

[code]

I have this in my ~/.gitconfig, but I disabled it and it did not change Earthly's behaviour:

[co

[2021-05-27 10:09] mxey commented on #1005
I took a quick look at the source code and to me it seems like [the tag is appended here](https://github.com/earthly/earthly/blob/6726a4a8cd41eb2c89c717a262bbba847b28538a/domain/reference.go#L158) when it should not be

[2021-05-27 12:42] tchupp commented on #890
I forgot to respond here; thank you for taking care of this! We haven't seen this issue in a few days now 😁

[2021-05-27 16:35] vladaionescu commented on #1005
Yeah, I think you're right - that's the issue. Let me look into this a bit more.

[2021-05-27 17:28] vladaionescu commented on #1005
Decided in the end to add a new builtin for the project without the tag (`EARTHLY_TARGET_PROJECT_NO_TAG `) in #1011 . I'll update the docs too.

[2021-05-27 17:43] #1005 closed

[2021-05-27 21:28] vladaionescu commented on #1005
This has now been released in `v0.5.14`. Let me know if this works as expected!

[2021-05-28 08:07] jamesalucas opened #1016 "panic: failed to get edge"
I've recently upgraded to Earthly 0.5.13 and our CI jobs that run multiple Earthly targets in parallel have started failing with errors such as this:

[code]

Similar logs in the job that is in progress at the same time...

[code]

Should running jobs in parallel on the same machine be OK? They are both run in Gitlab via Docker executors but on the same Docker host so the buildkitd instance is sha

[2021-05-28 08:28] mxey commented on #1005
@vladaionescu  This works:

[code]

I am still not clear on whether this clones from the local directory or if it clones from the remote Git server. Is there a way to see what Earthly does exactly? To me it looks like it clones from the remote Git server. Might this be caused by having `.git` in my .earthignore? I generally don't want to send it as context because it's quite huge in this repo - an

[2021-05-28 10:18] jamesalucas opened #1017 "Earthly image --push to Artifactory fails with 401"
I'm using Earthly with the `--push` flag to push images to Artifactory and upon doing so Earthly returns the error:

[code]

and the earthly-buildkitd logs show:

[code]

I issue a `docker login` before attempting the Earthly build.

Using docker to push the image works as does `docker buildx build --push` so Artifactory is accepting image uploads from other sources, I just can't get it to work di

[2021-05-28 15:08] azizk opened #1018 "Add a changelog file"
Hi!

Could you please add a CHANGELOG.md and possibly a BACKLOG.md to understand what's been happening between releases?

Thanks for the awesome project and all the efforts!

[2021-05-28 15:54] dchw commented on #1017
Interesting. Logs from the repository end could be telling, for sure. Do you have any other "stuff" in your `~/.docker/config/json`? I would also look to see if I could see what the auth token I was getting had in it. Debugging issues in Quay in the past, looking at the values in the JWT helped pin down the issue.

Another thing to try: Build locally with Earthly, and then push with your logged-in

[2021-05-28 18:40] vladaionescu commented on #500
After some deliberation, we decided not to add encryption for the connection as it is not necessary.

Reasoning:

1. It seems that docker pull just works with insecure `127.0.0.1:*`. There's no need for any additional configuration (yay!).
2. The registry is read-only - there's no way for anyone to push anything to it - so that means that you couldn't cause damage by doing a rogue docker push some

[2021-05-28 19:31] vladaionescu commented on #1016
Thanks for the bug report @jamesalucas. Your setup should work fine - buildkit is able to take parallel requests, even if the jobs are the same. I'll see if there's anything obvious and if not, I'll report upstream.

[2021-05-28 20:31] vladaionescu commented on #1005
It clones from the remote git server.

No, it should have nothing to do with that.

Hmm.. if you really want another branch from the local repo specifically, then I don't see any other option other than copying the `.git` dir itself and manipulating it.

There may be alternative things you could do via [LOCALLY](https://docs.earthly.dev/docs/earthfile#locally-experimental) - like switching the cur

[2021-05-28 20:33] vladaionescu commented on #1018
Hi @azizk - we have changelogs in the release descriptions: https://github.com/earthly/earthly/releases

Does that work?

[2021-05-28 21:25] alexcb commented on #1016
I tried running multiple instances of earthly v0.5.13 against a few targets and unfortunately wasn't able to replicate it.

@jamesalucas to help us replicate the issue:

1) by chance, is your project hosted in a public repo, or are you able to share the Earthfile that's causing this issue with us?

2) Are you running earthly with or without the `--allow-privileged/-P` flag?

3) Does your earthfile

[2021-05-28 21:34] azizk commented on #1018
Yes, that works! Didn't think to look there. :sweat_smile: I always look for the changelog file when I visit a project. I couldn't imagine that a popular project wouldn't have it. Anyway, feel free to close this issue if you don't plan to add one. :+1:

[2021-05-28 21:49] vladaionescu commented on #1018
Sounds good - I added it to point to the releases page.

[2021-05-28 21:49] #1018 closed

[2021-05-29 08:47] wingyplus opened #1022 "WITH DOCKER registry mirror configuration"
I didn't see any configuration to set registry mirror to `WITH DOCKER` command in `Earthfile` reference. Do we have some workaround for this?

[2021-05-30 12:28] pmembrey opened #1023 "Builds are slow when using multiple remote git repos, particular with "touch to sign""
Hi guys,

Currently I have a project that has several github repositories for the project's dependencies, and every time I want to do a quick build to test a feature, Earthly checks each of these repositories to look for changes. This is relatively slow anyway (compared to not using remote git repos), but I also use touch to sign with a yubikey.

That means every time I do a build, I have to wait

[2021-05-30 13:25] pmembrey opened #1024 "Using GIT CLONE, fails when checking out sub modules with Host key verification failed"
Hi guys,

I've got a repository that pulls in its own dependencies using submodules. This is still with my touch to sign key and the initial clone works fine. However when it gets to the stage of pulling the submodules, although I do the touch to sign bit, they then fail with `Host key verification failed.`.

If I just clone locally on my machine, the submodules get pulled without problem.

The re

[2021-05-30 16:58] NobbZ opened #1025 "Earthly Nix package is broken"
When I run `earthly -VD +all` I get the following output. It is not relevant whether or not an `Earthfile` in the current folder exists. The error is the same:

[code]

[code]

[2021-05-31 16:09] omerbenamram opened #1026 "Earthly 0.5.15 fails to run commands"
Hi,

After updating earthly from  0.5.13 to  0.5.15, every command fails with some variation of this message:
[code]

Reverting to  0.5.13 fixes it.

Wondering if this is related to https://github.com/earthly/earthly/pull/977?

[2021-05-31 16:14] alexcb commented on #1026
Thanks for the report @omerbenamram , can you let us know what OS you are using?

[2021-05-31 16:15] omerbenamram commented on #1026
@alexcb Ubuntu 18.04 :)

[2021-05-31 19:44] alexcb commented on #1026
@omerbenamram I haven't been able to replicate the issue, but I've tried changing some error handling in the home directory detection code.

Since I can't replicate the issue, would you be able to try out this new code to see if this fixes the issue for you?

You should be able to compile earthly out of my branch via:

    mkdir /tmp/test-earthly-fix && cd /tmp/test-earthly-fix && git clone https:

[2021-05-31 21:39] omerbenamram commented on #1026
This version indeed runs as expects :)

[2021-05-31 21:40] alexcb commented on #1026
Thanks for giving it a test :)

I'll work on getting this branch ready to merge into main, it might be tomorrow by the time we get a fix released.

[2021-06-01 09:33] jamesalucas commented on #1016
Hello, the project isn't hosted publicly but I have created a slimmed down version with a few bits removed but hopefully it will help. The main difference between this and the full version are:
* The full version has about 30-40 Earthfiles
* Most packages depend on common libraries that have been omitted from this. So building package-a would build library-a and so would building package-b.

Our C

[2021-06-01 09:48] jamesalucas commented on #1017
Hello, building locally and then pushing with Docker works perfectly and is our current workaround so this isn't a massive issue, but would be nice to fix as it would simplify our CI a bit.

When the build starts, the only additional stuff in our `~/.docker/config.json` is proxy configuration:

[code]

The auth token is added to `~/.docker/config.json` in the form:

[code]
The username:password do

[2021-06-01 13:54] benjadrejer commented on #988
We've recently begun experimenting with Earthly, and this proposal looks spot-on.
We're running cypress integration tests in Earthly, both locally and in CI, and we're really missing the ability to SAVE ARTIFACT screenshots & videos when the tests fail.

[2021-06-02 07:33] jamesalucas commented on #1016
We've had a few more of these kind of errors, not sure if this helps but the trace appears to be slightly different to the previous one, stating that it `received 68586-bytes data exceeding the limit 65535 bytes`...

[code]

[2021-06-02 17:38] alexcb opened #1029 "support .earthlyignore"
`.earthignore` was never renamed to `.earthlyignore`, perhaps we should support either names (and raise an error if both exist).

[2021-06-02 17:51] alexcb opened #1030 "log files being transfered via buildkit when running under verbose"
To help see why the transferring-files-from-localhost-into-buildkit operations could be taking so long, it would be useful to log what files are being copied and their filesizes.

[2021-06-02 18:09] vladaionescu commented on #1030
Maybe also list when something is skipped because it's on the ignore list, if possible

(to show that ignoring works)

[2021-06-02 22:47] vladaionescu commented on #1017
In order to connect to the Artifactory, is the proxy required? It could be the fact that we don't yet support proxy for the interaction with the registry.

[2021-06-02 22:55] vladaionescu commented on #1025
The OS package is definitely the issue here. In order to figure out what buildkit image to use, Earthly uses its own version by default. To override the buildkit image it uses you can try

[code]

Let me know if that fixes the issue for you temporarily.

In parallel, I'll get in touch with the Nix package maintainers and figure out a way to fix the Nix package as it's missing some key build parame

[2021-06-02 23:13] vladaionescu commented on #1025
I've written an email to @Mdsp9070. Copying here as well for reference:

[2021-06-02 23:25] vladaionescu commented on #1023
Hi @pmembrey - wondering what your exact setup is. Let me confirm that I understand correctly:

* You have an SSH key pair based on either ed25519-sk or ecdsa-sk and you've configured your local git access to use that?
* In the Earthfile you have remote references such as `COPY github.com/foo/bar+something/artifact`, but not `GIT CLONE`s?

If yes, are you using an SSH agent by any chance? Do you k

[2021-06-02 23:33] vladaionescu commented on #1022
I believe that this is available through the buildkit configuration, as described in this [config example](https://github.com/moby/buildkit/blob/master/docs/buildkitd.toml.md).

[code]

In order to get Earthly to pass additional configuration to buildkit, you can use [buildkit_additional_config](https://docs.earthly.dev/docs/earthly-config#buildkit_additional_config).

Note that this would not pas

[2021-06-03 00:50] vladaionescu commented on #1016
Thanks for the code and the extra details, very helpful!

I believe this https://github.com/earthly/buildkit/pull/42 will fix the `received 68586-bytes data exceeding the limit 65535 bytes` error. But I think that this is distinct from the panic `failed to get edge`.

Of the three steps you mentioned, is there a step that you think is causing more failures than others? Or is it too hard to tell be

[2021-06-03 05:33] pmembrey commented on #1023
Hi @vladaionescu , Earthly works perfectly with the Yubikey. It's detected just fine and is able to authenticate. Was impressed to see that work out of the box!

Touch to sign is where the device requires physically tapping it in order to get it to sign the request. So for example, when I do a `git pull`, the yubikey will start to flash to tell me something is trying to make a request. Once I tap

[2021-06-03 05:58] NobbZ commented on #1025
Thank for your respone, passing the buildkit image via flag indeed works as a workaround.

I have opened a ticket on the nixos repository as well to track it there and rise awareness.

Adding some buildflags is usually a trivial change and if I had the time I'd do it myself even :D

[2021-06-03 13:59] dchw commented on #1017
Artifactory has a free trial; I can grab their self-hosted one and try to reproduce this.

[2021-06-03 14:03] dchw opened #1031 "Native Windows Build"
We have a new, experimental release that runs natively on Windows. This is a tracking issue to be kept open until it is fully released. If you encounter any issues, ping me here!

Current known issues:
- [ ] `FROM DOCKERFILE` does not work

[2021-06-03 14:25] jamesalucas commented on #1016
Most of the failures seem to happen in step one (where we run Earthly for the `ci-build` target). We have 4 concurrent Gitlab executors on the same node and it doesn't seem to be as much of an issue if we run only one executor, and usually the exact same or very similar error is reported in 2 of the jobs with the others then failing because `buildkitd` stopped.

The Gitlab runner was running RHEL7

[2021-06-03 18:58] vladaionescu commented on #544
Another issue to track: https://github.com/earthly/earthly/issues/1031 . #1031 will be tracking the release of `earthly.exe` - the native windows binary which is able to issue Linux container builds on Windows (but not Windows containers just yet).

I'll rename this issue to be the larger overarching issue to support both the Windows binaries and the Windows containers.

CC @dchw

[2021-06-03 19:54] jamesalucas commented on #1017
I may have just got this to work in one environment but I am not entirely sure how or why, so give me a bit more time to investigate before you spend time on it.

[2021-06-03 21:57] alexcb commented on #1026
This has been released under https://github.com/earthly/earthly/releases/tag/v0.5.16

[2021-06-03 21:57] #1026 closed

[2021-06-03 22:01] vladaionescu commented on #1025
Seems that this is being addressed in https://github.com/NixOS/nixpkgs/pull/125530

[2021-06-03 22:33] vladaionescu commented on #500
This is now released as experimental in `v0.5.16`. It's disabled by default for now, but can be enabled using

[code]

[2021-06-03 22:36] jazzdan commented on #1030
Yeah now context transferring is my biggest timesink on my docker image builds, I'd love to be able to figure out where that time is going 🙏

[2021-06-03 22:40] vladaionescu commented on #1023
Got it - I'm wondering about the other details as well, so we can try to reproduce the issue exactly the way that you are experiencing it. Like what setup do you have for the SSH key pair, any SSH agent tweaks that may be needed, and what exactly you have in the Earthfile?

[2021-06-04 02:41] pmembrey commented on #1023
Sorry, I think I've given the wrong impression. Earthly is not slower than doing it just on my laptop. It's not the SSH key stuff that's causing the problem. The issue is that touch to sign means github requests become serialised, and I have to watch for the flashing light before I can touch the key. This process is always slow compared to say a simple SSH key, but because Earthly checks every rep

[2021-06-04 05:01] NobbZ commented on #1025
Yes, it is. And with the final version of the PR I can indeed use `earthly` locally. Thank you for the pointers.

I will close this ticket now, as the problem is not `earthly`s fault.

[2021-06-04 05:01] #1025 closed

[2021-06-04 15:29] jamesalucas commented on #1022
@vladaionescu I wonder if you can help with a related question... We have a corporate proxy and I have configured `~/.docker/config.json` with a `proxies` entry which appears to allow Earthly to pull docker hub images successfully. However, when using `WITH DOCKER --pull` it doesn't appear to go via the proxy and fails. Is there something else I can do to get this working?

[2021-06-04 17:57] vladaionescu commented on #1023
Ok so you're using the `gpg-agent` as the SSH agent. :+1:

I think that a `--git-no-update` feature should be possible. We have to make this change in buildkit, however, so it might take a while for us to get to this.

[2021-06-04 18:06] vladaionescu commented on #1023
Another idea - this might reduce the number of touches as well possibly: https://en.wikibooks.org/wiki/OpenSSH/Cookbook/Multiplexing . But this needs to be integrated into buildkit too.

[2021-06-04 18:14] pmembrey commented on #1023
My key is set up to require a touch for every request. I don't think multiplexing would help with that problem, but it could certainly give a performance boost for repos using normal SSH authentication.

For me, I just want to avoid all of the round trips to github - even without the touch to sign, this is still rather slow. Again, no fault of Earthly, but it really slows down the build process do

[2021-06-07 19:37] alexcb opened #1043 "implement COPY --if-exists localfile ..."
It should be easy to add though

_Originally posted by @vladaionescu in https://github.com/earthly/earthly/pull/1042#discussion_r646881917_

[2021-06-08 05:15] pmembrey commented on #1024
Is there anything I can do to help with this? If someone could point me in the right direction, I wouldn't mind taking a stab at it :)

[2021-06-08 05:19] pmembrey opened #1048 "Be able to disable analytics with an environment variable"
Although I greatly appreciate the openness and clarity of the analytics that are getting reported and that there is a way to disable them, it would be great if this could be supported as a simple environment variable.

For example, I have a lot of projects that I am totally fine with sharing analytics for, and for some things we're looking to Open Source, I think it would only be fair to give back

[2021-06-08 05:21] pmembrey opened #1049 "Additional clarity needed on how the secrets work - particularly how and where they are stored etc"
The secrets facility is really nice and I love the fact that it can make my builds totally agnostic to a specific build platform and will let me run my builds locally in exactly the same way. However I need to know more about how those secrets are created, stored and managed. Who can access them? Where are they stored geographically? How are the secured at rest?

Basically just documentation aroun

[2021-06-08 11:30] jamesalucas commented on #1017
I have not made much progress on this but I have seen some really weird behaviour which it would be great to get some thoughts on...

When I run `earthly --push` locally to push to Artifactory, it fails with a 401 error and the same thing happened in our Gitlab jobs
I then disabled `--push` in our Gitlab jobs and reverted to `docker push` which succeeds
I then setup a manual job that included `--p

[2021-06-08 18:10] vladaionescu commented on #1048
Sounds good - another thing you can do until we support this could be

[code]

In case that is easier for you to do in CI, for now.

[2021-06-08 22:54] vladaionescu commented on #1024
I believe that this is where submodules are handled in buildkit's Git source implementation: https://github.com/earthly/buildkit/blob/earthly-main/source/git/gitsource.go#L522 . Not sure what could be causing the issue.

[2021-06-08 23:53] vladaionescu opened #1052 "Proposal: Watch mode"
This is a proposal for a set of features that allow Earthly to automatically react to changes of local files are trigger a rebuild. The features are split into two milestones, incrementally increasing the scope (and implementation difficulty). The goal of splitting into incremental milestones is to collect community feedback as the feature is being worked on.

## Milestones summary

* **V1**: Supp

[2021-06-09 20:19] jamesalucas commented on #1017
There is no credential helper so the auth token is just stored encoded in `~/.docker/config.json` . I have manually decoded it and it contains the correct username and password. Still trying to get the Artifactory logs, sorry!

[2021-06-10 00:45] alexcb commented on #930
implemented in https://github.com/earthly/earthly/pull/964 (with additional fix in https://github.com/earthly/earthly/pull/981 )

[2021-06-10 00:45] #930 closed

[2021-06-10 14:19] ahsf commented on #358
We would like to give earthly a try but there is no documentation or example to find how to setup with a monorepo. So this example would be very helpful.

[2021-06-10 20:42] vladaionescu commented on #358
Hi @ahsf - see also this simple example: https://github.com/earthly/earthly/tree/main/examples/monorepo

[2021-06-11 17:52] alexcb commented on #1049
Hi @pmembrey, that's a great request; I put together some documentation around how to use the `--build-arg` and `--secret` flags, along with some implementation details surrounding how earthly and buildkit make use of secrets under https://github.com/earthly/earthly/pull/1054

If you have any feedback please let us know.

[2021-06-15 14:58] jrodrigv commented on #1017
Hi, I have encounter a very similar issue, although in my case the error is a 404:

`WARN: (exporting outputs) failed commit on ref "config-sha256:8ac83ac31be6b9dbed7340ee8780b9d4a4577d3789bc303bdc602bab43a92c68": unexpected status: 404 Not Found`

We are trying to push the new image to an internal docker registry, from the host we can do a docker push without any issues.

Can we pass to Earthly t

[2021-06-15 19:17] alexcb opened #1062 "unrelated files are being sent to buildkit on COPYs"
consider build our deps from within a local context:

[code]

deps only has a single COPY:
[code]

unrelated files are being sent:

[code]

This resulted in way too much data being sent:

[code]

if I rerun `earthly -V +deps`, these files are cached; however earthly will still walk the dir sendinf file stats:

[code]

When I would expect to only send file stats for `go.mod` and `go.sum`.

[2021-06-16 00:49] alexcb commented on #971
After some experimentation it seems that `GITHUB_TOKEN` only has access for the current repo and does not have access to other repos in the same organisation. Perhaps there's a setting somewhere to grant org-level access?

This can still be useful for cases where a repo wants to reference a different branch and needs to check that out though.

[2021-06-16 15:47] alexcb commented on #971
For the case of github, we will have two env variables set by github:

    GITHUB_ACTOR="user" # e.g. "alexcb"
    GITHUB_REPOSITORY="org/repo" # e.g. "earthly/earthly"
    GITHUB_TOKEN="it's a secret"

Then we could add some logic similar to this:

    if $GITHUB_TOKEN != "" && hostToClone == "github.com" && gitPathToClone == $GITHUB_REPOSITORY && protocol == "auto" {
        set protocol="https"

[2021-06-16 16:31] dchw commented on #1017
@jrodrigv I think I need more information before I can properly poke around. Do you have any additional logs? If you could also obtain the buildkit logs, that would be great too.

Also, what registry are you pushing to?

---

@jamesalucas, I am digging around in your logs. Sorry for the delay. A couple interesting things I noticed from your description and your logs is that the successful run does

[2021-06-16 18:57] alexcb commented on #971
Since the `GITHUB_TOKEN` only has access to the current repo and nothing else, this seems like a fairly unique request to support it internall within earthly.

Instead, one will need to issue a call to `earthly config git ...` to setup access prior to calling `earthly`.

Here's an example:

[code]

If the above does not work, or we're missing a case where `earthly config` fails, let us know and we

[2021-06-16 18:57] #971 closed

[2021-06-16 20:43] jamesalucas commented on #1017
@dchw  thanks for taking a look.

Yes, I came to the same conclusion - the only time Earthly finished the push with success was when the same image had been previously built (with earthly) and pushed with `docker push` so it  looks as though it has worked but  appears to not actually push anything because it's the same.

If I remove the tag from artifactory and re-run the earthly build (with push)

[2021-06-17 13:41] jamesalucas commented on #1016
Hi @vladaionescu , I wonder if I can get some further thoughts on this... We're now using Earthly as part of a Gitlab pipeline that has just under 100 separate jobs with each job containing between 1 and 2 Earthly invocations - so probably 150 invocations per run of the pipeline.

We have fairly large private Gitlab runner with 20 CPUs, 80GB RAM and 500GB of disk space (as we want to leverage laye

[2021-06-17 16:11] dchw commented on #1017
Almost. I'm trying to eliminate the successful(?) run by your admin from when you said;

This would help me know if I should start searching permissions, or if the bug is in a different place. Currently, I do believe it _is_ a permissions thing? What might help me make sure I can reproduce and debug if needed is more knowledge of the permissions your user has against that repository (and what is "

[2021-06-17 18:31] dvic opened #1067 "'failed to compute cache key' error with invalid symbolic link"
`failed to compute cache key: "/src/deps/oban_web/lib/oban_web/lib/oban_web" not found: not found`

This is the tree, as you can see it contains an invalid symlink.

[code]

Is this a docker bug or an earthly bug? I'm not sure what the correct behavior should be here, throw a more clear error?

[2021-06-17 19:54] alexcb commented on #1067
This might possibly be related to https://github.com/earthly/earthly/issues/1062 in which the file is being accessed without being explicitly referenced?

We can most definitely improve the error message here.

We do have an experimental `COPY --if-exists` flag which only performs a copy if the file exists, perhaps this already addresses downgrading the error into a warning? And if not, maybe that

[2021-06-17 20:14] alexcb commented on #1048
I opened up a PR for this under https://github.com/earthly/earthly/pull/1068

[2021-06-17 22:49] alexcb commented on #1048
This can now be done with:

    export EARTHLY_DISABLE_ANALYTICS=1

[2021-06-17 22:49] #1048 closed

[2021-06-18 07:11] dvic commented on #1067
In our case we got this error with the following line: `SAVE ARTIFACT deps/*`. I think improving the error message here is the easiest thing to do, although it would be even better if the broken symlink would just work and get saved as-is.

[2021-06-18 11:12] jamesalucas commented on #1067
I am seeing something similar. This Earthfile works with Earthly v0.5.16 but not with v0.5.17:

[code]

[code]

[code]

I think it's because many of the files that have been saved as artifacts are symbolic links to `/bin/busybox` and they would work once copied into the target image as it is also Alpine based and so `/bin/busybox` would exist.

[2021-06-18 11:58] janwillemvd commented on #1067
@jamesalucas I encountered the same yesterday. v0.5.15 works, v0.5.17 does not.

[2021-06-18 14:00] jamesalucas commented on #1017
@dchw I think I have worked this out, so apologies if I have wasted your time.

We are currently porting from Nexus to Artifactory and our Earthfiles look a bit like this:

[code]

We can then produce images for either registry by passing in build-args when we invoke earthly, e.g.

`earthly --push --image +push-image --REGISTRY=artifactory/ --TAG=earthly`

Our Nexus registry is not exposed via htt

[2021-06-18 14:00] #1017 closed

[2021-06-18 17:50] dchw commented on #1017
Learning about how people are using Earthly is never a waste of time. :D

I do wonder if theres more we can do to help? How do you decide which image goes to which registry when?

[2021-06-18 22:58] vladaionescu commented on #1016
Hi @jamesalucas,

There seem to be various error types in there, each of which could be caused by different interactions. It is possible that one job encounters one type of error and then the rest of the jobs that may be taking place in parallel get various other types of errors. But I can't be sure, given that this seems to only reproduce at scale.

From what I can tell, the following could be ro

[2021-06-18 23:03] vladaionescu commented on #1016
One more thought re: `fatal error: concurrent map read and map write` - are you using one of these flags by any chance? `--use-inline-cache`, `--save-inline-cache` or `--ci`? I've seen this occur sometimes when using the inline caching features.

[2021-06-18 23:15] alexcb commented on #1067
@jamesalucas I too am getting the same error; thanks for reproducing the bug, that'll make it easier for us to fix.

[2021-06-21 14:03] jamesalucas commented on #1017
We have a medium sized monorepo that is built via Jenkins jobs with Docker images being deployed to Nexus. We're in the process of porting all of this over to hosted Gitlab infrastructure that pushes images to Artifactory. The Jenkins builds have some Groovy scripting and Git calls to work out what has changed so that only updated code is built but as part of the move to Gitlab we're throwing all

[2021-06-21 14:25] jamesalucas commented on #1016
Thank you for the detailed reply, I'll try and answer each point you raised...

I've not enabled that explicitly, so unless it's enabled by default then I don't think so.

I introduced the wrapper script after upgrading to v0.5.16 so I can't say for sure whether it's happening on v0.5.17 but it's was definitely been happening on v0.5.16.

We're using the v0.5.17. I was browsing moby/buildkit over

[2021-06-21 14:38] dchw commented on #1017
You could work around it with our `IF` statement if you are so inclined. Heres an example that can push to a registry using a registry tag:

[2021-06-21 19:20] alexcb commented on #1067
under v0.5.15, earthly is resolving symlinks when copying a specific **file**:

[code]

In this case the `datalink` file under the `copy-symlinked-file` will end up as a regular file.

However when copying a **directory** containing a symlink, earthly is not copying the contents of the file like in the above example, but instead maintains the symlinks, e.g.

[code]

This used to work under `v0.5.1

[2021-06-21 22:15] alexcb commented on #1067
narrowing this down a bit more, this builds:

[code]

output:

[code]

HOWEVER, changing it to this:

[code]

fails:

[code]

[2021-06-23 01:57] alexcb commented on #1067
I'm still working at the issue. I noticed a similar problem exists in docker; consider a Dockerfile such as:

[code]

this outputs the same error:

[code]

and this makes a bit of sense, as the file was removed after I linked it, but before the second target could copy it.

I'm still leaning towards restoring our old functionality where we just made a symlink even if it doesn't point to a valid fi

[2021-06-23 07:16] dvic commented on #1067
I also think this is also the way forward, it should be possible to copy a broken symlink imho.

[2021-06-23 13:49] jazzdan commented on #779
`FOR` will be super useful if you can pass a dynamic list to iterate over to it. For example, I'd love to be able to run a command that lists all of my typescript files, then `RUN` `eslint` on each of them. That way if one file changes I only run `eslint` on the file that changed, not on the whole directory structure.

[2021-06-25 18:37] agbell opened #1075 "Earthfile Linter"
A linter for Earthfiles would be useful.

[2021-06-26 16:50] TheCoreMan commented on #378
FYI - Opened a project here, might work on it soon

https://github.com/TheCoreMan/earthly-spacemacs-layer

[2021-06-27 07:16] TamirFriedman-RecoLabs opened #1076 "BUG: "SAVE ARTIFACT" after a "RUN --no-cache" is still cached"
[code]

[2021-06-28 13:08] agbell opened #1077 "Proposal: Block Arguments"
### Motivation:
- A way to pass build user-defined commands that wrap functionally
- A way to implement features like `WITH DOCKER` in the earthfile syntax

### Proposal:
- A type of argument called a block argument, which can be used with a `WITH` statement and gives the UDC a function pointer to an anonymous target representing the contents of the `WITH`.

### Potential Example:

[code]
Called l

[2021-06-28 14:14] zedtux commented on #988
I'm looking this one too! Is there any estimated time when this could be implemented? A roadmap? 😃

[2021-06-28 16:13] vladaionescu commented on #988
Seems like this is requested pretty frequently. No timeline yet, but we'll prioritize it higher given the demand.

[2021-06-29 09:10] zedtux commented on #988
@jamesalucas can you please tell us more about the way you did it? I'm not sure to understand how to workarounded this.

[2021-06-29 11:15] jamesalucas commented on #988
I haven't actually worked around this yet as I was waiting to see what the outcome of this was. However, I did think it would be possible to workaround it by ensuring the `RUN` statement always returned true, for example instead of our usual command:

[code]

it would be rewritten as:

[code]

This would ensure that output gets rewritten, but unfortunately Earthly would always return success even

[2021-06-29 11:17] zedtux commented on #988
Thank you @jamesalucas for your comment.

[2021-07-01 04:25] mariusvniekerk commented on #988
I do something like

[code]

This successfully creates the artifacts but does not save them locally alas.

[2021-07-01 09:29] zedtux commented on #988
Thank you @mariusvniekerk for your snippet! Just a warning about the missing `END` of the `IF`.

I was able to use your way using `WITH DOCKER`:

[code]

[2021-07-01 19:12] zedtux commented on #988
I actually have a weird error with the `IF` block:

[code]

I can't really figure out what's wrong ... when I remove the block, it works. Then I put back the `IF` block and it works too. :thinking:

[2021-07-01 19:43] zedtux commented on #988
I solved my issue by not using a `IF` block but a `RUN` command:

[code]

[2021-07-02 15:44] idelvall opened #1081 "LOCALLY RUN documentation"
Hi, after reading the docs,  it was not clear to me that `LOCALLY RUN` statements need to be split into different lines in order to take effect. Adding an example like this:
[code]
in https://docs.earthly.dev/docs/earthfile#locally-experimental would make things easier.

[2021-07-02 15:46] idelvall commented on #1081
It would be nice also that
`LOCALLY RUN rm -rf ./build` either is not a no-op (like it is right now), or the parser gives an error

[2021-07-02 21:47] alexcb commented on #1081
Thanks for the feedback @idelvall , I've expanded the description and created an example under https://github.com/earthly/earthly/pull/1082

[2021-07-03 00:03] #1081 closed

[2021-07-03 11:58] idelvall commented on #1081
You are welcome. Another that was not expected to me was that this keyword, affects all the commands after it, and not only the following one

[2021-07-03 16:24] zedtux commented on #988
I don't know the Earthly version you're using, but with 0.5.17 I can't get my files out of Earthly until the final exit code is 0.

Maybe when using `WITH DOCKER` Earthly works differently?

[2021-07-03 16:26] vladaionescu commented on #988
Yeah.. Earthly doesn't yet output anything unless it ends in success. We'll be tackling this very soon though - thanks for the patience - we've been super busy lately.

[2021-07-03 16:30] vladaionescu commented on #1016
We should have those merged in pretty soon - we generally keep very close with buildkit main branch. @alexcb might help with a merge & release this following week.

[2021-07-03 16:32] vladaionescu commented on #1016
We are planning on something like this as a feature, but it'll take a while until we have it working as nicely as you describe it. The cache cannot be shared between buildkit instances as it is, unfortunately. Similar to the docker cache, it was designed to only be used by one process at a time.

[2021-07-08 21:34] alexcb commented on #1016
We have updated earthly's version of buildkit to include the latests upstream changes under https://github.com/earthly/earthly/releases/tag/v0.5.18 Lets see if this resolves the panics.

[2021-07-08 21:36] alexcb commented on #1067
We have released https://github.com/earthly/earthly/releases/tag/v0.5.18 which contains the new `--symlink-no-follow` flag which can be passed to the `COPY`. This should make it possible to copy invalid symlinks.

[2021-07-08 21:36] #1067 closed

[2021-07-09 21:42] bhagyas commented on #1052
How about a WATCH command that watches for content within a container and re-runs the task and its dependencies?

Also, it can be placed within a target or when the watcher is running within a container filesystem.

[2021-07-09 23:32] alexcb commented on #1052
@bhagyas It's currently possible to use the `inotifywait` command inside a container. Here's an example:

consider a script that generates files, sleeps, and eventuall exits. Let's call it `make-files.sh`:

[code]

and another script called `run.sh`:

[code]

you can then call it via an earthfile such as:

[code]

Given that we can already achieve this functionality, I don't think it needs a WATCH

[2021-07-10 00:47] volkanunsal opened #1091 "buildkitd crashed"
It crashes when running anything.

Here is the log:

[code]

[2021-07-10 03:16] byteshiva opened #1092 "Error: bootstrap new buildkitd client"
[code]

Buildkit logs details follow below.

[code]

[2021-07-10 03:52] alexcb commented on #1091
thanks for the report. `bdeda2542465cb0bc0c8985a905aa2e3579a3f7b` appears to be https://github.com/earthly/earthly/releases/tag/v0.5.17

does this happen under v0.5.18 too?

[2021-07-10 03:59] alexcb commented on #1092
Thanks for the report; It looks like this is from our latest version of earthly (v0.5.18); did this occur in previous versions too, or are you new to earthly?

If you run `lsmod | grep ip_tables` (on your host computer), does it show `ip_tables` anywhere in the output?

[2021-07-10 08:20] byteshiva commented on #1092
I'm new to earthy, this is my new installation.

It doesn't show `ip_tables` in the output.
I get the below output.
[code]

[2021-07-10 11:41] volkanunsal commented on #1091
`brew` recipe is hardcoded to 0.5.17. I'll see if I can install that tag.

[2021-07-10 11:51] volkanunsal commented on #1091
0.5.18 worked.

One interesting thing to note here is the crash report I pasted above says I'm using x86_64 architecture (`Detected container architecture is x86_64`), but I'm actually using arm64 architecture -- Mac M1.

[2021-07-10 11:52] #1091 closed

[2021-07-10 16:56] alexcb commented on #1092
I think the lack of ip_tables in your kernel is causing that issue. Can you try loading it via `modprobe ip_tables`?

For reference I use Ubuntu as my host, and I have two entries show up:

[code]

and when I run `iptables --list`, I see plenty of DOCKER rules in there:

[code]

If modprobe doesn't do the trick, maybe there's a debian specific tutorial that could walk you through the process.

You

[2021-07-11 02:51] byteshiva commented on #1092
I don't see `modprobe ip_tables` showing details.
[code]

I get following results for `lsmod` and` iptables --list`

[code]

[code]

[2021-07-11 12:08] jndz2 opened #1094 "Brew depreciated warning"
I get this warning during installation.

`Warning: earthly has been deprecated because it has an incompatible license!`

[2021-07-11 16:57] alexcb commented on #1094
We have been [forced to move out ](https://github.com/Homebrew/homebrew-core/pull/80842)of homebrew-core, and into our own [homebrew tap](https://github.com/earthly/homebrew-earthly). You can install the latest version with:

    brew install earthly/earthly/earthly

We will be updating our documentation this week.

[2021-07-11 17:03] alexcb commented on #1092
What happens if you try removing the failed earthly-buildkitd container:

    docker rm --force earthly-buildkitd

Then retry running something like our hello world example:

    earthly github.com/earthly/hello-world:main+hello

[2021-07-11 17:41] byteshiva commented on #1092
[code]
log details available at:
https://gist.github.com/byteshiva/e211dec755334ecf5764290ab783c7e2

[2021-07-12 04:08] alexcb commented on #904
This might be a good first issue if anyone wants to take it on. We would need a new struct for ARG options under https://github.com/earthly/earthly/blob/main/earthfile2llb/flags.go

then, under `func (i *Interpreter) handleArg(ctx context.Context, cmd spec.Command) error {`, one would have to reference the struct to parse the opts. then if the required flag is set, check the value is not empty.

[2021-07-12 12:41] xificurC opened #1095 "hello world starter example finishes in 16 minutes"
This is a first, clean install of `earthly`. My zsh prompt shows the time taken for a command on the far right, both ran >15m. The buildkitd logs don't show much, to me at least. Most of the time the output looks like this:

[code]

then the second line gets rewritten to the `context |` line. Am I right to guess that this shouldn't take 16 minutes to run?

[code]

[2021-07-12 17:15] xificurC commented on #1095
I just retried this at home, from the same notebook, and it finishes in 3 seconds. I blame the VPN/network @work. Any ideas on how to debug the issue would be appreciated though

[2021-07-12 18:35] #1094 closed

[2021-07-12 18:41] agbell commented on #1095
Hi @xificurC ,
I'm glad it got faster for you. We have a verbose flag that will print more detailed timing information.  If it's slow again please add `--verbose` and it will print some timing information that may be helpful in tracking this down.

[2021-07-12 21:17] alexcb commented on #1092
Thanks for trying that again and providing logs.

What really jumps out to me is the failure when trying to list the iptable chains:

    running [/sbin/iptables -t nat -S --wait]: exit status 3: modprobe: can't change directory to '/lib/modules': No such file or directory

Do you get a similar error if you calling the iptable list-rules command directly:

    docker run --privileged -p 127.0.0.1:

[2021-07-13 02:28] rdw20170120 opened #1097 "Cannot seem to successfully use the exec form of RUN"
I am adopting Earthly as my build tool.  I have written a simple Earthfile to create my own variant of an Ubuntu base image.  But I am consistently having trouble with `RUN`.  The shell form of `RUN` uses `/bin/sh` as documented and expected.  When I attempt to use the exec form of `RUN`, I still get `/bin/sh` even when I go to a lot of trouble to use `/bin/bash` instead.  I have searched and sear

[2021-07-13 08:35] byteshiva commented on #1092
Log Details
[code]

My Docker version

[code]

[2021-07-13 11:02] jamesalucas commented on #1016
Thanks very much! I upgraded yesterday and I am seeing fewer crashes but do still intermittently see `panic: failed to get edge` errors and it also seems to occur even if `buildkitd` is not being used. For example, `buildkitd` was running and processing requests from `earthly`, then the build finished and no further requests were being sent but `buildkitd` crashed with the following stack:

[code]

[2021-07-13 11:30] xificurC commented on #1095
Hi @agbell , thanks for the tip. Unfortunately the timings don't seem to find the culprit

[code]

[2021-07-13 13:44] xificurC commented on #1095
I thought the verbose flag or `strace` will help me find the problem, but no luck so far. Here is an excerpt of my debug run that was running strace, prepended with milliseconds since start. Notice the `ongoing` line is being repeated every minute, without any progress

[code]

[2021-07-13 14:31] agbell commented on #1095
@alexcb  do you have any ideas about this? It's strange the timing don't include the bulk of the run time.

[2021-07-13 14:35] agbell commented on #1097
Hi @rdw20170120 ,
You are right that the exec form of Earthly is not very commonly used.  Perhaps we have a regression in its use. We will investigate this.

[2021-07-13 15:58] agbell commented on #1097
Looks like the exec form may indeed have a problem. Thanks for catching this!

 In the meantime putting `#!/bin/bash` in your bash scripts and using a standard run may be a simpler approach to your build.

[2021-07-13 17:46] rdw20170120 commented on #1097
@agbell, thank you for taking a look at this.

I have converted all of my `RUN` commands to shell form.  In most of my cases, I have intentionally refactored my tasks into separate scripts.  For those, I invoke `RUN /bin/bash -c "SCRIPT ARG..."`.  I think that is getting me close enough for now.

I have already placed `#!/bin/bash` in my scripts, but they do not work in this use case.  Since the s

[2021-07-13 18:16] alexcb commented on #1097
Hi @rdw20170120

To expand on Adam's suggestion, would it be possible to setup your earthfile like this?

[code]

Then consider `myscript`:

[code]

When I run this with `earthly +mytarget`, I get:

[code]

which shows that the script is being interupted by bash.

You're correct in noticing that behind the scenes it's wrapped by `/bin/sh -c ./myscript`; however the `sh` shell should detect the `#!

[2021-07-13 18:51] alexcb commented on #1095
Nothing comes to mind, but let's leave this issue open so we can come back to it when time permits.

If it's consistently happening, we can bump the priority on this issue.

[2021-07-13 19:16] agbell commented on #1095
@xificurC  Could you try git cloning our https://github.com/earthly/hello-world and running `earthly +hello` inside it?

[2021-07-13 20:06] xificurC commented on #1095
I'll try next time I'm at work, since at home this is working fine, on the same notebook, suggesting this will be a network issue yet again. We have constant issues with the firewall and with a company MiTM certificate. I just hoped `strace` will show the calls, but I'm not that familiar with it to know for sure if it shows all network requests by default

[2021-07-13 21:45] rdw20170120 commented on #1097
@alexcb,

Thank you for your insights.  I agree with you, but I am not getting that behavior.  Allow me please to provide some details (elided for brevity).

In my `Earthfile` I have:
[code]

Script `execute_inject_as_root_user` has this:
[code]

Script `capture_snapshot_as_root_user` has this:
[code]

When I build this with `earthly`, I get this output:
[code]

I think that I am following your su

[2021-07-13 21:47] rdw20170120 commented on #1097
Here is a discussion of the issue:  https://unix.stackexchange.com/questions/87560/does-the-shebang-determine-the-shell-which-runs-the-script

[2021-07-13 21:56] rdw20170120 commented on #1097
By the way, when I use the troubleshooting advice in that article:
[code]
it then tells me:
[code]
I get the same result by executing that command in my script.

[2021-07-13 22:39] dchw commented on #1092
I spent some time trying to reproduce this and found that I could using MX Linux, booted with `sysVinit`:

[2021-07-13 23:58] jclangst opened #1099 "Weird behavior for earthly as background process"
Version: `earthly version v0.5.18 linux/amd64`
OS: Ubuntu 20.04
Kernel: `5.8.0-50-generic`

Background forks of `earthly` results in error messages, but execution seems to work fine.

Example shell script:

[code]

Example error message:

[code]

Additionally, when invoking a fork directly from a terminal shell (`earthly +target1 &`) the only action is `buildkitd | Found buildkit daemon as docker

[2021-07-14 00:42] MBH69 commented on #1097
Bugg

[2021-07-14 01:57] jclangst commented on #858
Similar goal. The copy solution from @benjamin-wright is very clever. I also like the idea of a more purposeful method to invalidate the cache. I have a couple of ideas for enhancing the  proposed `DEPENDS ON` syntax.

- Change the name to `CACHE KEY [<target-ref>[/<artifact-path]]...`. If the value of the referenced object(s) change, the line has the same effect as `RUN --no-cache` in that all su

[2021-07-14 13:56] byteshiva commented on #1092
Yes, I think loading ip_tables would be good. Please provide the required documentation

ps:
In the meanwhile, I see `nft` (Netfilter getting much traction than iptables), will loading `nft` in kernel make earthly work?

[2021-07-14 16:25] dchw commented on #1092
Thats a longer story.

Right now, our `earthly-buildktid` daemon container is hard-coded to use `iptables-legacy`, so for at least the current release, for now, is tied to original `ip_tables` (as in `ln -s /sbin/iptables-nft /sbin/iptables`). However, some simple, preliminary testing locally shows that using `iptables-nft` does work, but I am unsure of the nuances right now. I'll keep looking int

[2021-07-14 17:32] byteshiva commented on #1092
yes, it did work,

[code]

[2021-07-14 18:00] rdw20170120 commented on #1097
By the way, in the Ubuntu image Bash is `/usr/bin/bash`.

[2021-07-14 19:23] alexcb commented on #1099
Thanks for the report; this is due to an internal implementation to support interactive RUN commands (it communicates over tcp and binds to port 8373). We're hoping to rework it in the future to allow multiple interactive sessions in parallel.

Since Earthly is running in the background (and you aren't enabling the interactive debugger), it's safe to ignore the error.

I completely agree that the

[2021-07-14 19:37] #1092 closed

[2021-07-14 19:39] dchw commented on #1092
@byteshiva The PR referenced should transparently swap to use `iptables-nft` if `ip_tables` is missing. My local testing without `ip_tables` loaded worked, should be available in our next release.

[2021-07-14 23:22] alexcb commented on #1097
Your examples appear to be missing the `!` in your interpreter directive (`#/bin/bash`).

does changing it to `#!/bin/bash` fix the problem?

[2021-07-15 00:35] rdw20170120 commented on #1097
Well, don't I have egg on my face!  Good catch, @alexcb!  Sorry for the trouble.  That did indeed fix it, and allowed me to make my code a bit cleaner.

As I mentioned above, the correct interpreter for the Ubuntu image is `/usr/bin/bash`.  So, now my scripts start with:
[code]
and my `Earthfile` now contains lines to execute those scripts that look like:
[code]
Thank you so much for catching this

[2021-07-15 03:20] alexcb opened #1102 "enable git verbose mode when running earthly under verbose"
We had a case where a user was experiencing networking problems when performing a remote earthly build; however earthly only ever showed `Error: build target: build main: bkClient.Build: failed to solve: failed to load cache key: failed to fetch remote https://gitlab.com/alexcb/hello.git: exit status 128`

Upon further investigation it turned out that gitlab.com could not be reached from within th

[2021-07-15 03:30] vladaionescu commented on #1102
I believe that the way it is set is that a failure automatically makes the failing step verbose (e.g. an internal operation is not printed unless it fails). But within that failing step it seems that git isn't saying much. So really we could make git be verbose all the time, since usually the git step is anyway tucked away in an internal operation and its (verbose) output would be hidden by defaul

[2021-07-15 14:38] MickeyShnaiderman-RecoLabs opened #1103 "Multiple Earthly builds in the same time crash the daemon"
Tried to run several (independent) Earthly builds at the same time. Managed to crash the daemon.
The output (redacted secrets):
[code]

The builds were spawned manually from separate shells at the same time. They consist mainly of `pip install` and `pytest`. It's important to note that some of the tests run Docker containers (the Earthfiles have `WITH DOCKER` statements) of databases (to test inte

[2021-07-15 15:33] Shahinbagerzadsaid commented on #1103
@ @tipok

[2021-07-15 15:33] Shahinbagerzadsaid commented on #1103
#1102 #1102 #

[2021-07-15 20:32] alexcb commented on #583
An additional request, is to have a mode that would list all available targets within an Earthfile (along with a summary of their earthlydoc comment).

[2021-07-15 21:40] alexcb commented on #1097
It's all good; thanks for pointing out that the exec form is broken (and has been for quite some time); let's leave this issue open until we have a fix in place for that.

[2021-07-16 08:54] xificurC commented on #1095
Indeed, the cloned variant finishes in no time

[code]

[2021-07-16 15:50] dchw commented on #583
Callers & Callees would be nice to pull out here so you can understand its position within the build graph.

[2021-07-16 18:41] alexcb opened #1107 "Proposal: implement a way to send file or directories from the interactive debugger shell back to the host"
Problem: Consider a run command fails, and you are dropped into an interactive shell session (because you ran earthly with the `--interactive` flag) and are trying to debug the problem. During your debugging, you need to copy a file from your interactive shell back to your host.

Proposal: extend the interactive debugger to support a command such as:

    /usr/bin/earth_debugger --copy-to-host <sr

[2021-07-16 21:55] drewm1980 commented on #879
First of all, since this is my first issue, thanks for open sourcing Earthly! It seems really ergonomic for those who already know docker. I have always hated docker's cache for being a dumb stack of layers that gets gratuitously half-invalidated all the time; it has always felt like a technological step backwards from just about any package manager or build system. Earthly seems like a step in th

[2021-07-17 13:29] JosemyDuarte commented on #961
This one seems like a good first issue. Before considering contributing just a couple of clarifying questions:

1. Do you want `gitProtocol` to be private to `buildcontext` package? Meaning, from [`main.go`](https://github.com/earthly/earthly/blob/aaffd2cc84bf7cb7a9cd7943602ecc44e46b2701/cmd/earthly/main.go#L2863) we will keep using Strings, or what would be the idea?

2. I guess `ssh` is not a fe

[2021-07-19 12:21] jamesalucas commented on #1052
Watch sounds very useful, but of equal (or perhaps even greater) use is the `--port` snippet in the example. At the moment, if Earthly runs automated tests and they fail I can't see a way to attach to the running test in order to debug it. Is this something that could be broken out into a separate item/proposal?

It would be great to be able to attach to processes run via `RUN` inside and outside

[2021-07-19 19:22] jclangst opened #1108 "interactive debugger should not run (or display errors) when running in non-interactive session"
Version: v0.5.18

In our CI environments, the Docker daemon exists on a separate host and we communicate over TCP. In this type of setup, every earthly command generates the following error message; however, functionality is NOT impaired.

`internal-term | Failed to connect to terminal: dial tcp 127.0.0.1:8373: connect: connection refused`

[2021-07-19 19:43] jclangst opened #1109 "Proposal: Add true/false for common Earthfile boolean flags"
# Problem

Many of the boolean flags (e.g., `--no-cache`, `--interactive`, etc.) do not take flags. This makes it very tedious to conditionally activate these pieces of functionality. See the example below.

# Proposal

Add the ability to explicitly control flags via `--some-flag[=<true|false>]`. If the boolean value is omitted, default to `true` to preserve backwards compatibility and provide a s

[2021-07-19 19:47] alexcb commented on #961
@JosemyDuarte That's great if you're willing to tackle this :raised_hands:

1. I would be inclined to keep it as a private type and continue to pass in protocol as a string to `func (gl *GitLookup) AddMatcher(name, pattern, sub, user, password, suffix, protocol, keyScan string) error {`. Then inside that function we could parse the string value and convert it into a `gitProtocol` type. Keeping it

[2021-07-19 19:52] JosemyDuarte commented on #961
Perfect. I agree with both ideas. I'll try to have a PR before the end of the week. Thanks!

[2021-07-19 19:52] alexcb commented on #1108
Thanks for the report; it appears that any interactive RUN commands (or the interactive debugger) won't work with a non-local docker daemon. Fortunately in the context of CI there won't be an interactive commands which won't affect your use-case.

It's definitely something we'll want to fix, but it might be a lower priority.

[2021-07-19 20:01] alexcb commented on #1109
Your before and after example is a great example of how this makes writing `COMMAND`s much easier. I'm in favour of this change.

[2021-07-20 13:16] agbell commented on #1095
To me, that indicates something at the network level is the issue. Is clone itself slow outside of earthly?

[2021-07-20 16:20] vladaionescu commented on #1109
Good proposal!

For this part

We've been thinking something like the equivalent of the bash `eval` command. We haven't yet written a proposal for it though.

[2021-07-21 08:02] xificurC commented on #1095
You mean if `git clone` is slow from the command line? No. It is only slow here. Typically when these things are run in containers 2 things happen, either it works or it doesn't. That's why I'm baffled what is the issue in this case.

[2021-07-21 15:37] #961 closed

[2021-07-22 17:25] alexcb opened #1114 "./earthly -P github.com/earthly/earthly/examples/tests/dockerfile2/subdir:main+test fails"
[code]

However, when I run it locally:

[code]

it works :confused:

[2021-07-22 18:02] alexcb commented on #1114
This appears to have been broken since it was introduced in `earthly-v0.5.11`

[2021-07-22 22:29] rizkyramadhan commented on #722
I just tried installing earthly on m1, after running these command:

`brew install earthly/earthly/earthly && earthly bootstrap`

I got this

[code]

Yes, I have docker desktop installed.

[2021-07-23 00:36] alexcb commented on #1109
@jclangst we just released [0.5.20](https://github.com/earthly/earthly/releases/tag/v0.5.20) with this feature; we would love to hear if this makes things easier for you.

[2021-07-23 02:30] vladaionescu opened #1116 "Add support for GHA cache"
Buildkit supports this: https://github.com/moby/buildkit#github-actions-cache-experimental

[2021-07-24 14:50] jclangst commented on #1109
Awesome! I will close this and check it out. Thanks for the quick turnaround!

[2021-07-24 14:50] #1109 closed

[2021-07-27 15:25] alexcb commented on #1062
#1085 introduced a new feature which can be enabled via:

    VERSION --use-copy-include-patterns 0.5

which will set the underlying include pattern option in buildkit, which limit which files are sent for each build context.

[2021-07-27 15:25] #1062 closed

[2021-07-28 21:55] vladaionescu commented on #1091
That's a little strange - I'm getting `Detected container architecture is aarch64` on my M1. Does this show with the latest Earthly? (You can check via `docker logs earthly-buildkitd` after you've performed a build)

[2021-07-28 22:08] vladaionescu commented on #1099
I think we should definitely quiet down these messages in the short term.

[2021-07-28 22:16] vladaionescu commented on #1076
I believe this just means that the resulting artifact happens to be the same as before - so this is working as intended.

[2021-07-28 22:19] vladaionescu commented on #378
Hi @TheCoreMan - I saw that you made some progress over there. Screenshot looks really cool! Do you think that the syntax highlighting is in a good enough state to be used more widely by others in the Earthly community?

[2021-07-29 13:05] xificurC opened #1129 "Add shared cache option"
Here's an updated proposal:

CACHE --id=my-shared-cache /target
RUN --mount type=cache,id=my-shared-cache,target=/target ...
The idea is that as long as the id matches, the cache would be shared across targets, regardless of where those targets exist: same Earthfile, or different Earthfile, completely different builds, etc. So presumably, even completely different projects could reuse the same cac

[2021-07-29 17:37] vladaionescu commented on #1129
This could be problematic for two reasons:
- The cache might grow indefinitely and it's up to the user to GC it regularly
- It can be a source of inconsistency

In addition, the implementation ideally should not be based on mounting a local directory, because it would not have a good equivalent with the future remote Earthly capabilities.

That said, there are some relevant use-cases for this to h

[2021-07-29 17:41] #1029 closed

[2021-07-29 18:54] xificurC commented on #1129
Thanks for a quick response.

Running `mvn package` or any other maven command on a desktop reuses the `.m2` cache, for every project. If I put these projects in an `Earthfile`, I can't reproduce this behavior. Is that correct? If yes, this is a blocker for us right now.

True, but isn't the problem the same with earthly caches? And since they aren't shared by default I can see it cluttering up th

[2021-07-30 13:20] mxey opened #1133 "Run push commands without overwriting the cache"
Earthly should be able to push images or execute RUN --push without overwriting the remote cache.

In CI we use Earthly on feature branches with --remote-cache but without --push, so the cache is used but not overwritten. Only on the main branch do we run Earthly with --remote-cache *and* push, to push a cache that will be used by other branches.

I would like to add RUN --push commands to push th

[2021-07-30 17:13] pmembrey opened #1134 "Add builtin arg for git timestamp and short hashes as a foundation to support reproducible builds"
Reproducible builds are a powerful tool in detecting a compromise in a build chain. Earthly already provides repeatable builds, making it perfect for supporting reproducible builds. A reproducible build is one where the artifacts are bit for bit identical when built on different machines / platforms.

More details about the project can be found here:

https://reproducible-builds.org/docs/source-da

[2021-07-30 22:14] vladaionescu commented on #1133
So basically you want a mode in which `earthly --remote-cache ... --push` only pushes images and not the cache itself, right?

[2021-07-30 22:17] vladaionescu commented on #1134
Seems like this has been addressed now. 👏

[2021-07-30 22:17] #1134 closed

[2021-07-31 08:34] TheCoreMan commented on #378
@vladaionescu There are a ton of other features I want to include, as you can see in the [README](https://github.com/TheCoreMan/earthly-spacemacs-layer):

Also, it's not super fun to install yet: Right now one needs to clone -> evaluate buffer instead of just adding a line to the spacemacs config. I'll have to figure out deployment for the layer as well

So... not really? If you want to try and se

[2021-08-02 14:29] jimmyharris opened #1139 "Support --mount,type=bind"
In order to make use of large datasets that don't easily fit into docker containers at build time (and to reference devices in the host system at build time. We need a mechanism to support bind-mounts during run commands. This would allow us to access host filesystem resources that are more efficient than trying to import all of them via a COPY command.

[2021-08-02 17:26] vladaionescu commented on #1139
The use-case mentioned here is basically a faster `COPY`.

Over Slack you were mentioning access to `/dev/dri` as a need for bind mounts, right?

[2021-08-02 21:33] vladaionescu commented on #378
I think even just syntax highlighting could be a big step forward compared to the existing experience. If you figure out the installation process and everything looks good, we could show your project in Earthly install instructions, to help emacs users.

The roadmap is pretty cool. Perhaps `earthly` itself can help with some of these. Some of the functionality could then be used across other IDEs

[2021-08-03 02:09] vladaionescu opened #1141 "field tarLoads is unused in withdockerrunlocal.go"
My IDE says `field tarLoads is unused` in withdockerrunlocal.go. Not sure if important or not - thought I'd log this here before I forget about it.

[2021-08-03 15:12] jimmyharris commented on #1139
Yes. alternate use case is to mount host system device files into the build image.

[2021-08-03 22:43] vladaionescu opened #1144 "Support running earthly rootless"
Currently Earthly starts a buildkit daemon in privileged mode. This is oftentimes incompatible with some CI environments (and also with k8s) which do not allow privileged operation.

An alternative to using the unprivileged environment of the CI the user can opt to connect to a [remote buildkit instance](https://docs.earthly.dev/ci-integration/remote-buildkit). However, this requires that the user

[2021-08-06 20:59] vladaionescu commented on #779
Implementation for this is complete. Will go out with the next release in experimental phase. To enable, use

[code]

[2021-08-06 22:42] stk0vrfl0w opened #1152 "Credentials leaked using `GIT CLONE`"
Looks like this could be a recurrence of #922 ?  The difference now is that the credentials are always displayed after `GIT CLONE` / `COPY GIT CLONE`.

**Earthfile**
[code]

**~/.earthly/config.yml**
[code]

**> earthly +creds**
[code]

[2021-08-06 23:53] vladaionescu commented on #1141
Removed

[2021-08-06 23:53] #1141 closed

[2021-08-07 05:07] stk0vrfl0w commented on #1095
I've seen very similar behavior, though in my case I tracked it down to docker pulls getting rate-limited/blocked by DockerHub.  In such cases, I'd get the occasional `ongoing` status message or timeout.

Unfortunately, the only workaround I have for this is to VPN from my company's HQ into another one of our external networks -- which may not work with your company's security policies.

[2021-08-09 20:57] #938 closed

[2021-08-09 22:07] vladaionescu commented on #711
Duplicate of https://github.com/earthly/earthly/issues/986

[2021-08-09 22:07] #711 closed

[2021-08-09 22:11] vladaionescu commented on #1102
Remember to scrub credentials from the output when implementing this.

[2021-08-10 16:39] alexcb commented on #1030
This was implemented in https://github.com/earthly/earthly/pull/1051

[2021-08-10 16:39] #1030 closed

[2021-08-10 16:44] alexcb commented on #842
We decided to leave repo_hash as-is. We are now counting resolved repositories via `analytics.Count("gitResolver.resolveEarthProject", analytics.RepoHashFromCloneURL(gitURL))`

[2021-08-10 16:44] #842 closed

[2021-08-10 21:22] alexcb commented on #1152
Thanks for the report, we're working on a fix (and test) in https://github.com/earthly/earthly/pull/1154

[2021-08-11 04:03] wingyplus commented on #583
Or if we use `doc` sub-command instead?

[code]

[2021-08-11 15:15] sicksid commented on #1152
I noticed they using GIT CLONE won't allow you to do --recursive-modules

Just mentioning it

[2021-08-11 17:51] alexcb commented on #1152
@sicksid We have git sub module support on our roadmap under https://github.com/earthly/earthly/issues/1024

[2021-08-12 05:02] wingyplus commented on #378
HI,

I build a major mode for emacs [here](https://github.com/wingyplus/earthly-mode/blob/main/earthly-mode.el). I now support syntax highlighting and toggle comment. Here's snapshot test against Earthfile in this repository:

<img width="1440" alt="Screen Shot 2564-08-12 at 11 43 34" src="https://user-images.githubusercontent.com/484530/129140131-f5e198df-b7be-4e00-885c-2b52759ae95f.png">

The sy

[2021-08-12 21:35] vladaionescu commented on #378
This is awesome!

@wingyplus - would you be able to write some official documentation of how to install it? Here are examples of such instructions for [vim](https://github.com/earthly/earthly.vim) and [sublime](https://github.com/earthly/sublimetext-earthly-syntax).

Once that it's done, we'll need volunteers for testing the installation and the highlighting in their projects.

If all looks good a

[2021-08-13 00:18] jclangst commented on #1139
Another important use case is that this would enable you more flexibility than the cache mount, especially for use cases where the cache file system is well structured and ideally can be shared across a wide array of builds (e.g., `nix` package manager, etc.)

[2021-08-13 07:33] wingyplus commented on #378
The README is (update)[https://github.com/wingyplus/earthly-mode].

I think it is almost quite ready. If someone found any bug. PR is welcome!

@vladaionescu I really appreciate it. :)

Do you want me to transfer ownership to the `earthly` org?

[2021-08-13 11:26] wingyplus commented on #507
I do some research about the LSP library in Go. `golang/x/tools` has a script to generate LSP protocol to Go code [here](https://github.com/golang/tools/blob/8fae06a8855e36cf89c791f437aafe2cf3933be5/internal/lsp/protocol/typescript/code.ts). They said they're glad to copy the generator to it's own LSP server [1]. And Go team has a plan to expose `jsonrpc2_v2` to the public package here [2]. I thin

[2021-08-13 13:25] jclangst opened #1159 "Dynamic args don't work in DO/COMMAND"
Currently, you can provide dynamic arguments to build: https://docs.earthly.dev/docs/earthfile#build

It would be amazing to be able to pass dynamic arguments into the DO/COMMAND structure.

Example:

[code]

It appears to already do the evaluation, but it provides an error like the following:

`Error: build target: build main: bkClient.Build: failed to solve: Earthfile line 56:2 parse flag args:

[2021-08-13 13:30] jclangst commented on #1159
For reference to others potentially looking for this, I was able to emulate my goal behavior by splitting into multiple steps:

[code]

[2021-08-13 16:16] jclangst opened #1160 "Bug: Updates after 0.5.18 breaks Gitlab CI (CNI)"
Recently tried to upgrade our Gitlab runners from earthly `0.5.18` to `0.5.22` but it appears the new default Buildkit backend breaks on GitlabCI. The version bundled with `0.5.18` worked.

This appears to be due to some CNI configuration issues. I am investigating further, but I wanted to share here in case anyone runs into similar issues.

Error logs

[code]

[2021-08-13 16:43] jclangst commented on #1160
I have confirmed that the breakage begins in `0.5.19`. I see the release notes mention a new iptables autodetection mechanism. Continuing to investigate.

[2021-08-13 16:48] jclangst commented on #1160
I believe this commit is the culprit: https://github.com/earthly/earthly/commit/27ad90977c835bdff29e7b922f06e305ba680a5d#diff-3c2736a240a36fe2aa60abcac682b73839b9cecbe0822e35a5ce12f281e31102

[2021-08-13 17:02] jclangst commented on #1160
I think it will be difficult to auto-detect the appropriate binary in all use cases. It looks like this already ran into trouble with WSL as well: https://github.com/earthly/earthly/commit/0bb37ac3ba0a77b145154aff916875635107672f#diff-3c2736a240a36fe2aa60abcac682b73839b9cecbe0822e35a5ce12f281e31102.

I'd propose a fix that allows users to explicitly choose which version of iptables to use in case

[2021-08-13 17:43] dchw commented on #1160
Yeah; I agree. This was introduced in response to a user having the opposite problem; if we shaped the fix like the override we have for `CNI_MTU`, would that be acceptable?

[2021-08-13 17:44] jclangst commented on #1160
Specifically, it appears that the Gitlab issue is likely related to the iptables being statically compiled into the kernel. In this case, `ip_tables` will not appear in the output to `lsmod`. For example, here is the output of `lsmod` for the Gitlab-provided kernel:

[code]

Notice that neither `ip_tables` nor `nf_tables` are listed as modules.

So I believe that the auto-detection script needs to

[2021-08-13 17:49] dchw commented on #1160
I hear you. When I said "shaped like", I meant more like provide an environment variable  + config file option for this setting, like MTU does.

We could either:

1. Provide a setting  to specifically choose what `ip_tables` implementation to use.
2. Provide a setting to just bypass the check and use what is already configured.

[2021-08-13 17:52] jclangst commented on #1160
Ah gotchya. I misinterpreted. My recommendation would be the first option as it allows a bit more control.

[2021-08-13 17:59] jclangst commented on #1160
Here is my proposal for the auto-detection algo:

0. If the user specifically selects one, use that. Otherwise, continue.
1. Check `lsmod` for `ip_tables`. If present, use `/sbin/iptables`. Otherwise, continue.
2. Check `lsmod` for `nf_tables`. If present, use `/sbin/iptables-nft`. Otherwise, continue.
3. Try both `/sbin/iptables -t nat -S --wait` and `/sbin/iptables-nft -t nat -S --wait`
   3.1 I

[2021-08-13 19:03] jclangst commented on #1159
For reference, this is on `0.5.22`.

[2021-08-15 15:13] wingyplus commented on #378
Update from during the weekend:

* The syntax for `FOR .. IN` and `SAVE ARTIFACT .. AS LOCAL` is supported.
* Preparing before submitting to [MELPA](https://github.com/melpa/melpa/blob/master/.github/PULL_REQUEST_TEMPLATE.md)
  * Fix package comment by running `package-lint`. I think we can run it on CI, maybe we can add it on GitHub workflows.
  * Make `checkdoc` happy.

I think it is quite stabl

[2021-08-16 07:52] mxey commented on #1133
Yes.

[2021-08-16 16:22] alexcb opened #1165 "PROPOSAL: drop the --artifact flag"
The `--artifact` flag might not actually be needed, we could infer if we're running under artifact mode if there's a slash (`/`), that follows a `+`.

e.g.

    earthly --artifact +mytarget/myfile

could simply be

    earthly +mytarget/myfile

or

    earthly +mytarget/myfile save-my-file-to-this-file-instead

**Support for copying multiple artifacts.**

Currently we can only copy artifacts from

[2021-08-16 18:43] jclangst opened #1167 "Proposal: Forward SIGINT & SIGTERM"
Earthly Version: `0.5.22`

## Current State
It seems that when the `earthly` process receives a SIGINT or SIGTERM, earthly does not send those signals to the running processes in Buildkit: https://github.com/earthly/earthly/blob/9e6b945ca043b47c9eccdc0f423e19ca4577a854/cmd/earthly/main.go#L183.

We are using earthly for running our infrastructure tools (e.g., terraform / terragrunt). Without recei

[2021-08-16 21:55] alexcb opened #1168 "add a HOSTS command to add entries to /etc/hosts"
It's not trivial to modify `/etc/hosts`; it's currently set as read-only:

[code]

results in:

[code]

The current workaround is to copy `/etc/hosts` elsewhere, then unmount the read-only version, then copy it back and then modify it:

[code]
[code]

However, this must be done in each `RUN` command. calling `earthly +pinghostsecondtime` fails as the `/etc/hosts` file change does not persist.

fur

[2021-08-17 15:28] cfoust commented on #1052
Just want to add my support for this as someone who would love to use Earthly for frontend products. It's a pretty common pattern in the front end world to run something akin to `--watch`, since most web bundlers support some kind of hot reload functionality. `--interactive --port` would basically solve every need I have.

[2021-08-19 17:00] dchw commented on #1160
Should be fixed here: https://github.com/earthly/earthly/pull/1172

[2021-08-19 17:00] #1160 closed

[2021-08-19 20:16] alexcb commented on #1102
here's an example of what we currently already have:

consider running `./earthly -V git.example.com/user/repo:main+foo`, this will display:

[code]

which includes `fatal: unable to access 'https://git.example.com/user/repo.git/': Could not resolve host: git.example.com`. I think that's enough information to figure out what's the issue. Perhaps this wasn't the case when I initially opened this is

[2021-08-19 20:16] #1102 closed

[2021-08-19 23:06] alexcb commented on #1043
https://github.com/earthly/earthly/pull/1174

[2021-08-20 23:42] alexcb commented on #1024
I wrote a test using submodules (under https://github.com/earthly/earthly/pull/1175/commits/48085427a5b29d85a75436be85280e767acfd74c ), but it's passing and doesn't replicate this issue. I'll need to dig a bit deeper for this.

I then re-wrote the test to use two differen sshd instances (one on port 22, the other on port 2222), both using different ssh keys, but that isn't replicating the issue.

[2021-08-21 00:34] wingyplus commented on #378
@vladaionescu ping :)

[2021-08-23 18:20] vladaionescu commented on #1165
I think it's better to have clarity, even if the command is slightly longer. It's easier to read what the command does if it's more explicit.

I can see the value of outputting multiple artifacts though. Perhaps like this?

[code]

[2021-08-23 18:24] vladaionescu commented on #1167
I think what happens under the hood is that the connection to buildkit gets dropped as a result of earthly exiting, and buildkit sees that as a canceled context. I think it `SIGKILL`s the underlying processes at that point (but not sure). Perhaps it's better if it `SIGTERM`s and waits 10-30s for them to gracefully exit before `SIGKILL`ing. If that process is then restarted by another earthly it ma

[2021-08-23 18:30] vladaionescu commented on #1168
Another question is whether the updated hosts should persist within the resulting image or not.

Precendents in Docker: [docker build --add-host](https://docs.docker.com/engine/reference/commandline/build/) option and also [docker run --add-host](https://docs.docker.com/engine/reference/commandline/run/#add-entries-to-container-hosts-file---add-host) option.

[2021-08-23 20:24] MatthiasScholzTW opened #1177 "Earthly Remote Buildkit Configuration - config.yaml"
Just a simple questions since the documentation is lacking on a specific point and some trial and error did not help.

# Problem Statement

WORKING: Using this command allows to connect to the external earthly buildkit server:
`EARTHLY_BUILDKIT_HOST=tcp://<server_dns_name>:8372 earthly +<step>`

NOT WORKING: Trying to make this happen in the configuration `~/.earthly/config.yml` was not successful

[2021-08-23 20:35] vladaionescu commented on #1177
Hi @MatthiasScholzTW - in your example config I see `earthly_buildkit_host`. I believe the correct key is simply `buildkit_host`. But maybe you have tried both?

CC @dchw

[2021-08-23 20:47] vladaionescu commented on #378
Hi @wingyplus - apologies, I was away for a while. This looks really awesome! If you are ok to transfer the project over to the `earthly` org it would be greatly appreciated.

In parallel, if anyone else is able to install and verify that the mode is working as expected and report back to this issue with a comment it would be really useful.

[2021-08-23 20:58] MatthiasScholzTW commented on #1177
Indeed, I gave both options a try.  With and without `earthly_` prefixed.

[2021-08-23 21:03] alexcb opened #1178 "write a script to keep enabled features in sync between buildkite and GHA"
That's a good plan, I wonder if we could define these flags in a single location and have both GHA and buildkite make use of them? I'll take a look and see if I can do that.

_Originally posted by @alexcb in https://github.com/earthly/earthly/issues/1157#issuecomment-904128808_

[2021-08-23 21:04] vladaionescu commented on #1177
As far as I can tell you did everything right. It's probably a bug.

[2021-08-23 21:20] vladaionescu commented on #1159
Seems like a bug indeed.

[2021-08-23 22:24] duck1123 commented on #378
I'm seeing some odd highlighting in places where part of my commands match some of the keywords (expose, use)

I'm not sure I installed it entirely correctly. I copied the earthly-mode directory to my personal directory (I use Prelude) and tried initializing it with

[code]

but it only provided `earthly-mode/sample-function`. I later evaluated each of the forms in the syntax highlighter.
![Screen

[2021-08-23 22:32] jclangst commented on #1167
Yes, that behavior would be inline with a lot of stateful infrastructure tooling (e..g, terraform / terragrunt).

I'd recommend a 30 second default timeout. If its not a big lift, I'd also recommend adding a `--termination-grace-period-seconds` argument to the `RUN` step that could allow more granular configuration if desired. This would be fairly isomorphic to the Kubernetes behavior which I bet

[2021-08-23 23:55] vladaionescu commented on #1167
By default, Buildkit would want to reuse computation. So if a process with the same hash is already running, it'll attach its outcome to it. So if it fails (because of a SIGTERM), we don't want that "cancelled" outcome to be propagated to the newer invocation. Somehow these two will need to be disconnected from each other.

[2021-08-24 00:31] wingyplus commented on #378
@vladaionescu Thanks for your reply. I’ll transfer within the day. :)

[2021-08-24 00:32] wingyplus commented on #378
@duck1123 Thank you for help testing it. I’ll looking it within the day.

[2021-08-24 00:43] duck1123 commented on #378
@wingyplus same thing in eye-bleed mode.

Using this file: https://github.com/duck1123/dinsro/blob/develop/Earthfile
![Screenshot from 2021-08-23 20-41-09](https://user-images.githubusercontent.com/11774/130537523-2ac834de-d7f1-4151-87f8-e00b36e1f17c.png)

[2021-08-24 00:44] wingyplus commented on #378
@duck1123 thanks i’ll looking it in a few hours

[2021-08-24 05:20] wingyplus commented on #378
@duck1123 Now on the master branch, the target name issue is fixed. I'm not sure why the theme that you use highlights the variable partially but it's not happening on the default emacs theme. (The dark theme in the screenshot below is iTerm nord theme) :(

<img width="1030" alt="Screen Shot 2564-08-24 at 12 17 12" src="https://user-images.githubusercontent.com/484530/130559856-e8a8eeba-5886-48f3-

[2021-08-24 06:48] wingyplus commented on #378
@vladaionescu I try to transfer ownership but it requires me to have permission to create a repository on the earthly organization. The error after transfer is:

[code]

Or we might try changing to approach such as fork it to earthly organization or push it earthly organization by you. :)

[2021-08-24 12:22] wingyplus commented on #378
@vladaionescu another question is do we need to treat `.earth` file extension to enable syntax highlight by default?

[2021-08-24 18:08] pmembrey commented on #1024
@alexcb It's only with github. The repo is protected by my yubikey (but I don't think that is relevant for this), and as part of the check out it then pulls the sub modules. I get prompted to touch the yubikey which auths the first checkout, but when it tries to get a sub module, before it gets to auth, it rejects the server as unknown. The key it's shown though is the one for github in the source

[2021-08-24 19:30] dchw commented on #1177
Should be fixed with #1180.

The TL;DR is that the environment variable worked along an old codepath, while the setting in the file would only be activated by _another_ setting intended to feature gate the `buildkit_host` setting. This PR should remove that feature flag and fix this case.

[2021-08-24 19:30] #1177 closed

[2021-08-24 21:07] mologie commented on #581
The current forced scope of ARGs makes it very inconvenient to propagate information. For example, I am passing a `CI_PIPELINE_ID` into a `+BUILD` command, but this is rather awkward right now:

[code]

It would be a lot nicer if I could just place the `ARG CI_PIPELINE_ID` right into the relevant command.

This is would look even better with the syntax suggested by @parnham: ARGs would work like e

[2021-08-24 21:58] #1108 closed

[2021-08-25 01:48] jclangst commented on #1167
Interesting. I am assuming the behavior I experienced of not re-attaching was because I disabled caching for the infrastructure-related targets. I'd have to do a little bit more research to have a cogent suggestion as this is slightly beyond my current knowledge level of the buildkit internals.

[2021-08-25 08:39] simonvanderveldt commented on #1139
I think in essence this is correct, but there's also some mental overhead/noise.
You have to include something like `COPY . .` if you want the equivalent of `docker run -v $PWD:<location>`. Which is just noise for the actual thing you want to do.
And this is ignoring the `SAVE ARTIFACT AS LOCAL` thing you'll also need to do if you expect some output.

[2021-08-25 14:21] MatthiasScholzTW opened #1184 "Updating homebrew formula"
Would it be possible to update the homebrew formula for Earthly:

- https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/earthly.rb

so I can test the solution for https://github.com/earthly/earthly/issues/1177? 🙏

The current version available as homebrew is: `v0.5.17` latest release is: `v.5.23` (at the time writing this).

I tried to prepare a PR, but unfortunately I am missing the SHA25

[2021-08-25 14:23] dchw commented on #1184
We moved to our own tap. I think you can run `brew install earthly/earthly/earthly` to move to our new tap and upgrade.

[2021-08-25 14:27] MatthiasScholzTW commented on #1184
Ah interesting, I missed that...
Should the old formula be deleted?

Just pulled it using the tap. One thing noticeable on `Big Sur` the `Catalina` version is pulled. Maybe this is expected.

[2021-08-25 14:30] MatthiasScholzTW commented on #1177
Can confirm the latest release: `v0.5.23` solve the issue.

For the record the configuration option is:
`earthly config global.buildkit_host tcp://<dns_name_of_build_server>:8372`

Thanks for the quick fix!

[2021-08-25 14:33] dchw commented on #1184
I don't know. I _do_ know that the Homebrew team has disabled the recipe.

[2021-08-25 14:34] #1184 closed

[2021-08-25 18:02] mologie opened #1187 "buildkitd stuck at 100% CPU for 5 minutes during SAVE ARTIFACT for ~20 MiB output"
Versions: earthly 0.5.22 (in --ci mode), docker 20.10.7

Hi, I am trying to migrate an existing GitLab CI pipeline to Earthly but I am hitting a major performance roadblock. Welcome to contribute to a solution here, but as it stands I would need some pointers to start diagnosing this properly.

**Symptoms:** A cross-compilation task, which takes 9 minutes with Docker on the same build machine I ru

[2021-08-25 19:09] jazzdan opened #1188 "Mount options is too long"
## Steps to reproduce
1. `git clone https://github.com/jazzdan/earthly-too-many-files.git`
2. `cd earthly-too-many-files`
3. `earthly +compile`

## What I would expect to happen
I would expect earthly to print the name of every file

## What actually happens

It fails with an error code:
[code]

[2021-08-26 01:51] volkanunsal opened #1189 "Cannot access internet inside `dind` container"
I'm running into an interesting issue using earthly. I'm planning to run an integration test in container A that calls a selenium server in container B, and the selenium server is supposed to call back the container A, where there is a server process running.

But I keep getting `ERR_CONNECTION_REFUSED` errors from the selenium web driver. They happen when the container B is trying to call contain

[2021-08-27 19:26] alexcb opened #1195 "investigate creating raspberry pi images with earthly"
It would be nice to investigate producing a raspberry pi image with a custom binary that could then be loaded onto an SD card via `dd`.

This could be done as a blog post.

[2021-08-28 01:41] vladaionescu commented on #1189
Any thoughts @dchw?

[2021-08-28 01:52] vladaionescu commented on #1187
Hi @mologie, your assumptions could be correct. A few questions:

* Just curious: is the cross-compilation emulation based? Or does it run natively? (is `FROM --platform=...` being used?)
* The container image does seem pretty big. I assume you're not doing any `SAVE IMAGE` anywhere else?
* I assume that the findings you're seeing so far are taking place on your own computer? What OS are you on?
*

[2021-08-28 01:58] volkanunsal commented on #1189
I solved this. Turned out to be a simple configuration issue on my end.

[2021-08-28 01:59] #1189 closed

[2021-08-28 02:03] wingyplus commented on #378
@vladaionescu Thanks for opening the repository. The pull request is now open here https://github.com/earthly/earthly-mode/pull/1. :)

[2021-08-28 04:51] wingyplus commented on #378
Since https://github.com/earthly/earthly-mode/pull/1 was merged. The next step is publishing it to MELPA. :)

[2021-08-28 04:54] vladaionescu commented on #378
Great! Will you be doing this @wingyplus? You can say that you are a maintainer if they ask.

[2021-08-28 04:55] wingyplus commented on #378
Sure. Let me read the submitting instruction and will tell in this issue after I submitting to them. :)

[2021-08-28 05:13] wingyplus commented on #378
I'm forgot about changing url to earthly org. Please help review https://github.com/earthly/earthly-mode/pull/2/files. 🙇‍♂️

[2021-08-28 05:25] wingyplus commented on #378
I submitted a PR to MELPA here https://github.com/melpa/melpa/pull/7701. Waiting for maintainer to reviewing it.

[2021-08-30 11:49] mxey opened #1197 "VS Code: Task provider"
VS Code extensions can automatically detect tasks in a workspace and contribute them to the list of tasks that the user can run, using the [Task Provider API](https://code.visualstudio.com/api/extension-guides/task-provider). This is for example used by extensions for Gulp/Grunt. I think providing its targets to VS Code as tasks would make a lot of sense for Earthly.

[2021-08-31 06:32] xv-davidwf opened #1198 "Multiple --compose does not load volume on Mac"
I am attempting to use [layered compose files](https://docs.earthly.dev/docs/earthfile#compose-less-than-compose-file-greater-than) on Mac.

[code]

My two compose files are as follows:
[code]

And my Earthfile:
[code]

# Expected Behaviour
When I run the this target `+server-dev` I am then able to see the contents of the host source directory.

*Note*: This is exactly what happens if I manually c

[2021-08-31 19:08] diegobernardes commented on #760
With the new terms of usage of Docker, the support for Podman is something critical for the adoption of Earthly by companies.

https://www.docker.com/blog/updating-product-subscriptions/

[2021-09-01 16:33] mologie commented on #1187
Hi @vladaionescu, thank you for your response and sorry for the delay on my end. The CI changes I am working on do not receive a high priority in my team right now but rest assured this is being worked on, we love Earthly so far, and hope to be able to contribute back here.

Thank you first of all for confirming I /could/ be on the right track. I will continue investigating!

If you mind having th

[2021-09-01 16:36] mologie commented on #1187
Hi @vladaionescu, thank you for your response and sorry for the delay on my end. The CI changes I am working on do not receive a high priority in my team right now but rest assured this is being worked on, we love Earthly so far, and hope to be able to contribute back here.

Thank you first of all for confirming I /could/ be on the right track. I will continue investigating!

If you mind having th

[2021-09-01 22:32] alexcb commented on #1114
this is holding back #619 from moving from beta to GA.

[2021-09-03 09:24] zedtux commented on #1022
@vladaionescu I tried what you told in my Kubernetes cluster, running the Gitlab runner and a private Docker registry (no password, no SSL for now, registry is only accessible from within the cluster):

[code]

but the private registry logs doesn't show any activity from Earthly's buildkit.

I know my docker-registry/gitlab setup works as the Earthly docker image download is well cached, and I can

[2021-09-03 15:58] vladaionescu commented on #896
This has been implemented and is now in experimental stage. To enable, use `VERSION --referenced-save-only 0.5` at the top of the Earthfile.

[2021-09-04 00:26] vladaionescu opened #1200 "Earthly `--ci` mode should allow outputs in some cases"
Earthly `--ci` enables `--use-inline-cache`, `--save-inline-cache` and `--no-output`. It would be great if

- [ ] The `--no-output` part could be negated if the user chooses to (e.g. `--ci --output`)
- [ ] Output was automatically enabled when using `--artifact` or `--image` (e.g. `--ci --artifact +target/file.o ./` or `--image +target`)

[2021-09-04 00:30] vladaionescu commented on #1198
Thanks for the detailed explanation - seems like a legit issue.

And if you use a local volume mount in a single compose file it works fine?

[2021-09-04 00:41] vladaionescu commented on #1187
Some more things to try:

* If you try to use `earthly --artifact +your-target/artifafct ./some/dest/path` can you reproduce the issue? This command only performs the artifact output. If it works fast, perhaps there is some other unexpected exporting that takes place.
* We have a new hidden feature (https://github.com/earthly/earthly/issues/500#issuecomment-854229163) that allows faster image expo

[2021-09-04 00:49] vladaionescu commented on #1022
Nothing obvious jumps out. CCing @dchw who has experience with a pull-through cache.

BTW, @dchw, should we include some registry mirror example in our [pull-through cache docs](https://docs.earthly.dev/ci-integration/pull-through-cache)? Kinda like

[code]

[2021-09-04 00:53] vladaionescu commented on #1114
This is probably complete now 🎉 . Please reopen if not.

[2021-09-04 00:53] #1114 closed

[2021-09-04 01:00] dchw commented on #1022
@zedtux I think you have a couple things you need to tweak in your config:

[2021-09-04 06:46] zedtux commented on #1022
Thank you both, I will try that on Monday but it make a lot of sense!

[2021-09-05 02:00] wingyplus commented on #378
Hi folks, earthfile-mode (previous name earthly-mode) is now published to [MELPA](https://melpa.org/#/earthfile-mode). You can now install package directly from emacs.

If you have a trouble or found a bug, you can report it at https://github.com/earthly/earthly-emacs/issues. 😃

/cc @vladaionescu

[2021-09-05 21:09] vladaionescu commented on #760
Agreed

[2021-09-06 01:11] xv-davidwf commented on #1198
Sorry for delay -- big timezone gap here.

Yes, if I copy-and-paste the three lines

[code]

into the single docker-compose.yml file under the "server" key it works fine, and if I run `docker-compose -f docker-compose.yml -f docker-compose.serverdev.yml` it also works as expected.

[2021-09-06 09:16] zedtux commented on #1022
Looks like a step further, but I now have an unauthorized error:

[code]

[2021-09-07 08:04] mortenlj opened #1201 "Surprising ordering of tasks when using LOCALLY"
This might be more of a problem with docs/syntax than an actual bug, depends a bit on how `LOCALLY` is meant to be used.

I was experimenting with ways of using earthly to replace more of my `scripts/` folder, which includes scripts to start dependencies when debugging. So I added a task to build a target, and then execute it. What surprised me is that the `RUN` under  `LOCALLY` was executed befor

[2021-09-07 14:08] wingyplus commented on #507
I've done some research on the language server here https://github.com/wingyplus/earthlyls. In the research, I use the library called [jrpc2](github.com/creachadair/jrpc2), it is JSON Rpc library that can parse LSP protocol header. And use a protocol that generated from gopls in the x/tools repository. And try to integrate with emacs with this configuration:

[code]

[2021-09-07 17:27] vladaionescu commented on #1201
Hi @mortenlj - indeed, I think it's a documentation issue for the most part. We should make it a bit more obvious how to achieve this.

The solution to this is to use `COPY` to reference the artifact from under `LOCALLY`:

[code]

[2021-09-07 19:48] vladaionescu commented on #378
Great stuff @wingyplus 👏 🎉

Would you mind updating the project's readme to add instructions on how to install from MELPA? I'll then use those same instructions on the "[get earthly](https://earthly.dev/get-earthly)" page.

[2021-09-07 21:34] mortenlj commented on #1201
Yeah, that makes sense. `LOCALLY` is meant to replace `FROM`, which should be the first statement in a task I guess?

Would probably be useful if earthly errored out when parsing the file if that's the case.

[2021-09-07 23:58] vladaionescu commented on #1201
Yes, exactly - it's in-lieu of a `FROM`.

There are still some obscure use-cases to have things even before a `LOCALLY` or a `FROM`. e.g. having some logic to decide programmatically the base image used as part of `FROM`. Hard to turn it into an outright error.

[2021-09-08 00:54] wingyplus commented on #378
I’ll open a PR within today

[2021-09-08 03:50] indygriffiths opened #1202 "Panic on launch if Earthly doesn't have permission to read .env"
OS: Ubuntu 18.04

The `FileExists` and `DirExists` functions within fileutil.go don't handle errors other than when a file cannot be found, meaning that you get a nice-looking panic if you try running Earthly if it doesn't have access to read `.env` in the current working directory.

[code]

Depending on semantics these functions could return false if `err != nil` or the functions could return an

[2021-09-08 05:56] wingyplus commented on #378
@vladaionescu The readme updated here https://github.com/earthly/earthly-emacs/pull/11.

[2021-09-08 09:12] zedtux commented on #1022
@dchw do you have any idea what could be wrong that I can check please?

[2021-09-08 20:47] indygriffiths commented on #1202
This also comes up when attempting to find the Earthly config directory in `GetEarthlyDir`, which gets called when attempting to detect the presence of `config.yaml` vs `config.yml`.

The function first looks for the `.earthly` folder from the `SUDO_USER` home directory if that envvar exists. In our case where Earthly is only be able to run from a specific user with no permissions to look at my ho

[2021-09-09 01:31] vladaionescu commented on #1202
Makes sense - seems like something we should fix

[2021-09-09 01:56] vladaionescu commented on #378
Aaaaand it's live 🎉

See under **Syntax highlighting**: https://earthly.dev/get-earthly

@duck1123 - would you be able to install using the instructions on the "Get Earthly" page ☝️  and verify that all works as expected?

[2021-09-09 02:32] duck1123 commented on #378
I don't have use-package to test with, but I can confirm that the package-install instructions work.

[2021-09-09 04:51] dchw commented on #1022
@zedtux Interesting. Are you seeing logs on your cache, and have you logged in to it on the host? IIRC buildkit is using the docker auth, and this includes pull-through caches.

[2021-09-09 06:53] pmembrey commented on #1024
@alexcb I've just spent the day trying to reproduce the issue and I haven't had any luck. The exact same repo that was failing before now seems to be working. I tried pruning and doing a fresh build and it still worked fine.

I think it's probably best to close this out unless I hit it again. It's possible it got fixed by something in buildkit.

Sorry for the wild goose chase! :/

[2021-09-09 11:02] wingyplus commented on #378
Nice!!

[2021-09-09 17:14] vladaionescu opened #1203 "Syntax Highlighting for Visual Studio"
We already have syntax highlighting for VS code. We could use that for Visual Studio as well.

[2021-09-09 20:45] vladaionescu commented on #378
Awesome work, everyone! Thank you @wingyplus for putting everything together!

This is now complete. Future work will be tracked as part of the earthly/earthly-emacs repository.

[2021-09-09 20:45] #378 closed

[2021-09-09 20:52] vladaionescu commented on #1024
Sounds good, no worries! Feel free to reopen if you encounter it again.

[2021-09-09 20:52] #1024 closed

[2021-09-10 07:34] zedtux commented on #1022
Yes, I have the logs, and there's nothing.

When the build starts, in the gitlab runner, it pulls the Earthly docker image from the registry, and I can see from the logs from my private registry the pull of that docker image.

Then starts earthly which tries to fetch the first image (see the logs from my [previous comment](https://github.com/earthly/earthly/issues/1022#issuecomment-913488332) but

[2021-09-10 20:57] vladaionescu commented on #284
This has been done for a while.

[2021-09-10 20:57] #284 closed

[2021-09-10 21:36] #1201 closed

[2021-09-11 14:10] dbermond commented on #1202
The tests fails to pass for me in earthly 0.5.23 when building the Arch Linux package on a chroot (which is the default way to build packages on Arch). In 0.5.22, the tests passes fine.

I think this is related to the current issue discussed here. Please correct me if I'm wrong.

Output:

[code]

[2021-09-13 03:06] wingyplus commented on #1203
We may add support for IntelliJ as well. 😄

[2021-09-13 09:12] wingyplus opened #1205 "Syntax highlighting for IntelliJ"
After I see #1203, I have an idea that we should add support for IntelliJ also. :)

[2021-09-13 17:11] vladaionescu commented on #1205
Note that we already have this open: https://github.com/earthly/earthly/issues/359

[2021-09-13 17:11] #1205 closed

[2021-09-13 20:01] alexcb opened #1206 "when using --artifact, artifacts are created relative to the target Earthfile, rather than the directory where they are run from"
for example, grab this repo:

[code]

now try to copy something out of a subdirectory:

[code]

it failed to make the output directory within the context of the current working directory:

[code]

However, the file in fact was output relative to the Earthfile under the proto dir:

[code]

[2021-09-14 02:34] wingyplus commented on #1205
Thanks. I didn't aware that issue before create

[2021-09-14 04:01] kevinschoonover opened #1208 "forward dns traffic to host"
I am using 'split tunnel' dns via [tailscale magic dns](https://tailscale.com/kb/1054/dns/) which intercepts certain DNS requests to localhost and forwards them to the tailscale dns server (private ip 100.100.100.100). However, docker will only use `8.8.8.8` and `8.8.4.4` when localhost is the host's only nameserver in `/etc/resolv.conf` which causes DNS resolution of magic dns names in Earthfiles

[2021-09-14 15:03] joebobmiles opened #1209 "Building a Target from Local Dockerfile on Windows Uses Incorrect Paths"
I'm the only developer on my team currently using Windows with Earthly and have been working out the problems with our current Earthfiles on Windows. In doing so, I've found a bug in Earthly's path resolution when you have an Earthfile that builds a target from a local Dockerfile.

[Reproduction repo](/joebobmiles/super-octo-potato)

The Earthfile is something like this:
[code]

And the docker fil

[2021-09-14 15:19] dchw commented on #1209
This is a known issue: https://github.com/earthly/earthly/issues/1031. The code to understand Dockerfiles is from Buildkit, and requires some patching (or some intermediary) to correct the paths host-side.

[2021-09-14 17:02] davidreuss opened #1210 "Add support for import cache"
Buildkit supports this: https://github.com/moby/buildkit#local-directory-1

Use case is to prime the cache in a airgapped environment.

This is similar in nature to #1116

ref: slack thread for initial request https://earthlycommunity.slack.com/archives/C01DL2928RM/p1631636443050700

[2021-09-15 12:56] mxey opened #1211 "Commit pinning for GIT CLONE"
I would like the `GIT CLONE` command to support specifying an exact commit together with a ref/branch.

I want to specify an exact commit to ensure the build is reproducible. Git tags are not immutable (and obviously branches are not). This is similar to specifying a digest when using a container image.

According to Slack, I can use `--branch` to specify a commit. I would however like to specify

[2021-09-15 16:48] vladaionescu commented on #1211
As a workaround would it be possible to use

[code]

and then add back in the branch and/or tag information via

[code]

[2021-09-15 18:49] JosemyDuarte commented on #1200
Hi Vlad! I would be happy to contribute to this one. I have opened a PR with my understanding of the requirements. Open to any feedback

[2021-09-15 20:16] alexcb opened #1215 "extend bash autocompletion to include buildargs"
consider an Earthfile:

[code]

It would be nice to have earthly auto complete the args, e.g. earthly currently will extend `earthly +tar<tab><tab>` to `earthly +target`, it would be nice that a user could then hit `<tab><tab>` again and see `--foo` as an option (`earthly +target -<tab><tab>` would expand to `earthly +target --foo=`.)

[2021-09-16 07:53] mxey commented on #1211
@vladaionescu At the moment I just go with `--branch=<tag>` and have Renovate configured accordingly. I don't have a need for a workaround, I just would like to have commit pinning eventually :)

[2021-09-16 09:06] zedtux commented on #1022
@dchw do you think that my issue is due to the lack of a password on the registry?

[2021-09-16 16:29] JosemyDuarte commented on #352
Hi all! I have just opened a PR building on top of the current Golang example some unit-test and integration tests as described by @adamgordonbell. Any suggestion will be appreciated.

[2021-09-17 01:46] paynecodes commented on #1052
I'd like to add my support for this as well. I primarily work on the frontend, so my perspective  I'm unable to speak to implementation, but I wanted to add a few use cases here to spark discussion.

- long running dev commands such as `next`, `webpack-dev-server`, etc.
- long running test commands such as `jest`
- debugging
- linting

What else is missing to achieve a modern node/js/ts workflow?

[2021-09-21 05:31] paynecodes commented on #167
Anyone know which issue is the correct issue regarding these use cases?

[2021-09-21 17:36] sicksid commented on #1152
@alexcb I still get the same error guys although, my credentials are no longer leaked, should i create an issue for this? basically it wont do submodules

![Screen Shot 2021-09-21 at 12 36 00](https://user-images.githubusercontent.com/7379966/134219926-615cec5e-3dec-4234-a765-a3a6af5d33b1.png)

[2021-09-22 02:30] #352 closed

[2021-09-22 02:33] vladaionescu commented on #167
LoL - my bad. It's https://github.com/earthly/earthly/issues/580

[2021-09-22 02:36] vladaionescu commented on #1152
Yes please - I believe we should be supporting submodules. Please include information about how to reproduce the issue.

[2021-09-22 11:31] jamesalucas opened #1220 "Error: buildkit process has exited"
We are seeing the buildkit process crash frequently in our CI server - we have 2 CentOS 8 boxes (20 CPUs with 40GB RAM) each of which host 10 Github runners and for any given build all 20 will be running different Earthly targets, although there is likely to be some common targets invoked by these.

When buildkit crashes the majority of the time all we see in the CI logs are one of the following e

[2021-09-22 15:58] #1200 closed

[2021-09-22 16:22] jamesalucas commented on #1220
I've just seen the same thing reported in moby/buildkit... https://github.com/moby/buildkit/issues/2303.

I have enabled BUILDKIT_DEBUG and BUILDKIT_SCHEDULER_DEBUG and have a large log file - would that be of any use?

[2021-09-22 22:57] bkendzior opened #1221 "Support the ability to change build context"
I'm curious if there's a way to change the build context when running earthly.

i.e. my repository is organized as such:
[code]

docker build allows for you to specify a build context of `..` for this particular use-case, curious if Earthly supports anything similar or if the build context is purely an artifact of the placement of the Earthfile

[2021-09-22 23:06] alexcb commented on #1221
as a work around, the following might work until we have a better solution:

[code]

[2021-09-23 02:12] vladaionescu commented on #1221
We might not want to support this as a matter of convention. We want the context of the build to always be the current directory to make it easy for the user to follow the logic.

[2021-09-23 02:14] vladaionescu commented on #1220
Maybe.. can't hurt to attach that in case anyone from buildkit finds a use for it.

[2021-09-23 02:15] vladaionescu commented on #1220
It's possible that a buildkit update would also make this go away magically. We should try that first.

[2021-09-23 13:48] notmeta commented on #359
A workaround (for now) I've found is you can actually select the `contrib/eathfile-syntax-highlighting` directory as a TextMate bundle: https://www.jetbrains.com/help/idea/textmate.html

The only problem is it does not recognise files named `Earthfile`, only `*.Earthfile`, I suspect this is a problem with IntelliJ's plugin as I've tried messing about with no success (such as adding an explicit 'Ea

[2021-09-24 09:05] mxey commented on #1210
Using a plain directory for the cache would also to combine that with the Gitlab CI cache, where you specify directories to be cached between runs.

[2021-09-24 09:07] mxey commented on #1208
This would also help with earthly-buildkitd having an outdated resolv.conf, which can happen if the resolv.conf on the host is modified by a VPN client between starting earthly-buildkitd and using it.

[2021-09-24 14:37] navi7 opened #1222 "Add examples for IMPORT"
Enable importing of UDC's by relative import from current Earthfile.

**Description**
Let's say we have the following organization:
[code]

And we would define an UDC in `root` Earthfile, for example:

[code]
And then use the `TAG_SERVICE` in `A` and `B`:

[code]

[2021-09-24 17:16] sicksid opened #1223 "GIT CLONE - having problems downloading submodules"
Hello guys, i'm a big fan of the project, i recently found about this issue and i'm not sure how to solve it:

[code]

it fails with this:

[code]

as an alternative, i'm using this:

[code]

that always works but I can't take advantage of the caching features implemented for `GIT CLONE`, either way, any idea on how to solve or what to do would be appreciated

[2021-09-24 18:04] vladaionescu commented on #1222
This already works today, but the syntax is a little different.

It should be

[code]

[2021-09-24 22:28] vladaionescu commented on #1210
Note that uploading and downloading the whole buildkit cache on every run is extremely slow - so slow that it defeats the purpose of performance gains. If that is the use-case, then it's far better to use Earthly's [remote cache](https://docs.earthly.dev/docs/guides/shared-cache) features.

Priming the cache for an air-gapped environment makes sense as a use-case, however.

[2021-09-25 17:26] sea-grass commented on #357
Since there hasn't been any activity on this issue in a while, is it okay if I pick this up?

[2021-09-26 07:20] ShayNehmad-RecoLabs commented on #1222
This works for us:

[code]

[2021-09-27 12:08] ianpurton opened #1225 "How to add dind to my own images for CI."
I use my own container for CI/CD with a lot of tools built in.

You can see my Earthfile here https://github.com/authn-proxy/authn-proxy/blob/master/Earthfile

However, I do get the issue that earthly install docker on my behalf.

I wasn't abvle to fing the source for the earthly containers i.e. https://hub.docker.com/r/earthly/dind so I can't see how to add the relevant dependencies to my contain

[2021-09-27 21:08] vladaionescu commented on #1222
I'll close this issue now as this is already supported.

[2021-09-27 21:09] vladaionescu commented on #357
Sure @sea-grass - feel free. Seems that many people offered but nobody has shown anything yet.

[2021-09-28 05:17] navi7 commented on #1222
I'm still struggling to get this working correctly. On a new project, it works fine but I can't get it to work in the original one. Can we maybe use this story to write this down in documentation and provide an example (similar to monorepo/multirepo setup)?

[2021-09-28 14:01] mariusvniekerk opened #1228 "Add built-in vars to expose the host os/platform"
Presently it is not easily possible to know what the host os/platform is.  This is particularly importatnt when working on a machine like an m1 macbook that tends to run lots of portions under emulation.

For example you may want to do something like the following (mostly to avoid golang crashing instant under qemu)

[code]

[2021-09-28 16:14] jamesalucas commented on #1220
I've build `buildkitd` locally and have been experimenting with different log messages in our CI environment. So far I have established that the error happens because...

`NewInputRequest` makes a call to `getEdge(Edge)` and within `getEdge` it checks to see if the digest for the edge is active in the following bit of code:

[code]

In the error scenario it is failing to find an entry in `jl.activ

[2021-09-28 22:01] vladaionescu commented on #1228
BTW, we should probably use `USERPLATFORM` (e.g. `linux/arm/v7`), `USEROS` (e.g. `linux`), `USERARCH` (e.g. `arm`) and `USERVARIANT` (e.g. `v7`) so that this matches the already existing `TARGETPLATFORM`, `TARGETOS`, `TARGETARCH` and `TARGETVARIANT`.

I'm also thinking `USER*` instead of `HOST*` as future Earthly builds will not be constrained to one machine. I'm thinking `USER*` is more suggestiv

[2021-09-28 22:02] vladaionescu commented on #1222
Good idea

[2021-09-29 15:24] mxey opened #1230 "COPY: Recursive globbing"
It would be useful if Earthly supported recursive globbing.

I would like to turn this

[code]

into this

[code]

[2021-09-29 16:56] jamesalucas commented on #1220
I _think_ I have managed to confirm that the entries in `jl.actives` are being removed prematurely as I can see the following from my logging:

[code]

So the digest that eventually fails is deleted just before it is used.

At this point I'm not sure how to proceed, I can see 2 possibilities:

1) Try and delay the deletion until the work that needs it has finished
2) Try and catch the error and as

[2021-09-30 03:00] saisumanthkumar commented on #342
I have a react grocery application can I add ??

[2021-10-01 00:18] vladaionescu commented on #342
Ideally, it's a very simple hello-world type of react app so that the focus is on the build, not on the app itself.

[2021-10-01 00:20] vladaionescu commented on #1220
Not sure either - perhaps you can ask on the #buildkit channel in the [Docker community slack](http://dockr.ly/slack). There are some really helpful people over there.

[2021-10-01 01:31] sea-grass commented on #357
Thanks! I just created a PR that adds a C example: https://github.com/earthly/earthly/pull/1235. Let me know if there's someone I should tag as a reviewer.

[2021-10-01 08:02] arajhansa commented on #1215
I would like to give this issue a try.

[2021-10-01 12:49] am-a-man commented on #1228
Hey,
I'd like to work on this, please assign this to me.
Also I'm fairly new to Open Source, it would be great if you could provide with some help.

[2021-10-01 15:20] dchw commented on #760
We've added experimental support for Podman. You can enable it by explicitly setting it in your configuration, like this `earthly config global.container_frontend podman-shell`.

[2021-10-01 21:18] vladaionescu commented on #357
Awesome! Added @alexcb as reviewer.

[2021-10-01 22:24] #357 closed

[2021-10-02 02:47] rafaeelaudibert commented on #1197
Hey! It'd be pretty cool if I could add this to Earthly! Could you guys assign me to this?

Would we add this to the existing extension? Today it is named "Earthfile Syntax Highlighting", but we could then change it to "Earthly" with a description like "Earthly support for Visual Studio Code", WDYT?

[2021-10-02 03:08] HarshitPandey251 commented on #1197
@mxey I want to work on this task as this is my first open source project, Please assign it to me

[2021-10-02 05:12] RiyaGupta89 commented on #1203
@vladaionescu May I work on this issue?

[2021-10-02 05:12] RiyaGupta89 commented on #1228
May I work on this issue? @vladaionescu

[2021-10-02 07:22] DADDY-DOUBLESHOT commented on #342
I do  have a simple to-do list react app  with simple interface shall I add it  @vladaionescu ?

[2021-10-02 08:08] saisumanthkumar commented on #342
@vladaionescu Can I add some React JS web application,That I have made <a href="https://github.com/saisumanthkumar">My profile</a>

[2021-10-02 16:13] vladaionescu commented on #1203
Sure, go for it

[2021-10-02 16:14] vladaionescu commented on #1197
Go for it @HarshitPandey251

[2021-10-02 16:19] vladaionescu opened #1242 "Display nice message when docker is not running"
Arsene reports on Slack:

[code]

[2021-10-02 17:11] Aarjav-Jain commented on #342
Can i work on this?

[2021-10-02 17:18] vladaionescu commented on #342
Please submit a PR to take this further. Anyone is allowed to contribute

[2021-10-02 19:01] rafaeelaudibert commented on #1197
@vladaionescu Hadnt I asked it first? 🤔. Im already playing around with it, and will probably have a POC by tomorrow

[2021-10-02 21:13] mohitsaxenaknoldus commented on #994
Can I take this up?

[2021-10-02 23:06] pragun-ananda commented on #1228
Hi, I'm interested in working on this issue (or issues of similar difficulty) as well. This is my first Hacktoberfest so I'd love some guidance! @mariusvniekerk

[2021-10-03 12:28] fumblehool commented on #549
Hi, @vladaionescu I would like to work on this. Can you assign this to me?

[2021-10-04 07:02] notmeta opened #1243 "IMPORT context relative to caller"
As discussed on Slack,

`IMPORT` context seems to be relative to the calling Earthfile rather than the Earthfile the import is in.

Example:
https://gist.github.com/notmeta/4d811d20ca094676f0b5da1f0ab87318

- running lib/Earthfile `earthly +build` works, but `earthly +build-imported` doesn't, where the only difference is an import statement
- however running `earthly +build-imported` directly via

[2021-10-04 09:22] zedtux commented on #988
The last version of Earthly (v0.5.24) fixed the issue reported in [my comment](https://github.com/earthly/earthly/issues/988#issuecomment-872487332) but the artifacts aren't saved since the target fails as @mariusvniekerk.

Until this proposal is implemented, I'll try the @jamesalucas' way ...

[2021-10-04 13:42] poorvi-sharma commented on #342
I am totally new to open source contributions. I would love to contribute to this as my first open source contribution. Will send a PR with a simple react app. Please review it sir.

[2021-10-04 16:31] KKVANONYMOUS opened #1246 "Add example hyperlinks for other languages in Examples list in the Quickstart Section of README file"
Currently, the Examples list in the [Quickstart Section](https://github.com/earthly/earthly#quick-start) of the README file contains hyperlinks to languages like Go, Java, Cpp, JS
It would be beneficial to add links to other languages such as C, Cobol, Python, Ruby, Rust, Scala to make the navigation easier.

@vladaionescu
If you find this issue useful, I would be happy to work on this 😃

[2021-10-04 18:14] vladaionescu commented on #988
BTW we've prioritized this for Oct. It's unintuitively hard though - it may take a while until it's ready.

[2021-10-04 19:20] vladaionescu opened #1247 "VERSION statement shouldn't need to be consistent across all earthfiles"
In the example in https://github.com/earthly/earthly/issues/1243 I noticed that all files require the `--for-in` flag as part of `VERSION --for-in 0.5`. I would have thought that it is only necessary in the Earthfile actually making use of `FOR`. But I tried removing the `VERSION --for-in 0.5` in the other two files and I got the error saying that `FOR` is unsupported.

[code]

[2021-10-04 19:52] rohitjmathew commented on #1246
@alexcb this issue didn't have anyone assigned to it so I took it up to add a few examples but as @KKVANONYMOUS started the original issue I have also left a few examples out so he can also have a shot at contributing to hacktoberfest. Hope that's okay with everyone.

[2021-10-04 21:18] PrerakMathur20 commented on #1246
Hello,
I noticed this issue is still open and there are a few links yet to be added, so if it's okay with the Maintainers and contributors, I'd like to work on this issue.

[2021-10-04 21:19] vladaionescu commented on #1246
Sorry, this is already taken. Please no more README updates.

[2021-10-04 21:22] vladaionescu commented on #1228
This is taken by @akranz01

[2021-10-04 21:24] vladaionescu commented on #1197
Sounds good @rafaeelaudibert. It's hard to assign to a specific person since many just disappear after assigning :-)

Curious about your POC though.

[2021-10-04 21:26] #1243 closed

[2021-10-04 22:21] alexcb commented on #1247
definitely sounds like a bug.

[2021-10-04 23:02] vladaionescu commented on #1220
Probably relevant:
* https://github.com/moby/buildkit/pull/2382
* https://github.com/moby/buildkit/pull/2385

[2021-10-05 09:27] poorvi-sharma commented on #342
I am very new to opensource contributions and would like to contribute to this. I have made a simple hello world program in react but I am stuck on the earthly file development. As the example is in go lang. So I'm unable to understand how will the earthly file be created for react.

[2021-10-05 13:07] mxey opened #1257 "Find Earthfile in parent directory"
I think it would be useful if earthly automatically looked for the Earthfile in parent directories. We have some repos with multiple components in subdirectories, but with a single Earthfile at the root. Having an Earthfile in the subdirectory would not work for us, because some build context is in the root directory, like the go.mod.

[2021-10-05 13:10] mxey opened #1258 "Export digest of built container image"
I would like Earthly to programatically provide the digest of a container image it built, so I could reference it in other steps/targets to exactly identify an image for deployment.

I don't know how this would look, maybe another EARTHLY_ build arg?

[2021-10-05 13:48] adamgordonbell commented on #342
Hi @poorvi-sharma,

Where are you stuck?
You might want to jump in our slack channel to discuss.
https://earthly.dev/slack

[2021-10-05 15:43] #1246 closed

[2021-10-05 18:36] #1228 closed

[2021-10-05 20:59] mologie commented on #1258
Was about to file the same issue :)

There are two use cases here:

1. Storing the digest of an image that was built via `--image`
2. Accessing the digest of an image that was built through another step

Kaniko is a single-step build tool and covers use-case 1 nicely: https://github.com/GoogleContainerTools/kaniko#--image-name-with-digest-file

Earthly could mirror Kaniko's flags, e.g. `earthly --

[2021-10-05 21:01] alexcb opened #1262 "help needed fixing typos in our docs"
We have a command-line spellchecker that we use for our main markdown files; however we've had to temporarily disable it for our markdown files in our `docs`, `examples`, `contrib`, and `release` directories.

Note the following earthly target:

[code]

Which can be run with `earthly +markdown-spellcheck` (you'll need to have docker and earthly installed)

If you run it as is it'll print out `===

[2021-10-05 22:03] vladaionescu commented on #1257
Are you proposing that running

[code]

in a subdirectory would automatically work if there's an Earthfile in a parent dir?

[2021-10-05 22:08] runz0rd commented on #1262
Mind if i grab this? :)

[2021-10-05 22:17] alexcb commented on #1262
Most definitely @runz0rd  :raised_hands:

It's rather large, it might be a good first step to try tackling a single sub directory.

For example you could try to get all the markdown files under https://github.com/earthly/earthly/tree/main/docs/guides working, by adding on:

[code]

to the end of the `markdown-spellcheck:` target.

If anyone else wants to tackle this too, perhaps everyone can discu

[2021-10-05 22:24] rohitjmathew commented on #1262
@alexcb can I pick up the examples subdirectory? 🤞

[2021-10-06 07:43] mxey commented on #1258
RUN cd deploy && kustomize edit set image foo:latest $EXAMPLE1
    SAVE IMAGE foo/deploy:latest

I think this will not work because the digest cannot be known before the image is created. The digest covers image metadata like its timestamp.

Maybe something like this:

[code]

[2021-10-06 10:01] ashish-patwal commented on #1262
hey @alexcb , i would love to work on this issue . Can you please assign me a sub-directory ?

[2021-10-06 11:17] mxey commented on #1258
You are correct. I was confused because of the `SAVE IMAGE` in the deploy target.

[2021-10-06 23:41] fullykubed opened #1267 "[Bug/Info] Very slow network performance for default containerized buildkit"
# Symptoms

Some network heavy operations like `terraform apply` take approximately 3-5x longer when run inside of the earthly than when run directly on the host. It appears significantly worse on operations that make many small API calls (notice the massive latency in the earthly test).

Results are experienced when running earthly with the default buildkit instantiated by the earthly cli.

<deta

[2021-10-07 06:14] zedtux commented on #1022
@dchw I'm still stuck on this problem, I would need some help please. 🙏

[2021-10-07 10:04] konradmalik opened #1268 "Very slow image import/export during WITH DOCKER"
Hey,
Recently I started to use Earthly for some of my projects.
So far, the majority of stuff works great, but the biggest drawback seems to be performance.
Everything runs a little bit slower, which is expected and completely fine. However, the worst impact that we see is for `docker-compose` based integration tests.

Specifically, in the example below:
[code]
I have one image that is built via e

[2021-10-07 11:53] zaufi opened #1269 "First call `useradd` makes user's home belongs to `root`"
The first call to `useradd -m` gives me the home directory with `root` permissions. Other calls however behave properly:

[code]

The same with `docker build` is correct:
[code]

Any idea what goes wrong??

[2021-10-07 15:58] jamesalucas commented on #1220
Thanks, I've been involved with testing the above MRs which replace the panic with an error so that buildkit doesn't exit, and I'm working on a fix for the underlying issue, so hopefully this will get fixed upstream soonish.

[2021-10-07 16:18] #1267 closed, assigned to nobody

[2021-10-07 18:02] vladaionescu opened #1273 "Docs: Inline cache not recommended with immutable tags"
Earthly inline caching doesn't work well with immutable tags, unless pointing to `--cache-from` correctly on every run (which is probably hard to do). We should mention about this gotcha in our docs.

<img width="360" alt="Screen Shot 2021-10-07 at 11 00 12 AM" src="https://user-images.githubusercontent.com/446771/136438682-e115a0f9-92d7-45fb-ac01-4e640e803c25.png">

[2021-10-07 18:24] alexcb opened #1274 "remove 'md' from spelling dictionary"
We will clean up the md entry in a later PR. (using `<!-- ...` guards).

https://github.com/earthly/earthly/pull/1263#discussion_r723756549_

[2021-10-07 20:23] #1262 closed, assigned to nobody

[2021-10-08 00:31] vladaionescu commented on #1257
BTW @mxey you can always do

[code]

from within a deep child dir. I know it's not quite what you were looking for though.

[2021-10-08 00:36] vladaionescu commented on #1222
You can reference targets with IMPORT as well, but really IMPORT points to a directory and the target is reference from the `AS` alias. For example:

[code]

[2021-10-08 01:22] vladaionescu commented on #1258
Possible workaround?

[code]

Note that this requires tweaking as it comes out wrapped in `[...]`.

[2021-10-08 03:55] daniel-shuy commented on #1222
It would be nice if we could do something like:
[code]