[2020-03-22 18:55] vladaionescu opened #11 "Proposal: Buildkit-based remote cache"
Buildkit has functionality to store cache in a docker registry. Initial testing showed that it's not just as easy as turning the setting on. Need to explore why that is and address it.

This would make CI integration even better as the system would be much more performant with a cache designed for the purpose.

[2020-03-22 19:00] vladaionescu opened #12 "Output distinction between targets with same name but different args"
When building the same target twice, but with different args, as part of the same build, currently it is difficult to tell apart the output of the two.

We should use different colors for the console output, at a minimum. Perhaps when the target starts being built, also list the values of the args being used.

[2020-03-22 19:03] vladaionescu opened #13 "Comments should be allowed at the end of command lines"
Currently the following is not interpreted as a comment. It should.

[code]

[2020-03-22 19:05] vladaionescu opened #14 "Allow configuration of cache location"
Currently, `/tmp/earthly` is hard-coded.

I suspect workaround via symlink would not work as docker would mount the symlink, not the dir it links to, but not sure.

[2020-03-22 19:06] vladaionescu opened #15 "Allow option to use non-loop-device cache"
Currently, there is no user-friendly configuration to keep the system from creating a loop device for the build cache.

[2020-03-22 19:12] vladaionescu opened #16 "More obvious build failure reason"
When a build fails due to a target, all on-going parallel targets are cancelled. The output then lists several targets as having failed - some with "context canceled" reason and one with the original reason that everything was canceled for. The original reason should be more obvious to spot.

Some ideas:
* At the end, print the original reason why everything was stopped.
* Reserve the colors red a

[2020-03-22 19:14] vladaionescu opened #17 "Line continuation without space does not work"
This does not work:
[code]

However this does:
[code]

They should both work.

[2020-03-22 19:18] vladaionescu opened #18 "Should chains of buildkit solve commands reuse a session?"
Currently, as part of a single build, there are multiple Solve commands issued to buildkit and they share nothing other than some copied state. The copied state allows buildkit to reuse a lot of cache.

It's possible that between these Solve's, the cache is purged and then the system unexpectedly has to build the same thing twice.

Is there a better way to do this? Is there a way for us to reuse t

[2020-03-22 19:21] vladaionescu opened #19 "Should return an error if a target does not exist"
Issuing

[code]

Currently succeeds (the system succeeds in executing all commands associated with that target - none exist, so all succeed). It should fail.

[2020-03-22 19:27] vladaionescu opened #20 "Expanding RUN arguments via shlex"
Currently the `RUN` arguments are not expanded for `ARG`'s. They are expanded, however, via the shell. This is different to how Dockerfiles work, however, and may be surprising to the user in some cases.

[2020-03-22 20:52] vladaionescu opened #21 "Support for docker commands within builds"
Docker use is generally not necessary for regular builds. User can always just

[code]

Which is very close to `docker run`-ing anyway.

However, for complex integration testing, where multiple containers are necessary to run in parallel (eg potentially a whole docker-compose stack), it's necessary that a docker daemon is made available to the build (and also that the docker daemon is isolated wel

[2020-03-23 21:14] #19 closed, assigned to vladaionescu

[2020-03-29 21:56] vladaionescu opened #35 "SAVE ARTIFACT empty wildcard ends up as an error after success"
When we have something like

[code]

... and say that there are no *.txt files found, the system detects this as an error only after it has deemed the build as success. It should detect the error before that and not declare it as a success.

Ideas:
* Tie artifact independent states to final side effects with fake deps? This may have performance implications.

[2020-03-29 22:43] vladaionescu opened #36 "Error "no space left on device""
This seems to happen now and then, especially if invoking larger builds.

It seems that buildkit GC is not aggressive enough to stay within the confines of the allocated space on the loop device.

Simple workaround is to `earth prune --reset` and try again. If this happen regularly, increase cache space on disk via `export EARTHLY_BUILDKIT_CACHE_SIZE_MB=...` (default is `10000`).

[2020-04-08 10:42] idelvall opened #50 "Error parsing ssh git URL"
Experienced this after adding the `build.earth` to one of my projects:
[code]
Removing `.git/` makes it work.

[2020-04-08 18:09] #50 closed

[2020-04-08 18:17] vladaionescu commented on #50
Fixed in `v0.1.0-rc7`. Thanks for reporting Nacho!

[2020-04-16 19:36] chbarts opened #56 "Need a more flexible, less dangerous installation method"
The method proposed to install this software is both not flexible and potentially dangerous.

[2020-04-16 19:45] vladaionescu commented on #56
An alternative is to download the binary yourself from the releases page and place it in your bin.

[2020-04-16 20:00] chbarts commented on #56
If the simple and straightforwards way works, why do you suggest the dangerous and complicated one?

[2020-04-17 11:47] MelwinKfr opened #57 "What are the advantages comparing to Docker multi-stage build?"
Hi, this project is very interesting!

Still, I probably missed something important but from the README it seems pretty close to Docker multi-stage builds. Could somebody elaborate on the differences/advantages?

Thank you

[2020-04-17 15:10] idelvall commented on #56
Why you think is "dangerous" and "complicated"?

[2020-04-17 15:51] Euphoric commented on #57
The similarity is there. Earthly seems as if author took docker multi-stage build and cranked it up to 11.
My take on advantages is
- Builds only necessary targets instead of whole dockerfile
- Build parallelism, if multiple targets are indpendent, they are built in parallel
- The "success or nothing" setup is nice too. With dockerfile, it is possible that docker images staying behind even when bu

[2020-04-17 15:58] MelwinKfr commented on #57
Thank you for having cleared that out with neat bullet points!

[2020-04-17 17:03] chbarts commented on #56
It's complicated because just downloading a file is the simplest possible method of installing something. It's dangerous because a script can do strange things, especially when run in an arbitrary environment; your script doesn't know how my machine is set up, so it doesn't know how not to be dangerous.

[2020-04-17 17:34] idelvall commented on #56
I see, but for lots of people (me included) running a command in the console is much preferable than downloading, copying and changing permissions.

About the dangerous part, running a script is as dangerous as running a manually downloaded binary, that can also do strange things (in a much obfuscated way), don't you think?

[2020-04-17 20:39] chbarts commented on #56
Sorry, I didn't check the username I guess.

I still think the script is more dangerous, both because it could be partially downloaded (which would lead to the shell running some unknown, inconsistent script which gets cut off at an unpredictable point) and because installation is inherently more, I don't know, "touchy-feely" with various parts of the filesystem, whereas the binary itself is more

[2020-04-17 22:42] #57 closed

[2020-04-18 03:19] dashwav commented on #56
I think this would be a very nice feature. At the very least I think a [Homebrew](brew.sh) package would be very helpful in terms of adoption. Brew can be used to install packages in a very consistent and safe manner while also installing any dependencies needed as well. With brew for linux now being fairly stable this would allow for an easy install on about 50% of developer workstations.

As a p

[2020-04-18 17:29] vladaionescu commented on #56
I've been meaning to do better installer, haven't gotten around to it. Go for it @dashwav - brew package makes sense.

[2020-04-27 20:32] a-hat opened #58 "SSH agent socket passing"
Hi, I am trying to download a go module from a private github repository within an earthly build and I cannot figure out how this is supposed to work. In the earthly documentation I read about [SSH agent socket passing](https://docs.earthly.dev/guides/auth), but I think this is only intended for the GIT CLONE command and won't work for `go mod download`?

So I tried to do it like described in the

[2020-04-27 20:47] vladaionescu commented on #58
Hi @a-hat, the mount type ssh is not yet supported in Earthly.

One workaround might be to pass in the SSH private key as an [Earthly secret](https://docs.earthly.dev/earthfile#secret-less-than-env-var-greater-than-less-than-secret-ref-greater-than), then placing it in the right place in `.ssh` in the container, performing `go mod download` and then removing the private key. This should be a singl

[2020-04-28 11:54] GeertJohan opened #59 "Multiline RUN commands are not possible without spaces"
First of all, thanks for this interesting new tool!

I have a Makefile that I'm converting to Earth and am running into a weird issue. Consider the following snipet:

[code]

It is important to protoc that the value for `--gogofaster_out` is a continuous string without spaces. But I'm having trouble getting Earthly to accept the `\` escape if it's not preceded by a space.
So when I use the followi

[2020-04-28 16:38] vladaionescu commented on #59
Hi @GeertJohan - thanks for the detailed report! It's a [known bug](https://github.com/vladaionescu/earthly/issues/17).

Your use-case seems pretty compelling to increase the priority of this. I'll look into this.

[2020-04-28 16:39] vladaionescu commented on #17
Duplicate of #59

[2020-04-28 16:39] #17 closed

[2020-04-28 23:01] #59 closed

[2020-04-28 23:21] vladaionescu commented on #59
Hi @GeertJohan - this is now fixed in the new release `v0.1.1`. Simple re-run the [install command](https://github.com/vladaionescu/earthly#installation) to replace your current version.

Any issues, let me know!

[2020-04-29 10:39] GeertJohan commented on #59
It works as expected now! Thanks :tada:

[2020-04-29 10:46] GeertJohan opened #61 "Error while creating mount source path '/tmp/ssh-agent.sock.1000'"
When I use `earth` in my default shell/terminal it always results in this error:
[code]

From my env vars:
[code]

I found a quick fix is to `unset SSH_AUTH_SOCK` and then run `earth ..`. But this will probably cause trouble down the road when I want to let Earthly checkout a private git repo.

[2020-04-29 10:46] GeertJohan commented on #61
This has been the case on both v0.1.0 and v0.1.1

[2020-04-29 17:39] vladaionescu commented on #61
Hi @GeertJohan - can you give me details about your environment? OS distribution version, ssh agent version?

[2020-04-29 17:52] tipok commented on #56
Hi, i've added a PR in the homebrew repo  [#53992](https://github.com/Homebrew/homebrew-core/pull/53992)

[2020-04-29 18:29] vladaionescu commented on #56
Thanks - I left a couple of comments on it.

[2020-04-29 18:43] tipok commented on #56
Thank you, added to the PR

[2020-05-01 17:13] #56 closed

[2020-05-01 19:33] vladaionescu commented on #58
Just occurred to me, that another workaround would be to use username-password (instead of SSH) for the git clone of the private repos. Instead of the password, you can use a GitHub generated token and pass that on as an Earthly secret (GitHub [allows use of tokens instead of passwords](https://help.github.com/en/github/authenticating-to-github/creating-a-personal-access-token-for-the-command-line

[2020-05-02 13:20] GeertJohan commented on #61
Ubuntu 19.10

[2020-05-07 07:01] bearbytes opened #64 ""Error: parser failure: assignment to entry in nil map" when combining FROM with EXPOSE"
I'm using earth to create a Docker image in 2 recipes.
The first stage compiles the source code, the second sets up a run environment and copies over the artifacts.

I boiled it down to this simple example:
[code]

Running `earth +run` fails with the following error:

[code]

If i comment either the `EXPOSE 8080` or `FROM ubuntu` commands, the command works again, so there seems to be an issue whe

[2020-05-07 17:54] vladaionescu commented on #64
I can indeed reproduce this. Will take a look.

[2020-05-07 18:16] #64 closed

[2020-05-07 18:21] vladaionescu commented on #64
Thanks for reporting. This is now fixed on master. You can build the master yourself like this:

Linux
[code]

Mac
[code]

[2020-05-09 02:44] vladaionescu commented on #64
This is now in the latest release `v0.1.2`

[2020-05-11 22:31] cirego opened #68 "Earthly exits with "Error: parser failure: assignment to entry in nil map" when using EXPOSE keyword"
I have an earthly build file that works until I add the folllowing line:

[code]
Adding this line causes Earthly to exit with the following message:

[code]

[2020-05-11 22:35] vladaionescu commented on #68
Hi @cirego - this was recently fixed in `v0.1.2`. Let me know if upgrading does not fix this.

[2020-05-11 22:35] #68 closed

[2020-05-11 22:50] cirego commented on #68
Thanks for the quick reply. I will try upgrading!

[2020-05-11 22:54] cirego opened #69 "Invalid ENV declaration should return an error"
If I do the following in my `build.earth` file:

[code]

Then running `earth +protobuf` results in the files being copied into `/backend`:

`+protobuf | --> COPY [api] /backend`

I have worked around this by specifying the full path in the copy command:

[code]

[2020-05-11 22:56] cirego commented on #69
I see the same behavior with the `WORKDIR` command as well.

[2020-05-11 23:10] vladaionescu commented on #69
I believe the issue is purely in the syntax. You should use:

[code]

[2020-05-11 23:12] vladaionescu commented on #69
Depending on your needs - I think an ARG would be more appropriate fit for this. ENV is mainly meant for env vars that remain as part of the image, should you issue a `SAVE IMAGE` command.

[code]

[2020-05-12 00:21] cirego commented on #69
Thanks for the quick reply! So it's the `{}` that's causing it to fail? I can fix the syntax, thank you!

We call into scripts that expect this ENV var to be set, but using ARG is definitely preferred. Thanks for the tip!

Also, thanks for the awesome build tool! I'm loving it so far!

[2020-05-12 17:03] vladaionescu commented on #69
Looks that way. Both in the declaration and in the use of it. (Also, no `$` in declaration).

We should make the system return an error on invalid declaration. I'll leave this ticket open for addressing this.

[2020-05-12 18:49] cirego commented on #69
Sorry, that was a transcription error because I didn't want to copy my exact `build.earth` file. Thanks for your help!

[2020-05-15 10:34] Dyhr opened #70 "WSL ERROR: read-only file system"
Hello, I have set up earthly to run on Windows with WSL, and I am trying to use a specific image for compiling Unity projects, but I get this error:

[code]
My `build.earth` simply looks like this:

[code]

[2020-05-15 16:31] vladaionescu commented on #70
Thanks for the report! It looks like this is tied to windows guest support.

[2020-05-19 08:56] Dyhr commented on #70
It's not a windows image though, so are you sure that windows guest is the issue?

[2020-05-19 16:47] vladaionescu commented on #70
Ah you're right. The `-windows` part in the label fooled me. Then it's some other issue - will need to look into it.

[2020-05-25 11:21] bearbytes opened #72 "Better insight of cache usage."
Hi,

so I configured Earthly to use a cache size of 100gb, which should take me a long way, but unfortunately only lasts me for a week or so before I have to clear the cache again.

I'd like to figure out what is actually filling up my cache, but I can't seem to find any way to gain more insight.

I suggest adding commands to help people optimize their builds or decide when a cache clean is necess

[2020-05-26 13:42] austenadler opened #73 "Cannot build image FROM scratch"
Earthly seems to always try pulling images and it won't allow me to build from scratch.

This Dockerfile works:
[code]

This earthly build file fails:
[code]
With error:
[code]
This will also fail if `FROM scratch` is listed under a target.

How can I build an image from scratch?

[2020-05-26 17:15] vladaionescu commented on #73
Indeed this is a limitation. Nothing that can't be fixed however - I'll look into this.

[2020-05-26 17:40] vladaionescu commented on #72
There is possibly a way to use `buildctl` ([buildkit](https://github.com/moby/buildkit)'s CLI) to inspect the cache contents.

You might do something like

[code]

Though depending on circumstances, that would probably not reveal much.

----------

There are sometimes strange behaviors when buildkit is used in certain environments. If buildkit believes the underlying file system does not have copy

[2020-05-26 18:22] vladaionescu commented on #72
Oh, also

* What [storage driver](https://docs.docker.com/storage/storagedriver/select-storage-driver/) does your docker daemon use? Maybe paste whole output of your `docker info`?

[2020-05-26 19:09] vladaionescu commented on #73
Ok - added support for it as part of #74. It will be in the next release. In the meantime, you can build the earth binary from source:

Linux
[code]

Mac
[code]

---------

Note that even with this, there is currently a limitation in that you cannot use `RUN` until you have a shell (`/bin/sh`) copied into the container. This limitation can be addressed in the future, however: you'd be able to `RUN

[2020-05-26 19:09] #73 closed

[2020-05-31 13:54] bearbytes commented on #72
First of all, here's `docker info`:
[code]
---

No and yes. Jenkins is a container, but mounts `/var/run/docker.sock` from the Host system, and uses the Host's docker daemon to run containers. So no Docker in Docker.

It's quite simple:
Hardware > Ubuntu 18.04 > `jenkinsci/blueocean` container` > `earth` command
Earthly is only installed within the container, but is working with the Hosts docker d

[2020-06-01 18:31] vladaionescu commented on #72
Thank you for the info. Everything looks good - nothing to sustain my theory about possible copy-on-write issues. All that's left is probably the build just being big. I think the core issue is buildkit GC not being aggressive enough.

Can you also try using an absolute path for the cache mount target? (Note that it will end up needing to rebuild that cache because of path change.) This probably i

[2020-06-01 23:00] #15 closed

[2020-06-01 23:52] vladaionescu commented on #72
Hi @bearbytes - I've now released Earthly `v0.1.3`, which has the added config to optionally disable the loop device.

1. Download the [latest `earth`](https://github.com/earthly/earthly#linux)
2. Set env var `EARTHLY_NO_LOOP_DEVICE=true` globally (all runs of `earth` will need to have this set)

Let me know how this goes!

[2020-06-13 20:38] brandonkal opened #78 "Support makisu-like explicit commit"
Thank you for making earthly. It's the smartest thing I've seen in a long while.

Is this possible with buildkit? This would be a nice way to control image layers in the final image. Ref: [makisu](https://github.com/uber/makisu)
Specifically: https://github.com/uber/makisu#explicit-commit-and-cache

[2020-06-13 20:42] brandonkal opened #79 "In cluster buildkit"
Support for in-cluster building would be essential to speed up builds and make use of caching.

[2020-06-13 20:53] brandonkal opened #80 "HEALTHCHECK support"
Adding an issue to track this.

[2020-06-13 22:56] brandonkal opened #81 "Support mTLS for buildkitd"
There's no way to TLS certs for authenticating the client. Looking at these lines, the likely causes is that the newBuildkitdClient() is called without opts.

https://github.com/earthly/earthly/blob/ae214a7664eb56260a5dbe691ffe864c72e3f2e3/cmd/earth/main.go#L468-L479

[2020-06-17 18:05] vladaionescu commented on #78
Thanks @brandonkal!

You definitely have very fine-grained control over the cache in buildkit. A similar feature could possibly be ported to Earthly. Wondering what is the most important aspect of this you're interested in? Optimizing speed of builds? Or the cache size? Or having tidy layers in images?

[2020-06-17 18:06] vladaionescu commented on #79
It's coming ;-)

[2020-06-17 18:12] vladaionescu commented on #81
The opts are still used for the case where the buildkit host is specified (earth doesn't manage its own buildkit daemon case).

But your point is still valid in that we've not tested / added support for mTLS when specifying a remote buildkit host.

[2020-06-17 18:41] brandonkal commented on #78
My # 1 priority is faster builds. Having smaller layers while building would result in more cache efficiency.

For instance, I could have several apt get layers and then clean the apt cache in a separate build layer. With explicit commit, the final image would have those layers squashed so the user doesn't have to download the apt cache cruft and I don't have to download all the apt packages again

[2020-06-18 16:59] vladaionescu opened #82 "Support for GitLab URLs"
Target references and possibly other features (`GIT CLONE`?) don't support GitLab URLs yet.

CC @rarrais

[2020-06-23 20:48] vladaionescu opened #83 "Not obvious how to run the build"
A new user of Earthly reported the following:

It should be more obvious how to run the build, from both

1. the tutorial
2. the earth usage text

[2020-06-24 04:08] brandonkal opened #84 "Improve logs (introduce a progress-bar for tty devices)"
Running the Go example, earth floods the terminal with lines like this:

[code]
Though it is a lot more of that than I've included here. I would expect this as a progress bar replacing the line on update rather than drawing a new line.

`go build` is silent on success so this is a lot messier.

[2020-06-24 04:32] brandonkal opened #85 "Slow Performance"
Steps should be taken to make this as fast as possible. As it is now, I really like this project but something is adding a lot of latency here.

Changing the string printed in the Go Hello World example.
Local build is 0.7 seconds whereas earth build is 14.6 seconds.

[code]

Even with no change and everything cached, the delay that earth adds is several seconds:

[code]

[2020-06-24 20:37] vladaionescu commented on #85
Hi Brandon - there is indeed some overhead for pure Go builds - mostly due to Docker layer caching. The build becomes more performant in complex setups, where some parallelism kicks in.

I'll mark this issue as closed as there's nothing specific that can be improved.

[2020-06-24 20:39] vladaionescu commented on #84
Makes sense, Brandon. We need to improve this.

(I believe those specific lines are from the progress of pulling some docker image - this can be made less verbose.)

[2020-06-24 21:42] brandonkal commented on #84
Yes that is from pulling the image. My internet connection is slow so I get a higher amount of those lines.
With a tty, a simple wget-like progress bar would be better.
Without a tty, one solution is to filter out duplicate lines (that at least reduces it down to 100 lines for each pull).

[2020-06-24 21:47] brandonkal commented on #85
Naturally I expect some overhead with having to launch containers and pulling layers.
But even just using vanilla buildkit, I see a 2x performance improvement over using earth. Note that real is much more than user+sys time. So something is blocking inside of earth more than just buildkit.

I've tried with and without the loopback device. This is on an ubuntu host.

[2020-06-25 20:43] vladaionescu commented on #85
Interesting... then perhaps this needs to be investigated further.

[2020-06-29 23:01] alexcb opened #86 "single quotes do not capture spaces"
earthly errors with: Error: parse: invalid number of arguments for BUILD: [--build-arg FOO='$(date +%s)' +build]

when using single quotes for spaces; e.g.

`BUILD --build-arg FOO='$(date +%s)' +build`

However when doublequotes are used, it works:

`BUILD --build-arg FOO="$(date +%s)" +build`

https://github.com/earthly/earthly/blob/master/earthfile2llb/parser/EarthLexer.g4#L78 likely needs to be

[2020-06-29 23:10] alexcb commented on #86
in bash, single quotes will take it as a literal string; for example:

[code]

we should have earthly follow the same behaviour.

[2020-06-29 23:23] alexcb opened #87 "parallel builds based on pattern matching of files"
in makefiles one can do pattern matching rules like:

[code]

earthly is missing a similar feature. It would be nice to be able to run BUILD with multiple args:

I'm not sure what the syntax would look like, but something similar to this idea would be nice:
[code]

[2020-07-07 20:39] #82 closed

[2020-07-08 23:39] vladaionescu opened #96 "Output shows up misaligned"
Sometimes, when the output has some sort of progress bar, earthly does not display it correctly due to the prefix (target name) that it needs to print for every line of the output. This needs to be handled better by Earthly.

Relevant [TODO](https://github.com/earthly/earthly/blob/master/conslogging/conslogging.go#L93) in the code.

#### Example

![Screenshot from 2020-07-08 16-37-18](https://user

[2020-07-09 01:57] #80 closed

[2020-07-09 01:58] vladaionescu commented on #80
This will go in the next release @brandonkal

[2020-07-09 19:49] vladaionescu commented on #85
I did a bit of testing and I have a theory as to what the cause is.

![Screenshot from 2020-07-09 12-38-52](https://user-images.githubusercontent.com/446771/87083312-42c17b00-c1e1-11ea-9fac-ce39cad0ed30.png)

For my reference, this is the Dockerfile I used:

[code]

It seems that performance is more similar to Dockerfile builds when not outputting the artifact. I suspect it's due to the way Earthl

[2020-07-09 20:12] brandonkal commented on #85
Oh that's interesting.

Here is my system info for when I tested this.
Between it running VSCode server and k3s, RAM used is around 70% and CPU is typically idle before the build.
<details>

[code]

</details>

[2020-07-09 20:29] vladaionescu commented on #21
Seems to indeed be the case.

![Screenshot from 2020-07-09 13-28-17](https://user-images.githubusercontent.com/446771/87087568-2d038400-c1e8-11ea-9e87-429f149ebd9e.png)

[2020-07-09 20:49] vladaionescu opened #99 "Associated buildkit solve's"
Currently Earthly builds rely on multiple solve submissions to buildkit. Basically one for the side effects, one for each artifact, one for each image and one for each target with `RUN --push` instructions.

Although this works reasonably well, there are some possible issues and limitations due to this approach:

* [Performance](https://github.com/earthly/earthly/issues/85) is impacted
* Race cond

[2020-07-10 22:19] vladaionescu opened #103 "Pass all git-related auth via supported buildkit constructs"
Currently git auth is passed automatically to the buildkit daemon via some mounts and env vars. This requires meddling with the buildkit daemon in a manner that is difficult to translate to a build-in-the-cloud setup. A better approach is to pass in this auth via the client-daemon connection:

* For username-password, use buildkit's newly supported [token-based auth](https://github.com/moby/buildk

[2020-07-15 00:30] #36 closed

[2020-07-17 11:47] Euphoric opened #115 "Socket files left over from 'dotnet restore' cause buildkit to fail"
I'm trying to make an example for .NET Core/C#

I've created sample code based on Java/Scala, but I'm getting extremely confusing error.

[code]

My OS is Ubuntu 18
Earthly version 0.1.3
When running the Java and Scala examples, nothing is wrong and the build succeeds.

My code is here : https://github.com/Euphoric/earthly/commit/da9d9ccbb09ef8b0dc9d46094ca880b783234389

[2020-07-17 16:09] dmarti opened #116 "Use a path outside of /tmp for the cache if available"
On some systems, `/tmp` is a small tmpfs partition. This creates 2 problems for putting Earthly's cache there:

 * not enough space available for large builds

 * contents are lost on reboot

Consider checking for the `/var/cache` directory and putting Eartlhy's cache there if it is available.

related issue: [Explore remote cache · Issue #11 · earthly/earthly](https://github.com/earthly/earthly/i

[2020-07-17 19:44] vladaionescu commented on #116
Good points.

A temporary workaround is to create a symbolic link from `/tmp/earthly` to some other location on the system.

[2020-07-17 20:16] alexcb commented on #115
Thanks for giving earthly a try and reporting the issue @Euphoric

I opened up a PR against your example in https://github.com/Euphoric/earthly/pull/2

I too was rather confused by the error as none of the files being copied over were sockets. After some digging around I found two socket files which were left over by the dotnet publish command under /tmp".

The underlying error is being returned b

[2020-07-17 20:24] Euphoric commented on #115
@alexcb Thanks for figuring it out!

I'll get to this next monday.

A better error message would defnitely be helpful.

You can close this issue, as I have my workaround and if you want to create another issue for the better error message fix.

[2020-07-17 20:47] dmarti commented on #116
Yes, that's how I have it working, thank you.

[2020-07-17 21:51] vladaionescu commented on #115
FTR, the workaround is appending the following:

[code]

to any command that may be creating socket files. This is needed until the underlying buildkit issue is addressed.

[2020-07-17 22:58] vladaionescu commented on #96
Anything remaining to be done for this @alexcb?

[2020-07-18 04:48] alexcb commented on #96
thanks for the poke, this was fixed in https://github.com/earthly/earthly/pull/102

[2020-07-18 04:48] #96 closed

[2020-07-21 00:54] alexcb commented on #14
This issue was reported by a user in https://github.com/earthly/earthly/issues/116

Let's close this issue since we've already started discussing it in #116

[2020-07-21 00:54] #14 closed

[2020-07-21 01:51] alexcb commented on #116
@dmarti the next release of earthly will allow this to be changed by creating a file under `~/.earthly/config.yaml` containing:
[code]

We also changed it to default to `/var/cache/earthly` as you suggested. Thanks for reporting the issue.

[2020-07-21 01:51] #116 closed

[2020-07-23 17:27] vladaionescu commented on #61
It seems that this happens when the ssh auth sock file is a symlink. Earthly should resolve the symlink and mount the file it is pointing to.

A workaround for this is to `export EARTHLY_SSH_AUTH_SOCK=$(realpath "$SSH_AUTH_SOCK")`

[2020-07-23 23:42] #61 closed

[2020-07-24 00:27] alexcb commented on #115
The underlying issue has been fixed in buildkit; see https://github.com/moby/buildkit/pull/1581 and we've updated our version of buildkit in https://github.com/earthly/earthly/pull/135 and finally updated the example to remove the workaround https://github.com/earthly/earthly/pull/137

This fix has been released under https://github.com/earthly/earthly/releases/tag/v0.2.1

[2020-07-24 00:27] #115 closed

[2020-07-24 00:28] alexcb commented on #61
This fix has been released under https://github.com/earthly/earthly/releases/tag/v0.2.1

[2020-07-24 01:31] alexcb opened #141 "reduce output"
the progress statuses can take up a lot of output; perhaps we can change to an ncurses-like progress bar (similar to buildkit's), or change the logic to only print out values when they changes (either by 1, or 5 percentage points, or even once a second).

here's the code:
https://github.com/earthly/earthly/blob/master/builder/solver.go#L298

and here's an example of too much output:

[code]

[2020-07-24 02:04] alexcb commented on #61
v0.2.1 introduced a macOS-specific bug; this has been fixed in https://github.com/earthly/earthly/releases/tag/v0.2.2

[2020-07-24 21:27] #83 closed

[2020-07-28 21:29] alexcb opened #148 "comments don't work on FROM line"
[code]

produces the error:

[code]

[2020-07-28 21:30] alexcb commented on #148
The easy work around for the time being is to just put it on the line above, for example:

[code]

[2020-07-28 23:14] vladaionescu commented on #148
Relevant area in the code: https://github.com/earthly/earthly/blob/master/earthfile2llb/parser/EarthLexer.g4#L95

[2020-07-29 03:27] alexcb opened #152 "automatically remove exited earthly-buildkit image"
When earth starts, it checks that the earthly-buildkit container is Running; if not it attempts to start it.

If an existing container exists but is in an exited state the Start() command fails. This should be fixed.

Additionally we will remove the `--rm` flag so when it does fail, we can look at the logs.

[2020-07-29 03:44] alexcb commented on #152
![image](https://user-images.githubusercontent.com/1806823/88754267-18454c80-d113-11ea-94a5-726137cdf65a.png)

[2020-08-05 00:41] #152 closed

[2020-08-06 00:34] vladaionescu opened #167 "Proposal: Support for running commands on the host system"
## Background

Earthfiles are meant to be the entire build definition for a project and not be wrapped in anything else. The reason is that we want no additional layers between the CI and Earthly which could create complexity / confusion / difficulty reproducing CI failures.

However, sometimes developers need to perform operations outside of containers, for development purposes:

* Running the ap

[2020-08-06 20:25] vladaionescu commented on #21
FTR, neither ZFS nor BTRFS helped us here. The setup seems to be very brittle - we were getting a lot of fs consistency issues.

Next up, we'll try this approach:

[2020-08-06 22:02] idelvall commented on #167
-1. As you pointed out this would jeopardize reproducibility, and the gains are weak from my perspective. You could always have a script that runs earthly, and host commands right?

[2020-08-06 23:38] vladaionescu commented on #167
Yes... although what we want to do is have Earthly be the only script a CI needs and not have to wrap it in anything.

Mainly the use-cases mentioned in the background section.

[2020-08-07 08:30] idelvall commented on #167
What about some command for running webhooks? This shouldn't compromise reproducibility and would allow for integration with external resources

[2020-08-07 21:08] abennett commented on #148
New to ANTLR, but I am interested and started reading. Does the parser need to retain knowledge of comments or could they be discarded? Something like:
[code]
Would the omission of comments from the parser resolve this issue?

[2020-08-07 21:15] vladaionescu commented on #148
They can be discarded, indeed. Though the more important aspect is making sure all the edge cases work as expected. Eg if `#` is in quotes or is escaped via `\#`, it should not count as a comment. It needs to integrate well with the definition of the `Atom`.

[2020-08-07 23:54] abennett opened #174 "Failure to start due to container name overlap"
After performing a successful `earth +earth-darwin` build, the `earthly-buildkitd` container is unable to start when attempting to update due to the reuse of the container name.
[code]

[2020-08-08 00:02] alexcb commented on #174
Thanks for the report @abennett ; can you check if the buildkitd container is currently running, or perhaps in an exited state? (i.e. does `docker ps -a | grep earthly-buildkitd` show any output?)

Does `docker logs earthly-buildkitd` show any errors in the container?

If it's currently running (or exited); you can remove it with `docker rm --force earthly-buildkitd`, then try re-running earth to

[2020-08-08 00:06] abennett commented on #174
Welcome!

Understood. This wasn't blocking for me. I just wanted to report a potential bug. Seems like it's handled. 👍

[2020-08-08 00:06] #174 closed

[2020-08-10 21:39] abennett commented on #141
Is this resolved since #143?

[2020-08-10 22:39] alexcb commented on #141
Good eyes @abennett, it's a duplicate of #84, and has in fact been fixed.

[2020-08-10 22:39] #141 closed

[2020-08-10 22:43] alexcb commented on #84
https://github.com/earthly/earthly/pull/143 changes the behaviour to only print out the progress every 5 seconds.

I agree that a tty progress bar would be nice to implement one day, so maybe we should leave this issue open?

[2020-08-13 22:22] vladaionescu opened #178 "Docs: Managing cache page is out of date"
https://docs.earthly.dev/guides/cache#specifying-cache-size

Cache size is now specified in the config file.

[2020-08-13 22:39] vladaionescu opened #179 "Support for .env files"
A feature request is the support for `.env` files (similar to how compose uses them https://docs.docker.com/compose/env-file/).

~It might work like this: if an `.env` file is present in the current dir, or any dir above the current dir (dirs closer to current dir have higher precendence),~ load the vars and pass them to the build as both build-args AND secrets. EDIT: Using the `.env` in the curre

[2020-08-16 00:00] vladaionescu opened #189 "Failure reason not obvious when missing -P flag"
There is not output when a build requires the `-P` flag and it is not provided. `earth` simply exits with non-zero status without outputting anything.

`earth` should give clear indication as to what the problem is.

[2020-08-17 18:31] ihcsim commented on #167
@vladaionescu I see this as a good "break the glass"/"know what you are doing" feature. Most projects would have some form of existing build scripts to handle local development and CI already. It will be a great adoption experience if earthly can work with existing stuff.

Instead of new `local <command>` targets, how about just a new `LOCAL_EXEC` command in the recipe: E.g.,

[code]

[2020-08-17 19:47] vladaionescu commented on #167
One issue we might have with a single command is the interaction with anything around it. eg

[code]

Would that `LOCAL_EXEC` interact with the others? If not... then it's very confusing that it's doing two completely unrelated things. Also, another concern is how that would work with the layer caching. Eg if cache is bust at the COPY, would it run LOCAL_EXEC again?

I think it's much cleaner if s

[2020-08-17 20:02] ihcsim commented on #167
My initial thought is that `LOCAL_EXEC` will be used for running self-contained scripts that have their own commands to build, run, test artifacts. Won't you have the same issue with using targets? E.g.,

[code]

If the goal is to allow users to perform operations outside of containers, cache support will be very limited to begin with, right?

[2020-08-17 20:05] vladaionescu commented on #167
Yes, there would be no caching for local targets at all.

[2020-08-17 22:40] vladaionescu opened #191 "docker login does not work with Quay"
@zenyui reports issues with using Earthly in combination with Quay as a private registry.

It seems that Earthly is able to resolve to the right sha, but pulling doesn't work. It randomly works for some repos, but not for others. Unknown what causes it to work / no work.

System is a Mac. Connection is over VPN.

[2020-08-17 23:12] vladaionescu commented on #191
I'm able to reproduce it even with docker hub and I'm seeing some consistency in behavior, although strange:

[code]

Unknown why the docker pull has anything to do with it.

[2020-08-18 02:16] #191 closed

[2020-08-18 18:48] #189 closed

[2020-08-18 20:52] #178 closed

[2020-08-19 00:51] alexcb opened #202 "earth should print a warning or error if a secret environment isn't set"
I was running:
[code]

but unfortunately had misspelled the environment variable as `GITHUB_TOKE=asdf`.

It would be nice if earth had warned me that it couldn't find the env variable.

[2020-08-19 02:06] #202 closed

[2020-08-19 13:55] ctison opened #204 "Should fail on RUN error"
Earth version: `v0.3.0`

#### Earthfile
[code]

#### Result
[code]

[2020-08-19 16:44] alexcb commented on #204
Thank you very much for the report @ctison , we'll get this fix out ASAP.

[2020-08-19 16:44] #204 closed

[2020-08-19 20:28] vladaionescu commented on #204
Hi @ctison - FYI, we just released `v0.3.1` of Earthly which contains a fix for this.

[2020-08-20 23:48] vladaionescu opened #218 "The failure reason isn't always re-printed"
At the end of a failed build, the output of the command that failed is repeated for convenience. This doesn't always happen, however, presumably due to a race condition.

[2020-08-21 00:39] vladaionescu opened #219 "Feature request: Allow using FROM DOCKERFILE with a generated Dockerfile and build context"
CC @zenyui

Proposed syntax

[code]

[2020-08-21 00:43] zenyui commented on #219
For some added context, I'm using the [sbt-native-packager](https://www.scala-sbt.org/sbt-native-packager/formats/docker.html#tasks) in my scala/akka projects, which stages the necessary jars and generates a dockerfile for me.

[2020-08-21 03:54] #219 closed

[2020-08-21 03:55] vladaionescu commented on #219
This will go out in the next release, @zenyui. We're targeting early next week.

[2020-08-21 08:03] zenyui opened #223 "Feature request: support --chown during COPY"
Like the docker copy command, it would be nice to support the `COPY --chown` flag to set the file owner during copy. See [COPY docs](https://docs.docker.com/engine/reference/builder/#copy)

Without this command, one needs to run a subsequent `RUN chown user:group` command, which adds layers and makes the image overweight. In my case, I'm trying to set the owner for a jar, and it's making the image

[2020-08-22 20:31] zenyui opened #229 "Bug: EARTHLY_SECRETS env var not working with earth command"
I believe there's a bug with the `EARTHLY_SECRETS` env var. Per docs, I should be able to define CSV secrets instead of individually passing in with the `--secret` argument.

Given a target:
[code]

these commands succeed
[code]
and these commands fail...
[code]
... with the error message:

+some-target | ERROR: (RUN echo $SOME_SECRET) secret SOME_SECRET not found: not found
Repeating the output o

[2020-08-22 22:17] vladaionescu opened #231 "earth cannot run twice in parallel"
There is an issue with port 5000 being already in use.

[2020-08-22 23:28] #231 closed, assigned to alexcb

[2020-08-24 20:24] vladaionescu commented on #21
This is now complete as of https://github.com/earthly/earthly/pull/230

[2020-08-24 20:24] #21 closed

[2020-08-24 20:26] vladaionescu opened #232 "docker run --privileged not supported"
Using the privileged docker run flag does not work.

eg the following returns an error
[code]

[2020-08-24 21:04] vladaionescu commented on #232
The alpine package `docker` could be explored: https://wiki.alpinelinux.org/wiki/Docker

[2020-08-24 21:30] alexcb commented on #229
Thanks @zenyui , I believe I found a bug in the underlying cli handling library we use: https://github.com/urfave/cli/pull/1178

If we get that PR merged we'll be able to fix this, otherwise I now know how to work around it :smile:

Thanks for the clear repro-cases.

[2020-08-25 01:32] zenyui commented on #229
You're welcome. I'm not blocked, for now I'm just passing in the secrets explicitly. If you have a local workaround I'm happy to try it out!

[2020-08-25 22:25] alexcb commented on #229
@zenyui we just released v0.3.2 which fixes this issue.

[2020-08-25 22:25] #229 closed

[2020-08-25 22:59] alexcb opened #239 "bash auto-completion doesnt work with `~`"
the complete command is not expanding `~` to the home path; we can't use the complete `-o filenames` option because we need to reference paths with a + suffix whenever an Earthfile exists in it. So we might have to explicitly handle the tilde within the auto completion code.

[2020-08-25 23:38] zenyui commented on #179
this aligns well with docker-compose local dev, as it's a common pattern to supply a `.env` for easy propagation of environment variables into containers. It would be especially helpful for passing in development secrets to earth, as it would eliminate the need for pre-setting those values as env vars or passing into the build command as plaintext.

[2020-08-25 23:59] vladaionescu commented on #179
Indeed - we've been debating whether to support this because we have upcoming cloud-based features that serve the same use-case. But I think it's still worth doing it, as not everyone will be comfortable with hosting secrets outside their own environment.

[2020-08-26 16:48] vladaionescu opened #244 "Pressing ctrl+c mid-build causes leftover temp files"
Earthly uses a series of temporary dirs and files during the build. These exist in `/tmp/earthly-*` and also in `./.tmp-out-*`. Earthly normally cleans these up at the end of a build, however there is currently no intelligent sigint handling to clean these up in case of ctrl+c.

[2020-08-26 17:20] vladaionescu opened #245 "ERROR: (helper image for fake dep operations) failed to authorize: failed to fetch oauth token: context canceled"
A cryptic error that looks like this is sometimes seen:

[code]

This seems to be an issue in Buildkit. Either of these workarounds seem to work:

Stop buildkit daemon (will be restarted by earth on the next run):
[code]

If the above fails, try to restart the docker daemon:
[code]

[2020-08-26 22:20] #179 closed

[2020-08-26 22:21] vladaionescu commented on #179
This will go in next week's release, @zenyui

[2020-08-26 23:55] #244 closed

[2020-08-28 00:08] vladaionescu opened #255 "Git-related errors are not obvious"
Currently the output of commands like `BUILD github.com/...` isn't exposed to the user. An error in these steps leaves the user with little information to work with.

[2020-08-28 17:07] vladaionescu commented on #72
Closing this issue as obsolete - the caching has improved dramatically since `v0.1.x`.

[2020-08-28 17:07] #72 closed

[2020-08-28 17:23] dmarti opened #257 "Example build for a C project"
This article covers building a C project with a library dependency and a GPG check.

https://blog.zgp.org/earthly-signify/

"This article and modified versions of this article may be copied and redistributed under the same terms as Earthly." so it is available to be included in the Earthly docs if desired.

[2020-09-03 18:13] agbell opened #282 "Remove references to Layers in Guides"
Guides, especially the basic guide, should not refer to layers, as this is an implementation detail.

Example:

https://docs.earthly.dev/guides/basics

[2020-09-03 18:21] agbell opened #283 "Create Definition Page"
- Create a Definition page taking content from https://docs.earthly.dev/guides/basics.
- Link references and briefly explain as used on the basics guide page and wherever else makes sense

[2020-09-03 18:25] adamgordonbell opened #284 "Add to guides how to view contents for artifacts"
It would be nice to explain to an end-user how to view the contents of an artifact, both for learning and debugging purposes.
- Add a new guide, or to existing guide how to use artifact command

Example:

[2020-09-03 18:28] agbell opened #285 "Move implicit target inheritance, and other explanations from basics guide"
The following: “All other target implicitly inherit from base. You can imagine that all recipes start with an implicit FROM +base.” is not needed in basic guide.  It should be moved to a reference area perhaps?

[2020-09-03 18:33] vladaionescu commented on #285
SGTM

[2020-09-03 22:26] vladaionescu commented on #58
@zenyui also reported this inconvenience just now.

[2020-09-04 18:30] alexcb opened #286 "less reports "terminal is not fully functional" during interactive debugging"
During interactive debugging, if one tries to run less, a warning message is given saying the terminal is not fully functional.

for example:
[code]

This is because TERM is set to "dumb"; the current work-around is to change it, for example:
[code]
then it's possible to use less.

Ideally earth should detect the user's TERM type, and pass that value through to the interactive debugging session.

[2020-09-08 17:44] adamgordonbell opened #290 "Appending to ENV idiom should work that same as Docker Files"
https://docs.earthly.dev/earthfile#description-15 mentions that ENV should work the same was as dockerfiles. This is not the case when attempting to append to ENV values such as the following example:

[code]

Here the $PATH  in `ENV PATH=/hello/bin:$PATH` is expected to be build argument which is not what someone experienced with dockerfiles would expect.

My suggestion would be to only treat $PA

[2020-09-09 17:22] alexcb opened #291 "create script to install docker-in-docker"
Currently the `WITH DOCKER` feature requires a user to use the existing `docker:dind` image.

It would be nice if a user could use whatever image they want, and when the RUN command starts under a WITH DOCKER layer, earth would attempt to install dind if it's not detected.

[2020-09-09 17:30] agbell commented on #167
+1 for this feature.  The wrapping docker-compose up and down would be for starting integration testing dependencies in CI as well.

[2020-09-09 23:00] alexcb commented on #239
fixed in https://github.com/earthly/earthly/pull/269

[2020-09-09 23:00] #239 closed

[2020-09-10 10:47] bearbytes opened #294 "Error: solve side effects: solve: failed to receive status: rpc error: code = ResourceExhausted desc = grpc: received message larger than max"
This error occurs often in our builds:

The error message originates from grpc, and a quick google search shows that the problem occurs in many projects that use grpc. As such, it's hard to say whats going on here.

My guess is that this is related to the recipe producing lots of stdout output.
In particular, the error occurs when executing `mvn package` during a build.  This produces endless line

[2020-09-10 16:14] alexcb commented on #294
Thanks for the report @bearbytes , it does sound like too many bytes are being produced to stdout. I was able to replicate the issue by printing out 16MBs worth of 'a's on a single line.

[code]

It looks like mvn is trying to display the download progress, which appears as a single line to buildkit and earthly. According to https://stackoverflow.com/questions/21638697/disable-maven-download-progr

[2020-09-11 07:07] bearbytes commented on #294
Thanks for mentioning the `mvn -B` flag, this really helps.

Maybe it would be possible to catch this error in earth and show a more helpful error message.
Well at least now other people can google this in relation to earthly :smile:

[2020-09-11 08:45] bearbytes opened #295 "Syntax highlighting fails when string contains +"
The syntax highlighting in Earthfiles gets broken when a `+xyz` is encountered within a string anywhere in an earthfile.

![image](https://user-images.githubusercontent.com/15155173/92895327-afdcd100-f41b-11ea-9fba-9347554cccd0.png)

This is due to `+xyz` being incorrectly identified as a recipe name. I think this should not happen within quoted strings.

[2020-09-11 17:04] alexcb opened #296 "autocompletion on invalid earthfile"
Consider an Earthfile like:
[code]

Then if you run `earth +<tab><tab>`, you get a panic:
[code]

[2020-09-11 17:11] adamgordonbell opened #297 "Consider removing SAVE IMAGE"
If you want to use a target in a `FROM +target` statement, the target must end with `SAVE IMAGE`.  The terminology is confusing because there is no image visible using `docker images`.  Also it seems like just always saving the target result, without explicit `SAVE IMAGE` command might be more ergonomic behavior.

[2020-09-14 17:33] vladaionescu commented on #290
Not sure what you mean here. Do you mean that your host system's `$PATH` is used? Can you explain in the format 1. what is expected to happen and 2. what happens instead?

[2020-09-14 17:34] #286 closed

[2020-09-14 17:37] vladaionescu commented on #295
Thanks, this looks like a valid issue. We'll take a look.

[2020-09-14 17:39] vladaionescu commented on #294
Looks like an issue in buildkit. We'll look into fixing this.

[2020-09-14 17:47] vladaionescu opened #300 "Support for arm"
A tracking issue for adding arm support to Earthly.

[2020-09-14 20:31] #296 closed

[2020-09-14 22:12] #58 closed

[2020-09-15 00:45] #295 closed

[2020-09-15 00:45] vladaionescu commented on #295
This is fixed and will go out in the next release (likely this week).

[2020-09-15 02:31] bukowa opened #305 "Should GIT support go-like module syntax with @ ?"
Would that be possible and better to use:
[code]
I know that is possible with
[code]

[2020-09-15 16:29] vladaionescu commented on #305
Hi @bukowa - you can currently use `--branch` instead:

[code]

[2020-09-15 16:42] bukowa commented on #305
@vladaionescu Thanks for reply - but i wonder about using the first - are there any downsides compared to how it is now? I think that separating with `@` makes it more readable and clean.

[2020-09-15 17:46] bukowa opened #306 "Running earthly as docker image?"
I cannot find any refference to that, i imagine running earthly in docker image with priviliged =true

[2020-09-15 19:00] agbell opened #307 "Allow for a global repo of earthfiles"
**Proposal:**
Extend `earth` so that if given a github reference, like `https://github.com/user/repo+build`  and an `https://github.com/user/repo/Earthfile` does not exist falls through to a global earthly repo location like `https://github.com/earthly/overlay/user/repo/Earthfile`.

**Motivations:**
This could allow for the building of Earthfiles for abandoned projects or projects that do not use

[2020-09-15 20:47] alexcb commented on #58
We just released a new version with support for SSH agent socket passing in https://github.com/earthly/earthly/releases/tag/v0.3.6

This should hopefully do the trick:
[code]

[2020-09-16 03:46] zenyui commented on #58
That's huge, thanks team. What's the typical latency for availability via homebrew?

[2020-09-16 03:49] alexcb commented on #58
it's usually a few hours, but we ran into a request to change how we reference the version in https://github.com/Homebrew/homebrew-core/pull/61187

so hopefully we'll get the patch updated by tomorrow.

[2020-09-16 18:27] #285 closed

[2020-09-16 18:28] #282 closed

[2020-09-16 18:28] #283 closed

[2020-09-22 13:35] agbell opened #318 "Comment Parsing error"
I think this may be a bug.  The following works in a docker file, but not in an Earthfile:
[code]
Output
[code]

[2020-09-22 16:14] alexcb commented on #318
That's interesting that docker supports that, it's definitely related to the inline comment.

I ran it with an older version of earth (before #288 was merged in) and it parsed it fine; however this is what was run:
[code]
which had the effect of not installing xz or pigz. Would this be the desired effect or a bug?

I took a quick look at python for inspiration, and noticed that both following code

[2020-09-22 17:43] agbell commented on #291
Partial solution for alpine:
https://github.com/earthly/earthly-example-scala/tree/dind-alpine/AlpineJDK

[2020-09-23 17:12] alexcb opened #321 "ENV variables are not set in debugger"
when running the interactive debugger, any vars set by `ENV` dont show up.

[2020-09-23 18:03] alexcb commented on #321
Nevermind, this wasn't an actual bug.

env vars are working in the debugger:

[code]

[code]

[2020-09-23 18:03] #321 closed

[2020-09-23 18:07] vladaionescu commented on #321
Are secrets also passed correctly?

[2020-09-23 22:59] vladaionescu opened #324 "Proposal: WITH DOCKER-COMPOSE"
### Background

A common pattern of integration testing and e2e testing is to have something like

[code]

### Proposal

The proposal is to simplify this as

[code]

Behind the scenes, this command ensures the following:

* docker-compose utility is available
* `DOCKER PULL` is performed for all the images specified in the compose spec AND not specified in any `DOCKER LOAD` line
* The run command

[2020-09-24 12:34] agbell commented on #324
I support the proposal.

It removes the need not just for the `DOCKER PULL` but also for starting and stopping docker-compose.

[2020-09-24 16:13] alexcb commented on #324
I like the idea; I'm unsure about the connection between the docker-compose and docker load spanning multiple lines.

What if we could combine them with:

[code]

although that might become problematic if there's too many images to load, which could then end up with wrapping lines like:

[code]

[2020-09-24 17:28] vladaionescu commented on #324
### Updated proposal

[code]

This means that DOCKER LOAD and DOCKER PULL would have to go through a deprecation cycle. However, this syntax makes most logical sense. Because the load and the compose would interact with each other (eg if an image is loaded, it should not be pulled) and therefore it makes more sense if the instructions are part of the same command.

### Alternative considered
[code

[2020-09-24 18:42] vladaionescu commented on #306
Hi @bukowa - sorry for the late reply. We have a docker image, but we have not documented it: https://hub.docker.com/repository/docker/earthly/earth. The tag `latest` points to the latest released version of `earth`. The entrypoint is set to `earth` itself.

It should work as you would expect for the most part - but treat it as experimental since it's not officially supported. We plan to support i

[2020-09-24 18:44] vladaionescu commented on #305
We're a bit conflicted between looking more like `git clone`'s options or more like `@` which is used in some languages for pointing to specific tags or versions. We'll probably stick with the `--branch` syntax for now.

[2020-09-25 19:58] bukowa commented on #306
Thanks for input. I was having similiar problems to what you described in your blog post
![1 NsfCLKr0C5CNlF2ZeMhzzA](https://user-images.githubusercontent.com/38087302/94309624-a786a900-ff78-11ea-998c-2c1fcde0c3c0.png)

I imagine to except the same while not being able to run CI/CD tool in docker directly. While i was looking for solution i thought the same way - describing my whole pipeline in a

[2020-09-25 20:17] vladaionescu commented on #306
Got it - Earthly is primarily meant to be run directly, not as a Docker image. I recommend running earth directly, not as an image.

Behind the scenes, it spawns a docker container that runs a [Buildkit](https://github.com/moby/buildkit) daemon, which is used to execute the builds. Buildkit then uses containers to perform all build operations. So although earth itself is not meant to be run in doc

[2020-09-26 15:16] vladaionescu opened #331 "Feature request: Syntax highlighting for Sublime Text"
We already have a [TextMate grammar](https://github.com/earthly/earthly/blob/master/contrib/earthfile-syntax-highlighting/syntaxes/earthfile.tmLanguage.json) for VS Code syntax highlighting. Wondering if it's easy to port that into the right format for Sublime Text.

[2020-09-26 21:29] JensRantil opened #332 "Feature request: Query functionality"
https://www.earthly.dev claims

. A very useful feature that [Bazel](https://bazel.build/) supports that I have found _very_ useful when working in a mono repo is the possibility to run queries through `bazel query ...`. I understand that Earthly doesn't on the same level of abstraction, but I still thing the following would be very useful:

 * Query which targets depend on a targets of my choosin

[2020-09-26 21:40] agbell commented on #332
Hi @JensRantil,
This is a great idea.  Thank you for the feature suggestion.

[2020-09-27 01:48] Leward opened #333 "Hacktoberfest 2020"
Hi, I find this project interesting and am considering participating in [Hacktoberfest](https://hacktoberfest.digitalocean.com/).

Do you plan on labelling issues to be picked up as well a label issues which would be good for somebody contributing for the first to the project?

[2020-09-27 02:12] agbell commented on #333
Hi @Leward

We have a label 'good first issue'.  We only have one issue labeled that right now (#322 ).  However, we can try to identify some more if necessary .  Also jump on gitter to ask questions or ping me adam at earthlly.dev and I can try to enable your hackober efforts.

[2020-09-28 17:21] alexcb opened #334 "expand autocomplete to work with user home directories"
Currently if you type `earth ~<tab><tab>` this auto completes to `earth ~/`, instead it should auto complete to list all available users (e.g. ~/, ~adam, ~alex, ~corey, ~vlad).

Here's the relevant section of the code that needs to be expanded to list other users:

https://github.com/earthly/earthly/blob/master/autocomplete/complete.go#L106-L109

This will also have to be able to do autocompletion

[2020-09-29 13:49] avasapollo commented on #334
hi there,
is this can be ok for you?
[code]

[2020-09-29 16:25] alexcb commented on #334
Thanks for taking a look at this @avasapollo ; it looks like a great so far.

I think that'll work with the initial auto-completion work for say ~user, but we might also need to handle the case for searching `~user/some/pat<tab><tab>` because right now it assumes it'll only ever be `~/` under https://github.com/earthly/earthly/blob/master/autocomplete/complete.go#L112-L119

[2020-09-29 16:46] avasapollo commented on #334
Hey there I ll take a look tomorrow 😉

[2020-09-29 16:55] alexcb commented on #334
Assuming you're running linux and you've checked out earthly to `/path/to/earthly`,
you can compile it with `earth +for-linux` then under bash you can change the autocomplete entry to use the build binary with:
`complete -o nospace -C '/path/to/earthly/build/linux/amd64/earth' earth`

(otherwise if you're under macOS, you can use +for-darwin to build the macOS version)

This will help testing the

[2020-09-29 17:00] vladaionescu commented on #318
FTR, we talked about this internally and we think the best approach is to treat comments as if they're not there. Also, it might be a good idea if blank lines are also ignored - meaning that you can have blank lines between continuations.

So all of these should work then:

Blank line would be ignored, so continuation still works.
[code]

Similar to above, but not as obvious, comment is treated li

[2020-09-29 17:00] #306 closed

[2020-09-29 17:00] #305 closed

[2020-09-29 17:02] vladaionescu commented on #148
This has been fixed, right @alexcb ?

[2020-09-29 17:02] #148 closed

[2020-09-29 17:10] vladaionescu commented on #16
This has been addressed in another issue in a slightly different way.

[2020-09-29 17:10] #16 closed

[2020-09-29 17:10] vladaionescu commented on #13
This has been fixed already

[2020-09-29 17:10] #13 closed

[2020-09-29 17:10] vladaionescu commented on #12
Fixed

[2020-09-29 17:10] #12 closed

[2020-09-29 17:11] vladaionescu commented on #11
It seems that the underlying buildkit issue has been fixed and this can be attempted again now.

[2020-09-29 17:21] vladaionescu opened #337 "Document .earthignore"
It has the same syntax as `.dockerignore`. Current limitation is that it doesn't work for remote targets, however.

[2020-09-29 17:27] vladaionescu opened #338 "Printout of build logs in Earthly is sometimes garbled"
This has been improved with handling `\r` and `\n` better. However, there are still quite a few cases where the output is garbled and therefore difficult (or impossible) to read.

Curl output is a good example: `earth github.com/earthly/earthly/earthfile2llb/parser+parser`

![Screenshot from 2020-09-29 10-45-29](https://user-images.githubusercontent.com/446771/94596421-f5cdcd80-0240-11eb-8df2-4bc0

[2020-09-29 17:34] vladaionescu opened #339 "Error on brew install earthly"
I got this error when attempting to `brew install earthly`

[code]

<img width="556" alt="Screen Shot 2020-09-29 at 10 30 45 AM" src="https://user-images.githubusercontent.com/446771/94595164-4b08df80-023f-11eb-8242-4d92771e8138.png">

[2020-09-29 17:35] vladaionescu commented on #339
This is caused by a previous run of `earth bootstrap` (back when installation of autocomplete was needed to be done manually).

The easy fix for this is to run `brew link --overwrite earthly`

[2020-09-29 17:35] #339 closed

[2020-09-29 18:17] dchw opened #340 "Include image commit history from Earthfile"
Currently, the images built by Earthly do not include the relevant image commit history. Instead, they use generated tags and comments. This can make it difficult to use introspection tools like `dive` effectively, and hides relevant information downstream.

We would probably want to ensure our secrets implementation doesn't accidentally leak information in here, too.

At a minimum, we should prov

[2020-09-29 18:33] agbell opened #341 "Add example rust application to examples"
We need an example rust application added to the examples folder:
https://github.com/earthly/earthly/tree/master/examples

An example Earthfile should also be included which can build and produce a docker file of the example.

The [Go example](https://github.com/earthly/earthly/tree/master/examples/go) can serve as a reference point for how to structure an example.

[2020-09-29 18:39] agbell opened #342 "React example"
We need an example React JS app added to the examples folder:
https://github.com/earthly/earthly/tree/master/examples

An example Earthfile should also be included which can build and run tests.

The  [Go example](https://github.com/earthly/earthly/tree/master/examples/go) can serve as a reference point for how to structure an example.

[2020-09-29 18:43] agbell opened #343 "Django + Postgres example"
We need an example django application added to the examples folder:
https://github.com/earthly/earthly/tree/master/examples

An example Earthfile should also be included which can build, test and run the example.

The [Go example](https://github.com/earthly/earthly/tree/master/examples/go)  and the [Integration Test example](https://github.com/earthly/earthly/tree/master/examples/integration-test)

[2020-09-29 18:45] agbell opened #344 "Ruby on rails example"
We need an example rails application added to the examples folder:
https://github.com/earthly/earthly/tree/master/examples

An example Earthfile should also be included which can build, test, and produce a docker file of the example.

The [Go example](https://github.com/earthly/earthly/tree/master/examples/go) can serve as a reference point for how to structure an example.

[2020-09-29 19:40] raisultan commented on #343
hi 👋 @agbell, I would love to help on this.

[2020-09-29 19:58] 1-ARIjitS commented on #342
Sir, I will be happy to contribute a **react to-do app** for the example can I take up the task.
I will start working on it and make a PR during October 1st week

[2020-09-29 20:06] vladaionescu commented on #342
Sold ;-)

[2020-09-29 20:07] vladaionescu commented on #342
BTW - extremely simple example of react is most useful for our `examples/` dir. However, we'd be more than happy to include a larger example (like a TODO app) in another location (eg another earthly repo that we can create for this purpose).

[2020-09-29 20:26] agbell commented on #343
Great!  Its all yours.

[2020-09-29 21:19] vladaionescu opened #345 "Images are checked against remote registry on every run"
FROM commands perform resolve's against the remote registry on every run. This is visible in typical output:
[code]

This is because the resolve happens in `earth`, before we even send over the LLB to BuildKit. Had we used the newer BuildKit Build API, we would be able to use a resolve via gateway, which could respect the setting to "prefer local".

The behavior should be such that no unnecessary

[2020-09-29 22:37] #324 closed

[2020-09-30 03:27] raisultan commented on #343
@agbell got it, thank you!

[2020-09-30 09:53] avasapollo commented on #334
hey there, it's seems that I don't have permission to push the branch
![Screenshot from 2020-09-30 10-51-52](https://user-images.githubusercontent.com/22316360/94670983-2f6b0b00-030b-11eb-9683-6e5e7072e2e7.png)

[2020-09-30 11:04] agbell commented on #334
Hi @avasapollo,
You'll need to fork the repo, push your branch on the fork and raise a PR from the fork. See this guide https://gist.github.com/Chaser324/ce0505fbed06b947d962

[2020-09-30 11:22] RajivSah commented on #344
Can I take this?

[2020-09-30 12:49] avasapollo commented on #334
Hey @agbell, thanks to let me know :).
I added some tests to see if it works on my machine. I think that I can implement the tests and use the current user if you want.
Let me know if you like the implementation

[2020-09-30 13:11] vbhv007 commented on #341
Hey, Can I pick this up under hacktoberfest?

[2020-09-30 14:27] agbell commented on #334
That's awesome!  I'll let @alexcb review it, as this is his area of expertise. Are you interested in an earthly sticker as a thankyou?

[2020-09-30 15:04] agbell commented on #344
Hi @RajivSah, you certainly can.  Let me know if you have any questions or jump on our Gitter channel:
https://gitter.im/earthly-room/community

[2020-09-30 15:05] agbell commented on #341
Hey @vbhv007, you certainly can.

[2020-09-30 15:20] RajivSah commented on #344
Thanks.

[2020-09-30 15:51] avasapollo commented on #334
:) sure thanks

[2020-09-30 17:50] vladaionescu opened #351 "Contribute Earthfile to other open-source projects"
As part of [Hacktoberfest](https://hacktoberfest.digitalocean.com/), you may contribute Earthfiles to other open-source projects. Please check with maintainer of the project first.

[2020-09-30 18:05] MadhavJivrajani commented on #338
Hi!
Can I take this up?

[2020-09-30 18:31] agbell commented on #338
For sure @MadhavJivrajani

[2020-09-30 18:44] adamgordonbell opened #352 "Go Integration Test Example"
We have a simple go example being built by earthly here:
https://github.com/earthly/earthly/tree/master/examples/go

It would be nice to have a second, more detailed go example, that included unit tests and integration tests and build targets for each of these.  It would be more similar to this example https://github.com/earthly/earthly/blob/master/examples/integration-test/Earthfile but in go.

[2020-09-30 22:28] ShubhamPalriwala commented on #352
Hey, I'd like to take this issue up !

[2020-09-30 22:56] vladaionescu commented on #352
Sold

[2020-10-01 03:50] MadhavJivrajani commented on #338
Hi,
I seem to be getting this error while building from source:
![Screenshot_20201001_091656](https://user-images.githubusercontent.com/12381034/94763200-42dbac00-03c7-11eb-9853-cf41eeff9f32.png)

Any insights on how I could proceed?

[2020-10-01 04:12] MadhavJivrajani commented on #338
Hi @vladaionescu,
I'm not able to reproduce the output, I tried running `earth github.com/earthly/earthly/earthfile2llb/parser+parser`, am I missing something?

[2020-10-01 04:58] RajivSah commented on #344
Wouldn't setting up new rails app in the example folder create multiple files as the new rails project contains a lot of files?

[2020-10-01 05:49] rafaeelaudibert commented on #318
Hello guys! Maybe I could tackle this issue?

Already tracked it down to `stmtWords` on [EarthParser.g4](https://github.com/earthly/earthly/blob/master/earthfile2llb/parser/EarthParser.g4) not allowing empty lines and/or comment lines in between statements.

I believe we could change this rule to use a new type of optional blank lines which would go towards the direction proposed by @vladaionescu

[2020-10-01 08:34] vishnugt commented on #331
Can I take this and try to create syntax highlighting for Sublime Text?

[2020-10-01 08:51] zedtux commented on #331
FYI [I've opened an issue](https://github.com/asbjornenge/Docker.tmbundle/issues/32) on [the Dockerfile Syntax Highlighting sublime plugin](https://packagecontrol.io/packages/Dockerfile%20Syntax%20Highlighting), the only sublime text plugin for Dockerfile syntax highlighting asking to support `Earthfile`.

There's not so much to get it covering Earthfiles.

[2020-10-01 08:57] zedtux commented on #344
Well, for Python, there's no featured framework, why would it be for Ruby?

I guess @agbell meant Ruby, not Rails.

[2020-10-01 11:16] MadhavJivrajani commented on #338
Hi,
I'm having a little difficulty getting started, any tips?

[2020-10-01 11:22] JosemyDuarte commented on #69
Hi @vladaionescu! I would like to help with this for the Hacktoberfest. Could I work on this? Any hint on where to look at?

[2020-10-01 12:04] vishnugt commented on #331
Instead of having `Earthfile `syntax as part of `Dockerfile `Syntax plugin, I think it makes sense for `Earthfile` to have it's own separate sublime plugin and syntax definition package file which users can copy for syntax highlighting.

@vladaionescu any thoughts on this?

[2020-10-01 12:09] zedtux commented on #331
It sounds like duplicating something existing to just add few rules.

I'm really not against it, but I'm not sure if the Earthly people want to maintain all the Dockerfile syntax highlighting (as `Earthfile` syntax is like 80% the one from `Dockerfile`).
To me, it make more sens they contribute with the `Earthfile` syntax only part.

In the end, I just want it to work, no matter how 😉.

[2020-10-01 12:14] agbell commented on #344
Hi @zedtux and @RajivSah ,
I was thinking an actual ruby on rails example.  I also put a ticket in for a django example.  The problem we are trying to solve here is somebody has a rails project and is considering using early to run the tests and containerize it, we want to give them an example that they can work off of.  I think a small ruby example would also be useful.

[2020-10-01 12:25] agbell commented on #338
Hi @MadhavJivrajani,
I believe that is the right file. @vladaionescu  may have some explicit tips but If you are able to reproduce the issue, you could try documenting it with a failing test case and then try to get the test case to pass.

[2020-10-01 12:27] agbell commented on #69
Hi @JosemyDuarte ,
Take a look at this PR https://github.com/earthly/earthly/pull/71. It is close to a solution so you could start from there.

[2020-10-01 12:31] agbell commented on #331
Great effort @zedtux in opening that issue!  I think our own syntax highlighting would make sense though, in this case.

[2020-10-01 16:35] kichloo commented on #351
Hi @vladaionescu, I am a beginner and would like to take up this issue. Please assign it to me.

[2020-10-01 16:38] kichloo commented on #337
@vladaionescu I would like to take up this issue and can fix it using some help. Kindly assign it to me. Also, is it a part of Hacktoberfest?

[2020-10-01 16:52] agbell commented on #351
Hi @kichloo,
This is more of an open-ended ticket, that can be taken by many people.  It is adding an earthfile based build to any open source project.

[2020-10-01 16:55] agarwalBinay18 commented on #341
can I work on this issue?

[2020-10-01 17:07] vladaionescu commented on #318
SGTM - it may require testing, experimentation and fiddling. I'll assign this to you.

[2020-10-01 17:09] kichloo commented on #351
@agbell Oh! I am interested in taking this up, so can you explain how to go about this issue, meaning the steps?

[2020-10-01 17:11] vladaionescu commented on #338
You are correct @MadhavJivrajani - specifically, `PrintBytes` is the key function to look at. I suspect the reason this happens is that not all PrintBytes calls end with a \n and also the prefix causes inconsistencies somehow.

[2020-10-01 17:13] vladaionescu commented on #337
Hi @kichloo - we don't want to give this out as it'll probably require more time to guide than addressing it on our end. We're very religious about the consistency of the docs :-)

[2020-10-01 17:15] vladaionescu commented on #331
I've assigned this to you @vishnugt. Thanks for taking a look into this.

[2020-10-01 17:20] kichloo commented on #337
@vladaionescu Ok. But is there any way a beginner can participate, majorly in documentation or something of thus sort?

[2020-10-01 18:27] zedtux commented on #344
@RajivSah will you do both, Ruby or Rails?

[2020-10-01 18:47] agbell commented on #341
You can @agarwalBinay18

[2020-10-01 18:48] Gituser143 commented on #84
Hey @vladaionescu! Can I work on this issue?

[2020-10-01 18:53] agbell commented on #351
Hi @kichloo, Earthly is a build tool. If there were an open-source project that you worked on that used make files for building you could open a PR to add an earthfile, that could be used instead.
You could add an earthfile to this project of yours for instance:
https://github.com/kichloo/kubectl-who-can

[2020-10-01 19:33] vladaionescu commented on #84
Sounds good @Gituser143. This is where progress is printed BTW: https://github.com/earthly/earthly/blob/master/builder/solver_monitor.go#L178. Keep in mind that there may be multiple progress bars ongoing at a time and that the printing itself is being worked on in parallel: https://github.com/earthly/earthly/issues/338.

CC @MadhavJivrajani

[2020-10-01 19:52] adamgordonbell opened #357 "C Example"
We need an example c application added to the examples folder:
https://github.com/earthly/earthly/tree/master/examples

An example Earthfile should also be included which can build and produce a docker file of the example.

The Go example can serve as a reference point for how to structure an example.

[2020-10-01 19:59] agbell opened #358 "Multi Service Monorepo Example with Integration tests"
It would be nice to have a detailed multi-service example, that included unit tests and integration tests and build targets for each of these.

It would be more similar to this example https://github.com/earthly/earthly/blob/master/examples/integration-test/Earthfile but in but with several services, each with separate earthfiles and an earthfile that builds them both.

Possible implementation:
Po

[2020-10-01 20:10] adamgordonbell opened #359 "Syntax highlighting for Intellij"
We already have a [TextMate grammar](https://github.com/earthly/earthly/blob/master/contrib/earthfile-syntax-highlighting/syntaxes/earthfile.tmLanguage.json). We should port it / recreate it for intellij syntax highlighting.

[2020-10-01 20:14] agbell opened #360 "Vim Syntax Highlighting Support"
We already have a [TextMate grammar](https://github.com/earthly/earthly/blob/master/contrib/earthfile-syntax-highlighting/syntaxes/earthfile.tmLanguage.json) for VS Code syntax highlighting.

We need one for [VIM](https://vim.fandom.com/wiki/Creating_your_own_syntax_files)

[2020-10-01 20:17] vladaionescu opened #361 "An earth command that turns Dockerfiles into Earthfiles"
Although Earthly supports Dockerfiles via `FROM DOCKERFILE`, there are many cases where translating the build to Earthly is beneficial, in order to have access to all the Earthly features.

Some of the key things that this conversion should do:

* Dockerfile multi-stage builds are turned into Earthly multi-target builds
* Single-stage builds are turned into a single-target Earthfile
* Any Dockerfi

[2020-10-01 20:20] abhisht51 commented on #360
Hi, can you please elaborate on how to get started on this? Since it has a good first issue, I would want to contribute to this.

[2020-10-01 20:23] agbell commented on #360
Hi abhist51,
A good place to get started would be to find vim syntax highlighting for docker files and adjust it so that is cover earthfiles.  Comparing it to the linked TextMate grammar may help.

[2020-10-01 21:46] baspalinckx commented on #359
Hi @agbell Would love to help, but doesn't Intellij support TextMate out of the box? https://www.jetbrains.com/help/idea/textmate.html

[2020-10-01 22:19] vladaionescu commented on #359
Indeed - it's a task of mostly repackaging as an IntelliJ plugin and making sure that everything works as expected @baspalinckx

[2020-10-01 22:59] kzuri commented on #357
Hello @agbell, I would like to take up this issue. 😄

[2020-10-01 23:25] vladaionescu commented on #357
Sold

[2020-10-02 01:42] RajivSah commented on #344
The ruby example has been merged, I am working on rails as well.

[2020-10-02 02:49] avats-dev commented on #361
Hi @vladaionescu , I am willing to work on this. I know a bit about docker (still learning it). Can you guide me how to resolve this? Thanks.

[2020-10-02 05:55] Gituser143 commented on #84
Thank you @vladaionescu! I'll get to it...

[2020-10-02 07:20] raisultan commented on #343
@agbell hi! Trying to push a branch with django example, but getting 403-Forbidden. Do I have to fork the project and make a PR through it or we can resolve it in another way?

[2020-10-02 07:46] Gituser143 commented on #84
@vladaionescu I'm running into some small issues while trying to build from source. I was able successfully build the binary using the command `earth +all`, but when I try using the earthly binary I just built to run the go example, I come across this issue:

![image](https://user-images.githubusercontent.com/44526455/94899659-52372400-04b1-11eb-9b6f-c6a947c9313e.png)

That file `earth-prerelease`

[2020-10-02 09:12] shreayan98c commented on #343
Hi, @agbell I would love to contribute to this.

[2020-10-02 09:27] Gituser143 commented on #84
@vladaionescu I'm having a few some small issues with the progress bar. My implementation is kinda like [this](https://github.com/Gituser143/earthly/blob/6178029c2e7191e636bde8194b521e2dc3a6ffc8/builder/solver_monitor.go#L158). I'm testing these out with the go example and since values aren't really updating frequently, it moves from 0 to 100 pretty quick.

Can you give me some sort of feedback on

[2020-10-02 10:57] Gituser143 commented on #84
@vladaionescu I've implemented a simple progress bar. It's declared [here](https://github.com/Gituser143/earthly/blob/94055707077b6bdb83bb35f8a87af0067cf176b3/builder/solver_monitor.go#L160) and values are updated like [this](https://github.com/Gituser143/earthly/blob/94055707077b6bdb83bb35f8a87af0067cf176b3/builder/solver_monitor.go#L186). Let me know if I can open a PR so that you can see the ch

[2020-10-02 14:25] vbhv007 commented on #341
Hey @agbell
I tried running the python example and I'm getting this error

`Error: new file stream build.earth: open build.earth: no such file or directory`

Is this some known issue, I couldn't find anything on the internet

[2020-10-02 14:30] agbell commented on #341
Hi @vbhv007, that is strange.    What command are you running?  Try earth +build in the python folder. It runs as part of the build, so I believe it should be working.   Also, make sure you have the latest version of earthly.

[2020-10-02 14:38] ShubhamPalriwala commented on #352
Hey @vladaionescu so basically you want me to write a similar example in Go like the one you mentioned right ?
Or you want me to write some easy to understand Golang code which helps users understand the syntax?

[2020-10-02 14:49] agbell commented on #352
Hi @ShubhamPalriwala,
Imagine a potential user of earthly that has a go service that talks to a data store (say redis) and has unit tests and integration tests (that is tests that test pushing and pulling data out of the store).

We want to create an example that shows how they could use earthly to build, unit test, integration test and dockerize a similar project.   So the example can be quite si

[2020-10-02 15:53] vbhv007 commented on #341
Yup, I think it was a version issue, working with v0.3.8

[2020-10-02 20:31] vladaionescu commented on #361
Hi @avats-dev - this issue requires significant experience with Dockerfiles unfortunately.

[2020-10-02 21:08] vladaionescu commented on #331
I'll keep this open to also track the publishing of the package via [these instructions](https://packagecontrol.io/docs/submitting_a_package).

[2020-10-02 21:17] vladaionescu commented on #84
It's a good start, however you probably need a separate progress bar for each of the items in `ss.Statuses`. These are multiple activities taking place in parallel and the relevant progress bars need to be updated in parallel. Feel free to open a PR even if it's WIP.

[2020-10-02 21:46] artemmikhalitsin commented on #358
Hi @agbell ,

I'll take a look and provide a PR for this

[2020-10-02 22:15] vishnugt commented on #331
I'll take this as well, I've replied to this in the original PR #364

[2020-10-02 22:18] vladaionescu commented on #331
Here you go @vishnugt https://github.com/earthly/sublimetext-earthly-syntax

[2020-10-02 23:34] vladaionescu commented on #331
FTR - PR by @vishnugt for package control repo: https://github.com/wbond/package_control_channel/pull/8060

[2020-10-03 11:31] HexF commented on #360
Hi,
@abhisht51 have you made a start on it, or do you think I could do it?
If not, I should have a PR in the next few hours.

[2020-10-03 11:57] abhisht51 commented on #360
I am a little busy right now so please feel free to commit.

[2020-10-03 13:40] Gauravsaha-97 commented on #357
I would like to work on this issue.

[2020-10-03 13:55] Gauravsaha-97 commented on #344
I would like to work on this issue.

[2020-10-03 14:35] RajivSah commented on #344
You can take it if you want.

[2020-10-03 15:11] Gauravsaha-97 commented on #344
@RajivSah Created a PR

[2020-10-03 19:16] zedtux opened #372 "Weird issue passing environment variables from a .env file"
After having a look [at the PR allowing us to use a .env file](https://github.com/earthly/earthly/pull/248/files) with Earthly, I tried it but I have a very strange error.

So I created the `.env` file with some variables but for now let's say this:

[code]

Then I have a `run` target like so:

[code]

but it failed with this following:

[code]

[2020-10-03 19:18] vladaionescu commented on #372
Hi @zedtux - we just fixed a bug related to this in our very latest released. Can you try this again on `v0.3.9`?

[2020-10-03 19:19] zedtux commented on #372
Oh !!!! Sure I can ! So fast you are @vladaionescu !!

[2020-10-03 19:22] zedtux commented on #372
I'm gotta another error:

[code]

[2020-10-03 19:28] vladaionescu commented on #372
Can you try to put all env vars in quotes? For example:

[code]

I suspect there's a space in one of them and that causes the docker run command to interpret part of it as another argument (it thinks that it's the image name).

[2020-10-03 19:41] vladaionescu opened #373 "Earthly crashes if no SSH agent present"
Mazedur provided these logs over email. Seems that SSH agent isn't forwarded by Docker Desktop to the linux VM and Earthly gives up altogether rather than continuing without SSH agent support.

[code]

[2020-10-04 01:08] alexcb commented on #373
I gave it a quick try on my mac but I can't replicate it currently because that socket does exist for me,
I can verify it exists in the docker VM by running
`docker run -it --rm --privileged --pid=host justincormack/nsenter1 ls -la /run/host-services/ssh-auth.sock`
so perhaps earth could use a similar mechanic to check to see if ssh forwarding is enabled via docker.

I can't remember what exactly

[2020-10-04 08:04] zedtux commented on #372
That solved my issue, thank you.

[2020-10-04 08:04] #372 closed

[2020-10-04 08:07] zedtux commented on #344
@Gauravsaha-97 I believe you messed up with your PR #371 as it contains the same code (The C example) than the PR #369.

Can you please double check?

[2020-10-04 09:09] Gauravsaha-97 commented on #344
Actually, I messed up with the commit message. The code in the two PRs are
different. I dont know how to edit the commit message.

On Sun, Oct 4, 2020, 13:37 Guillaume Hain <notifications@github.com> wrote:

[2020-10-04 10:00] zedtux commented on #344
Okay, sorry, you're right. The PR #371 has both Ruby and C examples because its branch is a child of #369.

Have look at [Changing a commit message](https://docs.github.com/en/free-pro-team@latest/github/committing-changes-to-your-project/changing-a-commit-message) from Github's documentation.

[2020-10-04 13:33] zedtux opened #375 "Caching "earthly-cache" volume between builds"
I'm trying to figure what's the path to be cached by Gitlab in order to speed up the earth builds.

Can you please tell me, if you know it, what path should I pass to the cache `paths` attribute in order to get the `earthly-cache` container volume cached on Gitlab CI?

[2020-10-04 14:58] zedtux commented on #375
Sounds harder than just adding a path to the cache ...

As of now, I've explored the use of `docker export` and `docker import` without success ... I can't restore the `earthly-cache` volume 🤔

[2020-10-04 16:11] bislara opened #376 "Adding issue labeller and greeting Github actions"
__What should we do?__

Add issue labeller action to add relevant labels to the issues once created.
Add GitHub action to greet a first-time contributor for an issue or a PR.

__Why should we do it?__
Adding labelled would help to understand whats the issue is about.
Adding greeting action will encourage the first time contributors to contribute more and more

[2020-10-05 02:43] Gauravsaha-97 commented on #344
I have changed the commit message.

On Sun, Oct 4, 2020, 15:30 Guillaume Hain <notifications@github.com> wrote:

[2020-10-05 11:19] mitesh000790 commented on #342
@vladaionescu I have created a simple digital clock in React Js...can I add PR?

[2020-10-05 17:08] vladaionescu commented on #375
Hi @zedtux - we've experimented in the past with exporting such a volume and the performance was not very good. We currently don't have an officially supported Earthly way of exporting / importing the cache.

We have on our roadmap to provide shared caching over the next 6-9 months, however.

[2020-10-05 17:42] vladaionescu commented on #373
I think it just comes with the Docker Desktop app + linux VM. The user doesn't need to do anything to get it AFAIK. Maybe Mazedur has an older Docker Desktop.

[2020-10-05 17:53] vladaionescu commented on #376
Thanks - we're not interested in doing these at this time.

[2020-10-05 17:53] #376 closed

[2020-10-05 17:54] vladaionescu opened #378 "Syntax highlighting for emacs"
We already have a [TextMate grammar](https://github.com/earthly/earthly/blob/master/contrib/earthfile-syntax-highlighting/syntaxes/earthfile.tmLanguage.json) for VS Code syntax highlighting.

We need one for Emacs.

[2020-10-05 18:06] zedtux commented on #375
Thank you for your comment @vladaionescu 👍

[2020-10-05 18:23] #360 closed

[2020-10-05 19:34] alexcb commented on #373
I tried running `launchctl stop com.openssh.ssh-agent` then restarting docker desktop, but it appears that docker desktop is restarting the ssh-agent.

[2020-10-06 04:42] vladaionescu commented on #373
This has been confirmed as being the actual issue. Mazedur is using version 2.0.0.0 of the Docker Desktop app and SSH agent forwarding was added only in 2.2.0.0.

Closing as wontfix - we won't support Docker Desktop that old.

[2020-10-06 04:42] #373 closed

[2020-10-06 19:43] zedtux opened #385 "Earthly behaving differently on Travis-CI than locally"
I have a case of a Ruby gem I'm working on, that should run against RethinkDB but [it fails on Travis CI](https://travis-ci.com/github/zedtux/database_cleaner-nobrainer/jobs/395988761) because Travis doesn't know how to install RethinkDB anymore.

I then immediately think of Earthly!

I made [my Earthlyfile](https://github.com/zedtux/database_cleaner-nobrainer/blob/master/Earthfile) that works loc

[2020-10-06 19:48] vladaionescu commented on #385
Hi @zedtux - I suspect there's an issue in Travis with `--network=host`. Can you try setting that to the composer network instead? The network name is usually the name of the compose project, which by default is the name of the directory in which the docker-compose file exists. So `--network=<name-of-dir>` would work. That should work both locally and in Travis (hopefully!).

[2020-10-06 20:01] zedtux commented on #385
Looking at the Travis-CI output closely, I found that [the created network is named `default_default`](https://travis-ci.com/github/zedtux/database_cleaner-nobrainer/builds/188450675#L799).
Is that the name I should use?

[2020-10-06 20:13] alexcb commented on #385
I'm not sure if it helps, but I tried running the tests locally on my machine with both:

[code]

and

[code]

and in both cases I see the similar error as shown in travis:

[code]

I used the `-i` interactive debugger mode which dropped me into a shell and I can see two containers in a failed state:

[code]

with a couple different error messages in them:

[code]

[2020-10-06 20:14] zedtux commented on #385
Thank you @alexcb for your comment !

I also tried on Gitlab CI and [it fails too](https://gitlab.com/zedtux/database_cleaner-nobrainer/-/jobs/776218625).

So why is it passing locally ... 🤔 ?

[2020-10-06 20:16] alexcb commented on #385
Just thinking out lout.... Are you working out of a clean git repo? can you try checking out a new copy into a different directory and see if the tests pass in that one or not?

[2020-10-06 20:24] zedtux commented on #385
I first made it with a `Dockerfile` and a `docker-compose` files and when I saw the issue on Travis I've switched to Earthly.

Thinking of a potential conflict/collision between the `Dockerfile` generated image and the `Earthfile` one, I tried to delete all the images, and tried again but tests are passing.

I'm now giving a try to your idea.

[2020-10-06 20:26] zedtux commented on #385
Oh !! Removing the local project folder and cloning it again made it failing locally! Thank you @alexcb !

[2020-10-06 20:31] alexcb commented on #385
Awesome! (we'll not awesome that your tests are failing, but awesome to hear you can reproduce it).

I'll close this ticket, but please re-open it if you run into any other inconsistencies between local vs CI.

Cheers!

[2020-10-06 20:32] zedtux commented on #385
So what happened? Do you know it?

[2020-10-06 20:32] alexcb commented on #385
it sounds like you have some local files that are not checked into git?

[2020-10-06 20:35] zedtux commented on #385
Not that I know, sorry.

BTW tests passed now on Travis CI and on Gitlab CI.

[2020-10-06 20:54] vladaionescu commented on #385
Awesome! Let us know if you run into any other issues

[2020-10-06 20:54] #385 closed

[2020-10-08 07:05] AnshMishra2001 commented on #378
I am new to Open Source but love to give this a shot. Could you please guide me?

[2020-10-08 07:08] AnshMishra2001 commented on #357
Can I work on this issue, pls?

[2020-10-08 15:48] alexcb commented on #357
Go for it @AnshMishra2001 , if it's possible we would really like to see an example that makes use of the cunit library for an example of performing unittesting of a simple function. A suggestion could be to write a program that implements a fibonacci function along with a second program that uses cunit to test that function.

[2020-10-08 15:56] vladaionescu commented on #378
Hi @AnshMishra2001 - unfortunately this task does require knowledge of Emacs and syntax highlighting for Emacs.

[2020-10-08 17:52] 7vikpeculiar commented on #378
Hi @vladaionescu , I am relatively new to Open Source, but I have experience with emacs, can I give it a shot?

[2020-10-08 17:57] vladaionescu commented on #378
Go for it!

[2020-10-08 23:31] vladaionescu opened #387 "Git-related failures are not clear"
Git-related failures are not shown. Git clones resulting in an error should be displayed in detail to the user.

[2020-10-08 23:32] vladaionescu opened #388 "Git features should just work"
Earthly by default assumes SSH-based auth for GitHub and GitLab. This works well for many developers, but not for all. Also, in many CI environments SSH-based auth is not configured and Earthly does not work right away.

There should be some way for Earthly to either infer default settings or have a way to try out one approach and switch to the other in case of failure.

Also related issue: https:

[2020-10-09 04:22] #387 closed

[2020-10-09 19:47] avasapollo commented on #334
Ciao @alexcb , I still see the PR on hacktoberfest in review and not in accepted, can you do anything for that? Thanks

[2020-10-09 19:52] alexcb commented on #334
@avasapollo that's odd. I just added a `hacktoberfest-accepted` label to the PR. Let's see if that makes it work? otherwise we'll try to figure out some other way.

[2020-10-09 20:48] #334 closed

[2020-10-09 20:48] alexcb opened #397 "implement secrets caching"
earthly is creating an experimental shared secrets service, currently we fetch the secrets on each run; however, we should investigate caching secrets in memory (possibly in the earthly-buildkitd container) to avoid unneeded network requests.

[2020-10-09 21:33] avasapollo commented on #334
The state is still the same maybe just need time I ll check next week thanks have good weekend

[2020-10-09 23:49] vladaionescu opened #402 "SAVE ARTIFACT option to not fail if file does not exist"
Example use-case: Terraform creating a backup file only if changes are made. We want that backup file to be exported locally. But sometimes the file does not exist.

Perhaps this could be in the form of a flag. Eg `SAVE ARTIFACT --no-fail`. Or something along these lines.

CC @dchw

[2020-10-09 23:54] vladaionescu opened #403 "SAVE ARTIFACT after RUN --push"
In some cases, saving locally the a resulting log file or state file is useful after a `RUN --push` command. Example use-case: saving a backup file after applying a terraform change.

One possible issue with this is that other targets would not be able to COPY such an artifact. So it would only have the effect of saving locally. This might not be obvious to the user, however. The syntax / design o

[2020-10-10 18:24] winmillwill commented on #179
@vladaionescu what is the implication of copying a potentially secret environment variable from .env to the build args? Do those build args not show up in the image history or similar? What's the motivation for copying to both build args and secrets?

[2020-10-11 11:37] SandeepGamot commented on #342
I'm a bit confused, does this mean we have to include any React app using earthly?

[2020-10-12 16:55] vladaionescu commented on #179
The build args only show up in the history if they are declared as such via `ARG`. But if an arg is passed on the command-line, but is never used in the build with an `ARG` declaration, then it will not show up.

[2020-10-13 00:45] #69 closed

[2020-10-13 05:59] 7vikpeculiar commented on #378
Hi, I am having some trouble understanding what the TextMate grammar means... Can I please get some help ?

[2020-10-14 18:32] avasapollo commented on #334
Ciao @alexcb sorry to annoying you but the PR is still in review, do you know how to change the state to accepted ?

[2020-10-14 18:40] alexcb commented on #334
that's odd, if I look at https://github.com/earthly/earthly/pull/349 I see it as accepted. Is there a different place to look?

![image](https://user-images.githubusercontent.com/1806823/96031241-f2763c80-0e11-11eb-9a00-e4ae130815eb.png)

[2020-10-14 18:44] avasapollo commented on #334
I read something probably it is just because a maintainer as to accept

[2020-10-14 19:01] BjoernAkAManf commented on #86
I'd be willing to work on this tommorrow.

[2020-10-14 19:09] vladaionescu commented on #86
Go for it - note that this is gnarlier than it looks!

[2020-10-14 19:52] BjoernAkAManf commented on #388
Just a small suggestion: Maybe try if ssh_agent is running or if any keys are registered within it? That is definitely not foolproof, but would prevent most new environments to be problematic.

[2020-10-14 20:33] vladaionescu commented on #245
This has been cherry-picked into Earthly `v0.3.10`

[2020-10-14 20:33] #245 closed

[2020-10-15 00:17] vladaionescu opened #422 "Some images don't work well with `WITH DOCKER` on WSL2"
Hard to figure out what the cause is - something network-related apparently. Docker daemon does not start up and it spits an error that looks like this:

[code]

Base image used: `hseeberger/scala-sbt:8u265_1.4.0_2.12.12`
Earthfile: https://github.com/earthly/earthly/blob/b1f86ebdebaba99f256db6c994e6e48346f6f58e/examples/integration-test/Earthfile
Full example: https://github.com/earthly/earthly/t

[2020-10-16 12:17] BjoernAkAManf commented on #345
Running the tests from Scratch i noticed that i keept having TLS timeouts to the repository. If run multiple times (e.g. to retry) this worked in the end. Is this related to this issue at all? Otherwise i'd create a new one. Without extensive testing i think it might be related to concurrently downloading multiple images.

[2020-10-16 14:38] BjoernAkAManf commented on #86
So i've started working on creating a test. So basically the expected result would be for a given rule "build":

[code]

Output:
[code]

right? I got the parsing to work already, however right not ' and " do not make a meaningful difference.
Just waiting to confirm i understood the requirements correctly.

[2020-10-16 18:43] vladaionescu commented on #86
Exactly. You're on the right track.

[2020-10-16 21:26] vladaionescu commented on #345
TLS timeouts are very possibly related to the registry itself, less about Earthly. But the fact that we're contacting the registry much more than necessary does make this problem more prominent for Earthly.

[2020-10-18 11:52] zedtux opened #430 ""Error: invalid number of args" can you please explain me why?"
Hello awesome team of Earthly!

I have a weird error here with version 0.3.10:

[code]

Can you please tell me why ?

[2020-10-18 17:55] agbell commented on #430
Hi @zedtux ,
That is unexpected?  Are there linebreaks that you have omitted and if so does it work on a single line? I can try to reproduce it tomorrow morning.

[2020-10-18 18:43] vladaionescu commented on #430
I have the same suspicion - if the line breaks aren't actually there, then `\ ` could be interpreted as the space character ` `, leading to things like `\ --secret` to be interpreted as

[code]
(notice the space in front), which is not a flag, and therefore it's an arg, leading to "number of args" error.

[2020-10-19 06:11] MadhavJivrajani commented on #338
Hi @vladaionescu
Apologies for the inactivity.

I keep encountering this error, any insights?
[code]

[2020-10-19 07:55] zedtux commented on #430
Thank you guys for your comments.

You can see [my .gitlab-ci.yml file over here](https://gitlab.com/zedtux/wow-psh/-/blob/2c41d67e0c36c25204e3ae8d6fbd0f4568de698a/.gitlab-ci.yml#L41-46) and [the pipeline output where it fails here](https://gitlab.com/zedtux/wow-psh/-/jobs/798112060).

[2020-10-19 17:30] zedtux commented on #430
Hey @vladaionescu you actually guessed it well !

Removing spaces works:

[code]

[2020-10-20 23:16] vladaionescu commented on #430
Great! Closing this.

[2020-10-20 23:16] #430 closed

[2020-10-21 17:08] vladaionescu commented on #338
Hi @MadhavJivrajani - can you help open another issue for your problem? Try using the `./earth` script instead - that'll use the very latest `earth` version from master. Post any errors that you encounter.

[2020-10-23 13:19] prikshitsetia commented on #342
Sir, I would like to add a voice-based news application with a frontend on react and a backend on Node.js.

[2020-10-25 13:04] tobyjwebb opened #449 "Does not work if any elements of the current directory path are symlinks"
When I run the earth command, and the directory I am in has a symlink in it, I get the following error:
[code]
(I'm using the `Go` example from here: [a simple earthfile](https://docs.earthly.dev/guides/basics#a-simple-earthfile))

I store my repositories in a `REPOS` directory, let's call it `$HOME/Work/company/foo/bar/REPOS`, and I have a symlink to it in `$HOME/REPOS`. If I run the `earth` comm

[2020-10-27 00:38] vladaionescu commented on #255
This has been fixed

[2020-10-27 00:38] #255 closed

[2020-10-27 01:10] #449 closed

[2020-10-27 01:13] alexcb commented on #449
Thanks for the bug report @tobyjwebb

We'll get the patch out in our next release, until then you can make use of our latest pre-release version located in the earth script in the root of our repo: https://github.com/earthly/earthly/blob/master/earth

[2020-10-27 02:00] #18 closed

[2020-10-27 02:00] #35 closed

[2020-10-27 02:00] #85 closed

[2020-10-27 02:00] #99 closed

[2020-10-29 14:13] slurps-mad-rips opened #470 "Move vim syntax files into separate repository"
Most vim syntax plugins are setup in such a way that you can easily use them with a plugin manager.

A few examples:
 * https://github.com/rust-lang/rust.vim
 * https://github.com/octol/vim-cpp-enhanced-highlight
 * https://github.com/plasticboy/vim-markdown

While I understand wanting to keep things colocated, I'd rather not have to clone all of earthly just to get a few syntax files 😅

Consideri

[2020-10-29 18:10] alexcb commented on #470
Thanks for the suggestion, I've created a new repo at https://github.com/earthly/earthly.vim which can now be installed via vim-plug.

If you use a different plugin manager, we would definitely appreciate a PR to the readme with installation notes.

One thing to note is that we use `main` as our default branch in git.

[2020-10-29 18:10] #470 closed

[2020-10-30 19:58] Hritam-stark commented on #403
good

[2020-11-03 09:51] silverskyvicto opened #482 "Bitbucket Support"
Do you support integration with bitbucket?

[2020-11-03 16:39] alexcb commented on #482
Hi @silverskyvicto , not currently, but that's something we can add. To better understand the use-case, is your bitbucket git repo public or private? are you using bitbucket.org, or a self-hosted version?

[2020-11-03 18:24] vladaionescu opened #483 "Document .earthignore"
`.earthignore` is not yet mentioned in the docs. It's probably worth adding to some of the examples: eg for the JS example, one might add `node_modules` to `.earthignore`.

[2020-11-04 02:29] silverskyvicto commented on #482
Hi @alexcb
Thanks for the comment.

I use both `bitbucket.org` and self-hosted, but I'd appreciate it if `bitbucket.org` was supported first.

Git repository is private.

[2020-11-04 05:07] alexcb commented on #482
Ideally we should be able to support any self-hosted repos, and then we'll have a pre-populated table of mappings for github, gitlab, bitbucket etc. I'll add this to our TODO list, and see what we can come up with. Thanks for the request.

[2020-11-04 23:27] #483 closed

[2020-11-05 22:15] alexcb opened #487 "pass docker auth token to DinD"
When running `earth -P +test-all`, this causes our DinD tests to get called. Which is getting a rate limit error:
[code]

We need to pass along the docker config file (located under `$HOME/.docker/config.json`), to the DinD container.

The docker config should contain a section with the auth, such as:
[code]

[2020-11-05 22:16] vladaionescu commented on #487
Note that a workaround for most people is to use the `--pull` flag in their `WITH DOCKER` command so that Earthly does the pulling and not the docker-in-docker daemon.

[2020-11-06 17:07] eganjs opened #489 "Generalised credential mounting and default env var passthrough"
Hi, I am trying to use dvc (https://dvc.org) as part of my build, it basically enables version control for large files. I've currently got files stored on a private S3 bucket which dvc uses as it's "remote". The problem is I need my AWS credentials available at build time. I know I can pass in secrets, however I think this is far more inconvenient than it needs to be.

Ideally there would be a way

[2020-11-06 17:27] dchw commented on #489
Thanks for the issue! As I also use AWS credentials extensively within Earthly targets, I also feel your pain. Right now, we settle for passing them in as secrets using the `--secret AWS_ACCESS_KEY_ID` style as well.

If you absolutley need a config file in the interim, one option might be to add a parent target:

[code]

[2020-11-06 17:31] dchw commented on #489
Thanks for the issue!

As I also use AWS credentials extensively within Earthly targets, I also feel your pain and agree we could do better. Right now, we settle for passing them in as secrets using the `--secret AWS_ACCESS_KEY_ID` style as well. its cumbersome, but has also been supported everywhere we need it so far.

If you absolutely need a config file in the interim, one option might be to ad

[2020-11-06 18:23] vladaionescu commented on #489
A note regarding the workaround above is that the secrets end up in your cache and if you output images, they may also end up in image layers. This may or may not be acceptable depending on the specifics of how they are used.

In any case, we plan to support this particular use-case properly with some upcoming features. We'll update with progress.

[2020-11-08 20:29] JensRantil opened #490 "Bug: Earthly fails when run in an empty git repository"
I just executed `git init` and then
[code]
The "git hash" made me guess it had to do with the empty git repository. I added a small readme file and made my first commit, and then `earth +test` passed.

Expected:
 * Either that I would get a nicer error message; or
 * that Earthly works in an empty git repository. (preferred)

[2020-11-08 20:35] JensRantil opened #491 "Feature request: Support for ${...}"
Docker supports referring to environment and argument variables using the `${...}` syntax ([example](https://docs.docker.com/engine/reference/builder/#understand-how-arg-and-from-interact)).

The syntax is nice since it makes it explicit which variable is being used if there are two variables sharing the same prefix. For example, if there are two variables `FOO` and `FOOBAR` the string `$FOOBAR` u

[2020-11-08 20:56] JensRantil commented on #491
Okay, tested this out. It works. 🤦  https://docs.earthly.dev/earthfile#run states

[2020-11-08 20:56] #491 closed

[2020-11-08 21:01] JensRantil commented on #338
Another example:
[code]
Executing `earth +test` yields the following output:
[code]
(truncated the output a bit since the `ls` output isn't relevant)

[2020-11-09 11:35] joshuagl opened #492 "How can a build be reproducible when container references are not immutable?"
The [introduction](https://docs.earthly.dev/) claims:

however, so far as I can tell from a brief skim of the documentation and examples, this can _only_ be guaranteed to be true if they run at the same time.

Take "[A simple example (for Go)](https://github.com/earthly/earthly#a-simple-example-for-go)" from the earthly README.md, the first two lines seem to me to be non-reproducible (inline comme

[2020-11-09 17:46] vladaionescu commented on #490
Ah indeed - we should make this gracefully handle the situation. This should be an easy fix.

[2020-11-09 17:54] vladaionescu commented on #492
Hi @joshuagl - you're right. It's not reproducible like, for example [a Bazel build](https://github.com/earthly/earthly#how-is-earthly-different-from-bazel). It's just more reproducible than most popular build tools (eg Makefile, bash scripts etc). The word "reproducible" is a stretch - any ideas for a better word / description?

[2020-11-09 18:06] eganjs commented on #489
After digging around a bit more I've found general purpose mounting exists experimentally [here](https://github.com/earthly/earthly/blob/c7cfad609859fc29f7bd1b82899e9f4cb1ec9228/earthfile2llb/runmount.go#L127) and can be used like so `--mount=type=bind-experimental,target=/bind,source=/bind-test`
I also found the test `earth -P ./examples/tests+host-bind-test` which demonstrates it in action, howe

[2020-11-09 18:58] vladaionescu commented on #489
Hi @eganjs - we actually don't plan on making that a full user-facing feature. Currently it mounts things from within the `earthly-buildkitd` container into the build container. So probably not very useful to you.

We're on the fence with offering host path mounts into the build because it can be a source of inconsistent builds (the same reason also BuildKit does not offer it). However, I think th

[2020-11-09 21:25] joshuagl commented on #492
If the goal is to ensure that a build is self-contained and isolated from the host (such that, i.e the presence or absence of libraries and binaries on the host does not affect the build), you might find the term "hermetic" a better fit.

For a more complete definition of Hermetic Builds, see chapter 8 of Google's SRE book: https://landing.google.com/sre/sre-book/chapters/release-engineering/

[2020-11-09 22:49] vladaionescu commented on #492
I think "hermetic" could also be misinterpreted, because the meaning of the word comes from being "airtight" or "completely isolated" - which is not quite the case.

Perhaps "repeatable" or "consistent"?

CC @agbell

[2020-11-09 23:30] joshuagl commented on #492
Repeatable could work. It's is a term I have used, and seen used, to refer to build processes that are not strictly reproducible but make replicating build results across the and systems more reliable.

[2020-11-09 23:41] #490 closed

[2020-11-10 19:19] eganjs commented on #489
@vladaionescu thanks for clarifying, I think host path mounts is a feature I would still like see, albeit, perhaps naively.
I look forward to seeing official integration for aws credentials!

In the meanwhile, I've put together a slightly more sensible approach than I was using beforehand. I've written a wrapper file that I'm committing to repositories where I use earthly. The script does the foll

[2020-11-10 20:58] vladaionescu opened #495 "Support for watch mode"
Many build tools made for frontend support a watch mode - a mode in which every code change immediately updates a running development server - thus the user can see updates to the site in real-time.

Docker + watch mode traditionally has been a DIY project, many engineers preferring to just run outside of containers so they wouldn't have to deal with the setup. Challenge is that source code needs

[2020-11-10 22:32] jazzdan opened #496 "Build performance metrics"
When I'm writing an Earthfile for a project I'm always on the look out for what the biggest build bottlenecks are. Should I break out that build script in to smaller targets? Should I optimize that Dockerfile by using a smaller base image?

If Earthly could show me a detailed breakdown of how long each of my build steps take that would help me figure out what's important to focus on. As of right n

[2020-11-10 22:36] vladaionescu commented on #496
This should be relatively easy - BuildKit already exposes some of this data. We just need to take it and report it to the user neatly.

[2020-11-10 22:46] jazzdan opened #498 "parser failure: nil pointer dereference"
Repro steps:

[code]

I think I ran in to this before and it was some typo, but as of right now I'm still looking for what caused it so I figured I'd report it. :)

[2020-11-10 22:48] vladaionescu commented on #498
Thanks for the repro Earthfile - I'll take a look

[2020-11-10 22:50] vladaionescu commented on #498
BTW - I see a few COPY commands - any chance that you could share the files that are being copied so that I have a fully working reproduction of the issue?

[2020-11-10 22:51] jazzdan commented on #498
@vladaionescu I don't think it matters in this case because even if I run that Earthfile in an empty directory (Like my [linked repro case](https://github.com/jazzdan/earthly-nil-pointer.git)) I get the same error.

Maybe I can reduce the repro case further, let me see

[2020-11-10 22:53] jazzdan commented on #498
@vladaionescu I reduced it further to:

[code]

[2020-11-10 22:54] jazzdan commented on #498
Then `earth +bar` :)

Hmm maybe the issue is that I didn't save the output of `foo` as an artifact?

[2020-11-10 22:54] vladaionescu commented on #498
Yes... exactly!

We should improve that error

[2020-11-10 23:16] #498 closed

[2020-11-10 23:17] vladaionescu commented on #498
Thanks for the report, @jazzdan - improved error message coming in the next release!

[2020-11-11 16:46] jazzdan opened #500 "SAVE IMAGE is slow, even when there's no work to be done"
I was observing that for highly optimized builds the slowest part can be saving images. For example, [here](https://github.com/jazzdan/earthly-save-image)’s a repo where `earth +all` takes 12s if everything is cached (like I run `earth +all` twice). Yet if I comment the `SAVE IMAGE`  lines out the total time drops to 2s. This implies that `SAVE IMAGE` is doing a lot of work, even when nothing has

[2020-11-11 17:28] jazzdan opened #501 "Could interactive mode work with COPY/artifact store?"
I end up with a lot of mismatches between commands that copy things out of the artifact store and it feels very similar to when I have a `RUN` command that fails. The `-i` interactive flag in Earth is great for debugging the latter, but doesn't help with the former when it feels like it should.

For example I recently had an Earthfile like this:

[code]

The foo target failed when built:

[code]

[2020-11-11 18:43] vladaionescu commented on #500
Hi @jazzdan - you are spot-on. The output of the build is passed to docker as a tar file, so there are inherent inefficiencies resulting from that. I think indeed there may be ways in which Earthly could talk to host docker while it's building and decide to skip generating tars (or even individual layers) if the image (or parts of it) is already available.

[2020-11-11 18:49] vladaionescu opened #502 "Cannot COPY files containing +"
Dan Miller (@jazzdan) reports on Slack

We should support escaping the `+` in COPY commands (eg `\+`).

We should test:
* COPY a file containing a `+` from build context
* COPY an artifact containing a `+` from another target
* Three tests where each of the SAVE ARTIFACT params contains a `+`

[2020-11-11 19:12] #492 closed

[2020-11-11 19:42] vladaionescu commented on #501
Hi @jazzdan - good point on COPY + interactive. I found myself needing that too. CC @alexcb

For point 2, in order to inspect the artifacts, you could run `earth --artifact +protocol/* ./some-local-dir`. This will dump the artifacts to that local dir.

[2020-11-11 20:24] jazzdan commented on #500
Switching to smaller base images in development helped a lot, but it'd be nice to not have to do that, especially for development. :)

[2020-11-12 16:35] jschumacher-dexcom commented on #57
Hi there.  For me, the ability to reference other Earthfiles is one of the key features.  Just wanted to note that by setting DOCKER_BUILDKIT=1, docker itself now supports the first two features listed above (building only necessary targets and build parallelism).

[2020-11-13 18:38] alexcb commented on #482
We're currently waiting on some changes to buildkit in https://github.com/moby/buildkit/pull/1782 once that PR is in place we'll be able to work towards supporting this feature.

[2020-11-13 19:51] #502 closed

[2020-11-13 19:54] vladaionescu commented on #502
This will be in the next release @jazzdan

[2020-11-13 22:44] vladaionescu opened #507 "Jump-to-definition support in vscode extension"
Currently our vscode syntax highlighting extension is essentially just a TextMate grammar.

VScode now supports [LSP](https://code.visualstudio.com/api/language-extensions/language-server-extension-guide), which can be used to add functionality such as jump-to-defintion, which can add the ability for the user to track down the definition of Earthly targets and artifacts in different Earthfiles acr

[2020-11-15 08:24] TriplEight commented on #375
You can set it up in the gitlab-docker-runner settings. Set the persistent volume in runner's host fs.
Then, do not use the Gitlab's `cache`. Instead, put your cache to that mount.

[2020-11-15 08:29] TriplEight commented on #11
Implementing this you can kick start the selling of the new docker subscription, that one with limited pulls xD
If seriously, can be beneficial with another docker registry.

[2020-11-15 09:07] zedtux commented on #375
Wouldn't this implies to have my own server running it? I'm actually using Gitlab.com.

[2020-11-16 17:22] parnham opened #509 "Proposal: Support for local repositories"
## Background

I understand that Earthfiles are supposed to be completely standalone and able to define the entire build, but there are some situations that may require access to other local repositories instead of remote github/gitlab/private ones.

Examples:
* A developer is working on changes that span multiple repos and needs to build against changing dependencies as a feature is being develop

[2020-11-16 19:02] vladaionescu commented on #509
Thanks for the proposal, @parnham !

A workaround for now would be to use ARGs to define the location:

[code]

or

[code]

And then, to override it, you can put

[code]

or

[code]

in your local `.env` file.

---------

Do you think this workaround is enough for your needs? Or would you still prefer to have a dedicated feature for this?

[2020-11-16 22:22] parnham commented on #509
Thanks, that's a good compromise that we may be able to work with.

It's less tidy than the proposal since we would have to have multiple environment variables for the more complex projects that have github and private gitlab dependencies. To avoid too much duplication we would probably use ARGs that only refer to the base URL, so

[code]

And the developer would have to configure an `.env` file f

[2020-11-16 23:59] alexcb commented on #509
Hi @parnham, I'm currently working on support for private self-hosted git servers (tracked in #482) in case that might be helpful as a work-around for this request. Once that feature is complete, I wonder if you could achieve something similar by modifying your /etc/hosts file to point to a local server or say github or some other server?

[2020-11-17 14:14] TriplEight commented on #375
Yes, for that you have to run at least your own gitlab-runner

[2020-11-17 14:43] zedtux commented on #375
Thank you anyway for your comment.

[2020-11-17 21:10] jazzdan opened #512 "SAVE ARTIFACT AS LOCAL overwrites local directory"
If I have an Earthfile like this:

[code]

Everything in my local `foo/` gets wiped out and replaced with whatever was in the container's `foo/`. There are definitely situations where this is what I want to happen, but there also situations where I want to merge the two, the equivalent of  `cp foo/* foo/`.

For example, if I have two rules like this:

[code]

And I run `earth +foo` then `earth +ba

[2020-11-17 21:24] vladaionescu commented on #512
FTR - copying response from Slack.

I believe this is intended behavior - as the artifact is declared as being the entire directory - so it completely replaces the destination to make it exactly the same. You should be able to use `SAVE ARTIFACT foo/* AS LOCAL foo/` - then the artifacts are a collection of files which should be placed in the destination together with anything that's already in the

[2020-11-17 21:43] jazzdan commented on #512
Yep, that works great. Thanks! I'll close this for now.

[2020-11-17 21:43] #512 closed

[2020-11-17 22:06] vladaionescu opened #513 "Clarify SAVE ARTIFACT docs about dir vs file artifact distinction"
See https://github.com/earthly/earthly/issues/512 for confusion.

[2020-11-18 19:38] agbell opened #515 "WITH DOCKER clean up problem"
### Scenario:
Earthly froze on pulling an image so I had to kill it.

The next run I got this:
[code]

[2020-11-18 19:47] vladaionescu commented on #515
Seems that this is an issue with dind ID cleanup - when Earthly is killed, it doesn't have the opportunity to cleanup after itself. Consistent hashing used for the dind ID (necessary for cache consistency) means that the build uses the same dind dir as before and given that it's not cleaned up, the same docker state as before.

[2020-11-18 20:58] #515 closed

[2020-11-18 20:59] #338 closed

[2020-11-19 11:59] parnham opened #520 "Proposal: option for no caching from a particular target"
The `--no-cache` option forces `earth` to start entirely from scratch, however in some cases you may just want to force no caching from a particular target layer - especially if the earlier layers take a long time to build.

Perhaps something along the lines of
[code]

So using https://github.com/emergent-design/libentity/blob/master/Earthfile as an example:
[code]
In this case the cached layers f

[2020-11-19 16:28] parnham commented on #509
Hi @alexcb,

I may not have fully understood your suggestion but I don't believe it would work for our use cases. Modifying the /etc/hosts file in this way would prevent the developers from pushing/pulling from the remote repos normally.

Additionally they would have to actually commit and push a change before they could determine its effect on other projects. We already have to do this when using

[2020-11-19 21:03] vladaionescu commented on #520
Hi @parnham - we're planning to add a `RUN --no-cache` flag in the future. I know it's not exactly what you're asking for - in your use-case, it would require that you (temporarily) edit your Earthfile. Curious, however, if this would cover your needs.

Alternatively, another way to do what you're asking for might be a flag which uses no cache only for the final target, but does use for everything

[2020-11-19 21:51] parnham commented on #520
The `RUN --no-cache` would work since it could be placed precisely at the point you want to invalidate and that would cascade throughout the remainder of the build.
I'll close this proposal since your suggestion is a viable alternative, thanks.

[2020-11-19 21:51] #520 closed

[2020-11-20 16:41] alexcb opened #522 "allow changing the global config file from the command line via "earth config set ...""
This will make it easier for creating a config file when running via CI.

[2020-11-20 16:58] jornh opened #523 "Support picking up Git SSH port setting from `~/.ssh/config`"
Part of the time I'm in a location which blocks port 22 outgoing. So for Github SSH I'm using port 443 as https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/using-ssh-over-the-https-port suggests.

It would be great if Earthly would pick up the port setting from `~/.ssh/config`. Then I didn't have to configure https with password in the Earthly config and it would "jus

[2020-11-20 21:47] agbell opened #527 "Don't clear ARGS on FROM"
The following behavior is causing me some issues:
[code]
I would expect BLA2 to be set, but it is not:
[code]

[2020-11-20 21:57] agbell opened #529 "Add timestamps to output"
It would be helpful if the verbose flag added timestamps to the output to detect where there are performance improvements needed in an earthfile.

The equivalent of this
```earth --verbose +target | ts -s ```

which produces output like the:
[code]

[2020-11-21 00:38] #527 closed

[2020-11-21 01:25] #496 closed

[2020-11-21 01:25] #529 closed

[2020-11-22 16:06] LuaxY opened #536 "Support multi-platform builds"
Is it possible to support multi-platform (e.g. amd64, arm64, arm v7) image build with `docker buildx` feature?
With docker command, by using compatible builder, we can now provide `--platform` flag to specify target platform.

`docker [buildx] build --platform linux/amd64,linux/arm64,linux/arm/v7 .`

https://docs.docker.com/buildx/working-with-buildx/

[2020-11-24 14:48] agbell commented on #536
Hi @LuaxY, I believe this should be possible and should be a feature we add.  Thank you for submitting it.

[2020-11-24 14:50] agbell opened #537 "Error messages could be less verbose and more clear"
This error:

would be more understandable if it were merely

cc @JensRantil

[2020-11-24 14:52] agbell opened #538 "Error if no base and no blank line"
The following earthfile produces an error:
[code]
If a blank line is added at the top of the file, the error goes away.

[2020-11-24 18:06] agbell opened #539 "Debugger does not work WITH DOCKER"
Given this:
[code]
and this
[code]
The following error occurs:
[code]

[2020-11-24 20:09] alexcb opened #540 "stream docker logs to stdout when running WITH DOCKER under verbose mode"
When running

[code]

it would be nice if one could see the logs of the docker-compose containers.

Currently my work around that 've been using is:

[code]

[2020-11-25 17:43] jazzdan commented on #500
This is becoming a bigger problem for us as we save more images from our Earthly build. I've thought of a couple interim solutions:

1) We just shouldn't make building an image a part of our dev loop, images should only be built for deploys and we should use something like Tilt to update our local kubernetes cluster without having to build images.
2) Have Earthly export the Docker context to a tem

[2020-11-25 19:38] jazzdan opened #542 "`earth --artifact` doesn't fail when copying artifacts that don't exist"
Full repro case [here](https://github.com/jazzdan/earthly-artifact-command)

## Repro steps
1. Clone [this repo](https://github.com/jazzdan/earthly-artifact-command) and `cd` in to it
2. `earth --artifact +no-artifact/foo /tmp/stuff`

### What I would expect to happen
I would expect to get some error that says that foo doesn't exist

### What happens instead
The command appears to succeed, but the

[2020-11-26 07:48] thesobercoder opened #544 "Windows native binaries"
Will there be Windows native binaries at some point?

[2020-11-29 10:11] tafax opened #545 "Passing arg TAG to all builds"
Hi,
I'm trying to set up a monorepo project. This is the structure:
[code]

Earthfile on root
[code]

Earthfile on frontend
[code]

Earthfile on backend
[code]

What I'm trying to do is passing a TAG from the command line. It allows me to calculate the tag and then build my artifacts independently. I run earthly with:
[code]

The error I get:
[code]

What I'm wrongly doing? Do you have any advice?

[2020-11-30 21:46] vladaionescu commented on #544
Yes, but it'll take a while until we get to this.

[2020-11-30 21:54] vladaionescu commented on #545
Hi @tafax - there was an issue with build args before FROM command, which is going to be fixed in the next release: https://github.com/earthly/earthly/pull/531.

As a temporary workaround, you can move the ARG declaration just after `FROM DOCKERFILE`.

I've close this issue since fix is upcoming - but feel free to reopen if you encounter problems.

[2020-11-30 21:54] #545 closed

[2020-11-30 22:50] vladaionescu commented on #500
1. sounds like more likely - could possibly have different Earthly targets for different use-cases?

We probably wouldn't do 2, since the complexity is probably as much as fixing this issue the right way.

[2020-11-30 22:56] jazzdan commented on #500
Yeah that's exactly what we ended up doing. Having one target that we use in dev, and another that `FROM`'s that target that we use in production that does the image exporting.

[2020-12-02 15:57] jazzdan opened #548 "Timings difficult to see with solarized dark terminal font"
This is a bit of a silly problem, but bear with me. :D

When I run `earth --verbose` to see what the timings for the various steps are I am greeted with something that looks like this:

<img width="490" alt="Screen Shot 2020-12-02 at 10 53 06 AM" src="https://user-images.githubusercontent.com/452453/100896603-c9c30880-348c-11eb-9a29-2b7bf6ef446b.png">

I quickly realized that there must be some hi

[2020-12-02 16:00] jazzdan commented on #500
FWIW since I wrote that another engineer on my team took the time to do #2 to make things even faster, so now for images that are on the hot path we `docker build` them outside of Earthly.

[2020-12-02 16:20] agbell opened #549 "Passing in unused ARG does not warn or fail"
If a typo is made in passing in arguments, earth should be able to let the user know they are passing in an unused arg

Use case
[code]

Failure is due to typo in arg name OTP. A warning or an error would be helpful.  A more involved solution would be to suggest that a typo occurred like this:
[code]

[2020-12-02 16:53] agbell opened #550 "Prune specific target caches only"
It would be nice to be able to prune the cache of a specific target only.  Something like:
[code]
Use case: rerunning steps to track down non-determinism

[2020-12-02 23:57] vladaionescu commented on #548
Yeah - I can see how this can be a problem :smile:

Fix will go out with the next release.

[2020-12-03 16:41] alexcb commented on #482
We've been busy behind the scenes doing some yak-shaving, and wrote a new integration test for building against private repos; now that that's in main, we have a new PR that works towards incorporating the buildkit changes: https://github.com/earthly/earthly/pull/518

[2020-12-03 21:06] #548 closed

[2020-12-03 23:00] vladaionescu commented on #500
Oh interesting. Very curious if you can share the script or a snippet here too as a possible workaround.

[2020-12-03 23:09] loganfsmyth commented on #500
We ended up with rules to either build the image or output a docker context via artifacts like this:
[code]
So we can `earth +image-local && docker build -t image-name out/` for faster local-dev iteration.

[2020-12-04 22:48] #375 closed

[2020-12-04 22:50] vladaionescu opened #574 "Proposal: Shared artifact and image caching"
This allows things like:

* Shared caching. CI is allowed to write to the cache. Developers get read-only cache.
* Cloud-based caching for CIs like GH Actions, Circle etc.
* Cache-aware storage of artifacts and images (eg issuing `earth --artifact github.com/foo/bar+target/my-artifact` essentially downloads the readily built artifact if the CI has already built it).

Details TBD

[2020-12-04 22:50] vladaionescu commented on #375
Issue to follow:

* https://github.com/earthly/earthly/issues/11
* https://github.com/earthly/earthly/issues/574

[2020-12-04 23:07] vladaionescu opened #575 "Proposal: Shared secrets"
The ability to use shared secrets (stored in the cloud) during a build.

This feature has been implemented and is now in experimental phase.

[2020-12-04 23:10] vladaionescu opened #576 "Proposal: Support for running Docker commands within Earthly"
This feature has been implemented as part of the `WITH DOCKER` feature. It is currently in Beta.

[2020-12-04 23:12] vladaionescu opened #577 "Proposal: Multi-platform builds"
Details TBD

[2020-12-04 23:19] vladaionescu opened #578 "Proposal: First-party support for AWS credentials"
Automatically pick up credentials from the typical location on the host system and pass them on inside the build environment.

Details TBD

[2020-12-04 23:22] vladaionescu opened #579 "Proposal: Support secrets mounted as files"
Currently secrets are env vars in Earthly. There are many situations where files are preferable.

[2020-12-04 23:25] vladaionescu commented on #489
Hi @eganjs, I have opened the following issues for tracking two separate solutions for this (we will likely implement both):

* https://github.com/earthly/earthly/issues/578
* https://github.com/earthly/earthly/issues/579

I will close this issue in favor of the other two.

[2020-12-04 23:25] #489 closed

[2020-12-04 23:40] vladaionescu opened #580 "Proposal: LOCALLY"
This proposal builds upon a previous (now abandoned) version described in https://github.com/earthly/earthly/issues/167

## Background

Not everything a build system does is suitable for a container. There are certain tasks which are either too cumbersome for a container or Earthly just doesn't support them yet and may never will, for build repeatability reasons.

Because of the above, many Earthl

[2020-12-04 23:41] vladaionescu commented on #167
Closing in favor of https://github.com/earthly/earthly/issues/167

[2020-12-04 23:41] #167 closed

[2020-12-05 00:13] vladaionescu opened #581 "Proposal: User-defined commands (UDCs)"
### Proposal

This proposal includes three key parts:
  * The transition from the syntax `--build-arg XYZ=value` to `--xyz=value`
  * ~The extension of ARGs to allow other types besides the default string type~ EDIT: This part has been abandoned for now.
  * User-defined commands (UDCs). A concept somewhat similar to Earthly targets - they can be referenced across directories and projects and they

[2020-12-05 00:21] vladaionescu opened #582 "Proposal: Heredoc and inline files"
Allow long commands to be specified as [heredoc](https://en.wikipedia.org/wiki/Here_document).

Similarly, allow files to be specified inline via heredoc.

### Example heredoc command

[code]

### Example heredoc file

[code]

### Notes

* The text needs to be indented if it's part of a non-base target. Otherwise the text is interpreted as raw - eg cannot use comments, variables are not expanded.

[2020-12-05 00:39] vladaionescu opened #583 "Proposal: earthlydoc"
### Proposal

Certain comments with a certain format are interpreted as documentation. These comments can be used to auto-generate help text and documentation.

For example:
[code]

In addition, any target (or [UDC](https://github.com/earthly/earthly/issues/581)) that is imported from a different Earthly project (different Earthfile - either different dir or different repo) **MUST** have an approp

[2020-12-05 00:44] vladaionescu opened #584 "Proposal: WITH LAYER"
### Proposal

A way to collapse multiple commands into a single cache layer.

Causes the commands within to be executed all as a single cache layer. If ran again, they would re-execute all of them (if not cached) or none of them (if cached).

### Example

[code]

[2020-12-05 00:46] vladaionescu opened #585 "Proposal: RUN --no-cache"
Introduce a new flag for the `RUN` command which instructs the Earthly to never use cache for it.

[code]

Use-cases:

* Temporarily add this flag in the Earthfile to debug flaky tests
* Otherwise, use in situations where the command needs to actually run every time (eg refresh some credentials)

[2020-12-05 01:02] vladaionescu opened #586 "Proposal: Allow save artifact commands after push commands"
### Background

**Outputting only at the end is limiting**. The principle of “first perform all the build steps, and only after they complete successfully, perform outputting + pushing” is limiting for certain use cases. Examples:
  * `RUN --push` and then `SAVE ARTIFACT` (eg a terraform backup)
  * A case where an artifact publishing tool auto-increments version number on publish, but then that n

[2020-12-05 01:11] vladaionescu opened #587 "Proposal: WITH TRY"
## Motivation

* **Cache layer model doesn’t fit well with networking interaction**. A very simple example is an integration test that uses cloud resources. It might have three steps: provision, test and teardown. If the provision step has been “cached” as a layer, then it wouldn’t run and the test would fail. This can be pretty confusing for the user.
* **Order of pushing cannot be controlled**.

[2020-12-05 01:16] vladaionescu opened #588 "Proposal: SAVE ARTIFACT --if-exists"
### Proposal

Allow saving an artifact only if file exists.

[code]

### Use-case

* Terraform backups

### CC

@dchw

[2020-12-07 16:55] JensRantil commented on #585
Could you maybe share why this would be useful in the description?

[2020-12-07 16:58] JensRantil commented on #574
Are you thinking that this would be a file-based cache? That is, the interface is a shared disk such as NFS?

[2020-12-07 17:00] JensRantil opened #589 "Is --buildkit-cache-size-mb relevant when using --buildkit-host?"
I assume when I use `--buildkit-host`, `--buildkit-cache-size-mb` has no relevance? How about documenting that in `earth --help` output? I assume the applies to `--buildkit-image`.

[2020-12-07 17:02] JensRantil opened #590 "`earth --help` does not really document what `--server` does"
The help text says

What does the API server do? It does not seem to be documented in https://docs.earthly.dev. How does it differ from `--buildkit-host`?

[2020-12-07 17:20] alexcb commented on #590
Thanks for the report @JensRantil , the `EARTHLY_SERVER` is only meant for internal development purposes which is used to access our [experimental secret store](https://github.com/earthly/earthly/blob/main/secret-readme.md), it's not related to the `buildkit-host` in any way.

This flag should have been hidden from our help text, which I've opened a PR to do.

[2020-12-07 19:15] JensRantil commented on #590
Excellent! That makes sense. Thanks!

[2020-12-07 19:49] #590 closed

[2020-12-07 20:39] vladaionescu commented on #589
That's right - on both fronts.

Note that using `--buildkit-host` isn't very well supported at the moment. Curious to hear what your use-case is?

[2020-12-07 20:45] vladaionescu commented on #585
Done

[2020-12-07 21:09] vladaionescu commented on #574
No.. this will be either an Earthly-specific protocol, or something based on BuildKit primitives.

[2020-12-07 22:41] vladaionescu opened #593 "Proposal: Global ARGs"
## Background

@ido-namely reports on Gitter:

[code]

## Proposal

* All args declared in the `+base` target are "global" ARGs. Meaning that they are passed throughout the other targets even if they don't inherit from `+base`. So the following should print "hello world":

[code]

## Possible future extension

Could perhaps prevent this behavior if needed with a `ARG --local TST="hello world"`

##

[2020-12-08 01:12] vladaionescu commented on #539
Fixed in https://github.com/earthly/earthly/pull/592. Will be out in the next release.

[2020-12-08 01:12] #539 closed

[2020-12-08 02:35] MehdiZonjy opened #598 "Support for environments where userns-remap is enabled on docker daemon"
Hi folks

In my build servers (Buildkite) environments, I have userns-remap enabled on  docker daemon configurations

[code]

This causes buildkitd to crash when attempting to start with privileged mode
[code]

The problem goes away when I  remove the `userns-remap` flag
[code]

To my understanding, this is related to [User namespace known limitations](https://docs.docker.com/engine/security/usern

[2020-12-08 18:07] cosminci commented on #574
We use Jenkins with dynamically provisioned workers in AWS. It's reasonable to believe all CI systems will eventually migrate away from persistent worker nodes which sit idle most of the time. :+1: for remote / shared cache as it enables caching for these use cases and between the workers themselves.

[2020-12-08 23:01] #537 closed

[2020-12-09 00:25] vladaionescu commented on #11
Some numbers from remote cache experimentation (tested on `+for-linux` target in Earthly):

[code]

Notes:

* For CI - it doesn't seem to improve performance for this build
* For developer - note that numbers aren't actually improved. If working with a cold local cache, the system will constantly download more and more pieces on each build, leading to total time increased than it would be if devel

[2020-12-09 11:39] JensRantil commented on #167
Recurse :-)

[2020-12-09 17:24] #538 closed

[2020-12-10 23:04] #542 closed

[2020-12-11 01:03] austenadler opened #607 "Proposal: do not exit instantly on error"
Whenever there is a build failure in earthly, the process terminates immediately. It has happened before that a long apt upgrade is interrupted by an unrelated layer build. It would be nice to have an option to complete either as much as possible, or at least all currently running layers before exiting.

Reasoning:

- Speed/efficiency: When debugging a build, long running layers can complete and d

[2020-12-11 14:45] agbell commented on #318
This problem also prevents commenting on long RUN statements which are required by WITH DOCKER, making it hard to document the build process.

[code]

[2020-12-12 02:55] alexcb commented on #482
We just merged a new experimental setting for custom or private repos in our main branch under https://github.com/earthly/earthly/pull/611 It has yet to be documented, but the PR gives an example of how to configure git repos that aren't supported out of the box.

[2020-12-12 09:32] rulatir opened #615 "Feasibility question: migrating from a setup with generated Dockerfiles?"
Earthly "annexes" the realm of image building into the realm of "build-systemming" (for a lack of better term). Is it possible to support a scenario where (under the build system we currently use) some Dockerfiles are generated as part of the build process, and only then are images built from them? Since Earthfiles replace Dockerfiles, we would have to be generating (some) Earthfiles. This effecti

[2020-12-12 16:19] vladaionescu commented on #615
Hi @rulatir - yes, Earthly fits this use-case. You can definitely use generated Dockerfiles within Earthly. Here is a simple example:

[code]

We've seen this approach be popular with users of `sbt`.

For more info on `FROM DOCKERFILE` see the [reference doc](https://docs.earthly.dev/earthfile#from-dockerfile-beta).

[2020-12-12 16:19] #615 closed

[2020-12-13 09:19] rulatir commented on #615
Thanks! I looked into the docs, and sadly current limitations of FROM DOCKERFILE render it unsuitable for my purpose due to lack of `-f` support and the assumption that context dir is the same as the dir containing the dockerfile. One requirement that I set for a build system is that it must handle the current organization of the monorepo, without me having to move things around to put them where

[2020-12-14 14:13] JensRantil commented on #589
@vladaionescu The thing I was investigating was whether I could use `--buildkit-host` to point to a build farm, similar to [Bazel's remove execution](https://docs.bazel.build/versions/master/remote-execution.html). Any thoughts on that?

[2020-12-14 19:15] vladaionescu opened #619 "Support FROM DOCKERFILE -f"
@rulatir requests support for -f in https://github.com/earthly/earthly/issues/615#issuecomment-743977844

* Should be able to specify the Dockerfile to use.
* `-f` should work the same as the `FROM DOCKERFILE` path: it can either be a path within the build context or be an artifact path.

[2020-12-14 19:16] vladaionescu commented on #615
Sounds good - I've just opened this issue to support `-f`, in case you want to track that too. https://github.com/earthly/earthly/issues/619

[2020-12-14 19:20] vladaionescu commented on #589
Got it. We plan to support that in the future - it definitely requires quite a bit of tweaking to get it right. Right now there are a number of places where we make assumptions that things are running on the same host.

If you do end up trying it out, perhaps you can share here any blockers that you encounter.

[2020-12-14 22:21] vladaionescu commented on #11
This has been implemented and results are pretty good especially for inline caching. Docs changes are here https://github.com/earthly/earthly/pull/614 .

This will go out in the next release as an experimental feature.

[2020-12-15 04:05] #598 closed

[2020-12-17 00:07] #333 closed

[2020-12-17 00:10] vladaionescu commented on #84
This has been implemented and will be in the next release.

[2020-12-17 00:10] #84 closed

[2020-12-17 03:33] #318 closed

[2020-12-17 19:42] #593 closed

[2020-12-17 19:42] vladaionescu commented on #593
In `v0.4.0`

[2020-12-17 21:28] vladaionescu commented on #11
A known issue: https://github.com/moby/buildkit/issues/1902

[2020-12-18 18:53] agbell opened #655 "No load option for WITH DOCKER"
This is feedback based on working with the Phoenix project. In containerized environments like githubactions, the docker load that is part of 'WITH DOCKER' actually slows down the build.

Potential Solution:
Have a flag that is passed to earthly that indicates that future local caching will not work and if this flag is passed, do not load docker images for caching. Possibly `--transient`?

[2020-12-18 18:57] agbell opened #656 "Health check for WITH DOCKER"
Docker images support a HEALTHCHECK statement. WITH DOCKER could check health of started images for images that support it.

in dockerfile:
[code]
Check like this:
[code]
Not many images seem to have a HEALTHCHECK set, so this may be a low priority but github actions uses this for services you ask it to start.

[2020-12-18 19:01] vladaionescu commented on #655
This is actually related to the pull+load, right? We could name the flag `--no-compose-pull` - because it't only in the context of compose that `--pull` declarations are inferred.

[2020-12-18 19:04] agbell opened #657 "DOCKER PULL in parallel"
DOCKER PULL of images can make up a significant about of build time in some cases. This is the case for the phoenix project's integration tests.  Since docker pulls are IO bound doing them in parallel would be a significant speed up.

Potential solution:
Perhaps Earthly could detect WITH DOCKERs and start a docker pull of the relevant images in parallel to the build target in question.

[2020-12-18 19:05] vladaionescu commented on #656
This makes sense. I wish docker-compose had native support for this stuff. Then it could enforce startup order with the right waiting included. In any case, I think an addition in Earthly would be pretty useful.

This would only work for `--compose` in the beginning.

If you use `docker run -d` or `docker-compose up -d` manually you'd have to do your own waiting logic commands. Maybe when we suppo

[2020-12-18 19:07] vladaionescu commented on #655
Note that this wouldn't be as big of an issue if https://github.com/earthly/earthly/issues/655 were addressed.

[2020-12-18 19:11] vladaionescu commented on #657
The underlying issue is that we create separate BuildKit builds for every single container. These builds are sequential currently.

I believe the best way to fix this is to go straight to the underlying cause: add a feature in buildkit that allows the creation of Docker tar images within a build (and not part of an export). This would allow us to unify the builds required for `WITH DOCKER` loads t

[2020-12-18 19:14] agbell commented on #655
Yes, I want
[code]
to be equivalent to
[code]
The idea for an earthly cli flag is that there may be other places where if earthly knew that local caching wasn't an option, it could make different choices.  I'm not sure what those are though :) but it lets the user communicate that they are running in a place where local caching won't help.

[2020-12-18 20:40] vladaionescu commented on #331
Seems that the ST2 syntax needs to be converted to ST3 syntax according to https://github.com/wbond/package_control_channel/pull/8060#issuecomment-743804904. (Apparently there's an automated process for the translation - it just needs to be used from an ST3 installation).

Any contributions here are welcome!

[2020-12-19 01:25] vladaionescu commented on #657
This is dependent upon https://github.com/moby/buildkit/issues/1914

[2020-12-22 15:12] Esardes opened #671 "EARTHLY_GIT_PROJECT_NAME value changes on remote ci"
at least in 0.3.8 value would be `repo/project`, now prints something along the lines of `[MASKED]@gitlab.com/repo/project`, but somehow only gitlab.com
local behavior hasn't changed
we use Earth to make sure we have the same behavior locally and on the CI, any idea how this is possible?

[2020-12-22 17:12] alexcb commented on #579
This is being worked on in https://github.com/earthly/earthly/pull/654

[2020-12-22 19:22] alexcb commented on #671
Thanks for the bug report @Esardes ,

I was able to reproduce it with this Earthfile
[code]

and this `.earthly/config.yml`:
[code]

working under v0.3.8:
[code]

but under v0.4.1:
[code]

it's now displaying the git password credentials in the project name. This is definitely a bug and i'll work on a fix.

[2020-12-22 21:31] #671 closed

[2020-12-23 00:59] vladaionescu commented on #577
This is a duplicate of https://github.com/earthly/earthly/issues/536

[2020-12-23 00:59] #577 closed

[2020-12-23 20:47] vladaionescu opened #675 "Proposal: Adjust ~/.earthly/config.yml via command line"
### Proposal

Similar to how `git` is able to adjust its config using commands like

[code]

Earthly should have a similar ability.

[code]

### Use-cases

* Configuring sandboxed CIs like GitHub Actions, Circle CI and Travis CI. It's easier to just have a few `earthly config` lines in the script than have to define checked-in config.json that is then copied in the right location during the build.

[2020-12-24 12:56] visciang opened #676 "WITH DOCKER - possible regression in v0.4.2"
Issue seen in `v0.4.2`, it works as expected in `v0.4.1`.

It seems the loaded image (`WITH DOCKER --load external-image:latest=+external-image`) is not available in the docker-compose "context".

To reproduce the issue:
https://github.com/visciang/issue-earthly-docker-compose

[code]

[2020-12-24 13:11] agbell commented on #676
Thanks for finding this @visciang.

I can reproduce the issue. ``--load`` is not required in this case, it will load regardless.  Nevertheless the same issue is encountered without the load in v0.42.

[2020-12-28 18:23] vladaionescu commented on #536
Experimental support for multi-platform builds is available in `v0.4.3`. Here is a simple example: https://github.com/earthly/earthly/blob/main/examples/multiplatform/Earthfile .

If you try this feature out, I'd be very curious about your experience with it - either here or on our Slack.

[2020-12-28 18:26] vladaionescu commented on #676
Thanks for the report @visciang. It seems that this no longer reproduces on the main branch. `v0.4.3` (just released) should fix this for you.

[2020-12-28 18:26] #676 closed

[2020-12-28 18:35] visciang commented on #676
Tested right now on "the real thing" and it works as expected.
Thank you @vladaionescu !

[2020-12-28 21:00] LuaxY commented on #536
Tested on my project, work perfectly, big thanks!!

Question about local artifacts, example:

`main.go`
[code]

`Earthfile`
[code]

This will build binary for each platform but also override the local artifcat

[code]

The final binary is the last platform stage to finish the `SAVE ARTIFACT`

[code]

This is the intended behavior? or there is a way to control the artifact name depending the platfo

[2020-12-28 21:28] vladaionescu commented on #536
Great!

There are four new built-in args available, which you can use for this:

* `TARGETPLATFORM`
* `TARGETOS`
* `TARGETARCH`
* `TARGETVARIANT`

You need to predeclare them before using them:

[code]

So in your example, you could have

[code]

[2020-12-28 21:59] LuaxY commented on #536
Perfect thank you!

[2020-12-29 06:12] edmondo1984 opened #678 "Document how to configure caching to use in CI/CD"
Many modern CI/CD platform execute different steps of the pipeline in a container and provide support for a persistent folder that one can use to pass data from one container to another one. Using Earth.ly to run multiple steps inside a build, or across builds, need to configure where the cache resides (an S3 bucket?) and I could not find any documentation about it

[2020-12-29 18:06] vladaionescu commented on #678
Hi @edmondo1984 - there is native caching support within Earthly, documented here: https://docs.earthly.dev/guides/shared-cache. This uses a Docker registry as the cache storage. This is a relatively new feature and in experimental stage, that's why it's not yet propagated throughout the rest of the docs just yet.

The caching features that CI systems provide themselves are not performant enough f

[2020-12-29 18:06] #678 closed

[2020-12-30 18:38] vladaionescu opened #679 "Error: i/o timeout"
This error seems to be cached at the buildkit level, preventing the build from continuing.

[code]

### Workaround

Run `docker stop earthly-buildkitd` and then re-issue the build.

### Possible relation

This may be very similar to this issue previously fixed: https://github.com/moby/buildkit/pull/1728.

Underlying buildkit issue: https://github.com/moby/buildkit/issues/1928.

[2020-12-30 18:38] vladaionescu opened #680 "Error: i/o timeout"
This error seems to be cached at the buildkit level, preventing the build from continuing.

[code]

### Workaround

Run `docker stop earthly-buildkitd` and then re-issue the build.

### Possible relation

This may be very similar to this issue previously fixed: https://github.com/moby/buildkit/pull/1728

[2020-12-30 18:39] vladaionescu commented on #680
Duplicate of #679

[2020-12-30 18:39] #680 closed

[2020-12-30 21:32] visciang opened #681 "Token recognition error when Earthfile ends with a commented line"
To reproduce: https://github.com/visciang/issue-earthly

[code]

[2021-01-03 11:02] ohadravid opened #685 "`WITH DOCKER` with multiple --load from same target doesn't load images properly"
Hi!

I'm facing an issue when using `WITH DOCKER` with multiple images which are loaded from a target with the same name.

Running ` earthly -V -P +test` (using `earthly version v0.4.3`) for the following `Earthfile` (in an empty folder):

[code]

results in:
[code]

where the expected output should show both `a` and `b` images.

My workaround for now is this:
[code]

which seems to work as expect

[2021-01-04 21:34] #681 closed

[2021-01-05 15:35] jazzdan opened #688 "Built-in Build Arg for If a Git Repo is Dirty"
I see a couple of earthly environment variables for git things, like EARTHLY_GIT_HASH and EARTHLY_GIT_ORIGIN_URL. It would be nice to have one that could be used to tell, during a build, if the git repo is "dirty". We use this to mark artifacts that are produced from the build. For example instead of tagging an image with a git commit, if the repo is dirty, we will also append a `-devel` suffix to

[2021-01-05 16:09] jazzdan opened #689 "SAVE ARTIFACT ./* AS LOCAL not capturing all files"
## Repro steps
1. `git clone https://github.com/jazzdan/earthly-tons-of-artifacts.git`
2. `cd earthly-tons-of-artifacts`
3. `earthly +docker-setup`

## What I expected to happen
The Earthfile copies everything from `lib` in to the image (`COPY lib/* .`) then saves everything in the current working directory in to the out directory. `out` should be exactly the same as `lib` after `earthly` runs.

#

[2021-01-05 21:48] vishnugt commented on #331
![image](https://user-images.githubusercontent.com/7014475/103703453-96b0ef00-4fcd-11eb-8437-9a6a09b72a61.png)

Package control PR merged.  The package is now available in Sublime 🎉
All further changes can be done in our repo itself

[2021-01-05 22:04] vladaionescu commented on #331
Yaaaay!! Thanks for shepherding this through, @vishnugt!

For installation instructions, would something along the lines of this be accurate? https://www.storybench.org/install-babel-packages-sublime-text-3/ (been a while since I used ST2/3).

[2021-01-05 22:15] vishnugt commented on #331
Yeah, pretty much, we don't need that "Activate" part mentioned that in the wiki. Once the package is installed, it will automatically pick up the EarthFiles and will do syntax highlighting by default.

Steps:
1.  Press Ctrl+Shift+P, it will bring up a menu, select ”Install Package control".
2.  Press Ctrl+Shift+P again, you should see additional options, select "Package Control: Install Package"

[2021-01-05 22:19] dchw commented on #689
Yeah; this is weird. the trouble is that `./*` ends up including subdirectories; and those end up triggering logic to remove a folder. The files you are seeing are the ones in the last subdirectory that was processed.

I've got a fix; but in the interim a workaround could be to save the whole directory as a local artifact in the last target, like this:

`SAVE ARTIFACT . AS LOCAL out/standalone/`

[2021-01-05 22:22] jazzdan commented on #689
Thanks @dchw! The fact that there were so many files in that artifact was actually a sign that we accidentally included way too much stuff in it (including those subdirectories), so we were able to work around it by removing all those extra files.

But I figured I'd put this on your radar anyways. :)

[2021-01-05 22:32] vladaionescu commented on #300
We now release arm binaries and also we support multi-platform builds via https://github.com/earthly/earthly/issues/536.

I'll close this issue so we can track this feature in #536 instead as they are strongly interconnected. This is an experimental feature for now - please leave any feedback in #536.

[2021-01-05 22:32] #300 closed

[2021-01-05 23:53] #685 closed

[2021-01-06 01:22] #689 closed

[2021-01-06 17:09] dchw opened #693 "Proposal: Ability to drop to an interactive shell via Earthfile"
Introduce a new command that triggers the interactive debugger as a step. Once the shell session is complete; aggregate all changes made in the container and continue execution (including the modifications).

Here are the options I have thought of for syntax:

[code]

[code]

## Use-cases:

* Explore problematic containers that otherwise build fine with Earthly
* Debug at any state
* Allow manual

[2021-01-06 18:09] vladaionescu commented on #693
Another possible syntax could be

[code]

Then you could also run arbitrary programs directly. Like `RUN --interactive python` or `RUN --interactive node`.

Possible extension: in interactive mode, also allow bind-mounting any local folder. This could enable watch mode use-case for front-end developers.

[2021-01-06 23:45] vladaionescu commented on #331
Installation instructions updated. This is now complete.

Many thanks for bringing this to life, @vishnugt !! :raised_hands: :rocket: :100:

[2021-01-06 23:45] #331 closed

[2021-01-08 00:49] jmn opened #698 "rpc error: code = Unavailable Push to Google Artifact Registry"
I'm trying to configure earthly to push to Google Artifact Registry (GAR). I used the gcloud docker helper to authenticate to my service account.

I tried using the following:
` SAVE IMAGE --push europe-north1-docker.pkg.dev/myprojectname/myreponame/jmnoz/tide-tera:latest`

Unsure if this is the correct syntax to use.

I had success using docker to push the image using the following commands:
[cod

[2021-01-08 00:52] jmn commented on #698
[error.txt](https://github.com/earthly/earthly/files/5784621/error.txt)

[2021-01-08 08:20] jmn commented on #698
I honestly don't know if I looked in the wrong place or what was wrong yesterday becacuse now everything works (local and github actions)! :slightly_smiling_face:

[2021-01-11 11:00] dvic commented on #698
I'm also having this issue sometimes, but with Github Container Registry. Sometimes certain targets fail with ` Error: build target: build main: bkClient.Build: failed to solve: rpc error: code = Unavailable desc = transport is closing` in the `exporting cache` step. Any idea how to debug this? Maybe related to https://github.com/moby/buildkit/issues/1491 ?

[2021-01-11 11:03] dvic commented on #698
The problem might be solved by upgrading buildkit, because currently v0.7.1 is used and the fix for moby/buildkit#1491 (moby/buildkit#1468) landed after v0.7.1.

[2021-01-11 22:38] vladaionescu commented on #698
This not related to https://github.com/moby/buildkit/issues/1491 AFAICT. We're also not actually on `v0.7.1` of buildkit - we use this https://github.com/earthly/buildkit fork, which we regularly update with buildkit master.

If you are having a similar issue, would you mind posting a clean `docker logs earthly-buildkitd` together with build output and possibly your Earthfile, if there's anything

[2021-01-11 22:48] vladaionescu opened #702 "Integration tests for pushing/pulling for all major registry vendors"
We need integration tests for all major registry vendors:

* `registry:2` Docker image (precedent exists here: https://github.com/earthly/earthly/blob/main/examples/tests/remote-cache/test.sh)
* ACR
* ECR
* GCR
* GitHub registry

[2021-01-11 23:11] jazzdan opened #703 "Weird AS LOCAL behavior with directories"
Working from this [simple sample repo](https://github.com/jazzdan/earthly-as-local-weirdness), with an Earthfile that looks like this:

[code]

When I run `earthly +everythings-flat` I would expect to get a multi level file tree in `out/standalone` that mirrors what is in the repo:

[code]
. Instead what I get is this:

[code]

Only the leaf node files get copied over, none of the directory struct

[2021-01-12 10:48] hbenl commented on #703
Maybe the `SAVE AS LOCAL` command should have a `--dir` option like the `COPY` command, just to make it more consistent. If you add this option, please also add a warning to the command's documentation that if you write a `SAVE AS LOCAL` command that references more than one item (either explicitly or using wildcards), at least one of which is a directory, then you most probably want to add the `-

[2021-01-12 11:33] hbenl opened #705 "Inconsistent COPY --dir behaviour"
In some situations, `COPY --dir` seems to ignore the `--dir` option or applies it only to some of the source arguments.
To reproduce, create the following file structure:
[code]
with the following Earthfile:
[code]

Here's the result with different `COPY` lines (and sometimes an additional `RUN` line):
* this ignores the `--dir` argument entirely:
[code]
* but this works:
[code]
* it also works if

[2021-01-12 12:26] dvic commented on #698
Ah sorry, my bad. When I added another `SAVE IMAGE` the error went away and now I can't reproduce it anymore. I'll post the logs as soon as I get the error again (this has happened in the past some times, I change something in the Earthfile and the error does not occur anymore).

[2021-01-12 18:31] vladaionescu commented on #705
The intention for `COPY --dir` is that it behaves similarly to a `cp -r`, with the key distinction that `COPY --dir` also creates the parent destination dirs if necessary.

The trailing `/` is meant to signal Earthly that the destination is a directory where the contents should be placed in.

So all the examples you provided work as intended, with the exception of one. And that is

[code]

This is

[2021-01-12 19:31] vladaionescu commented on #703
The intention was to always behave as if it had the `--dir` option enabled. This is what the fix we've developed achieves. Hopefully that clears up the behavior. We'll likely make some additional mentions in the docs about the actual behavior.

[2021-01-12 20:01] agbell opened #707 "Include secrets when RUN --secrets is run"
To run a command with a secret ENV set, I need to specify it twice, once when I run earthly and once when I run the command.  It would be useful if there were a terser syntax.

Now:
[code]

[code]

Potential Simplification:

[code]

[code]

[2021-01-12 20:44] vladaionescu commented on #707
This has the disadvantage that the build is less readable - it's less clear which secrets are actually used.

An alternative, which simplifies the usage is registering [cloud secrets](https://docs.earthly.dev/guides/cloud-secrets). With that, secrets are only referenced in the Earthfile only.

[2021-01-12 22:14] #705 closed

[2021-01-13 01:02] alexcb opened #708 "GIT CLONE command not working with private repos"
Consider an Earthfile like:

[code]

I can run `earthly +public` without any issues; however when I try to run it against my private repo with `earthly +private`, it fails with:

[code]

This is with  `~/.earthly/config.yml`:

[code]

however the auth works when I reference the git repo on the command line via: `earthly gitlab.com/alexcb/privproj+docker`

[2021-01-13 01:05] vladaionescu commented on #708
I see two issues here:
* `gitlab.com/alexcb/privproj` doesn't look like a valid git URL
* I don't think we should be using the git auth configured in Earthly for the `GIT CLONE` command. But perhaps there are good reasons to support this.

[2021-01-13 02:24] alexcb commented on #708
I changed my earthfile to:

[code]

[2021-01-13 02:30] alexcb commented on #708
here's a potential test-case showing this issue: https://github.com/earthly/earthly/pull/709

[2021-01-13 03:19] vladaionescu commented on #708
BTW, I realized that our docs say that we support this.

[2021-01-13 03:45] #703 closed

[2021-01-13 04:05] dchw commented on #703
Another thing to note here that seems to have caused some confusion is the `COPY qux .` In a Dockerfile COPY; it doesn't copy `qux`, but instead copies the contents of `qux` into the current directory.

Though weird; I think it was amplified by the bug. Like @vladaionescu said, we are going to add some docs around these semantics so its clearer what to expect.

[2021-01-13 15:07] dvic commented on #698
@vladaionescu It has happened again, I could not replicate it on my local machine just on the CI so have tried to capture the relevant parts of the log (it's a private project so unfortunately I can't share the whole log right now). It looks like there is an infinite loop in `github.com/moby/buildkit/cache/remotecache/v1.marshalItem` / `remotecache/v1/utils.go`? I haven't had a look at the code ye

[2021-01-13 18:52] vladaionescu opened #710 "Document GCR and ECR credential helpers"

[2021-01-13 18:54] vladaionescu opened #711 "Support linux-native packages"
* [ ] Apt-get package (we should provide our own Earthly PPA)
* [ ] Yum package
* [x] Arch user repo

[2021-01-13 18:54] vladaionescu commented on #711
PackageCloud.io provides hosting for free.

[2021-01-13 19:21] vladaionescu opened #712 "Remote cache panic"
@dvic reports in https://github.com/earthly/earthly/issues/698#issuecomment-759509566

[code]

[2021-01-13 19:21] vladaionescu commented on #698
This looks like a different issue altogether. I've moved your issue here: https://github.com/earthly/earthly/issues/712

[2021-01-13 19:22] vladaionescu commented on #712
Question: do you use the new experimental [shared caching](https://docs.earthly.dev/guides/shared-cache) features? (eg the `--ci` flag)

[2021-01-13 19:30] dvic commented on #712
Yes, this is the command that is used `./earthly.sh --debug --ci -P --push --build-arg RELEASE_TAG=$GITHUB_SHA +release` (the `-P` is actually not needed here, I copied it from the test target run)

[2021-01-13 19:50] vladaionescu commented on #712
Got it - this looks like it's definitely related to shared caching then. It's a buildkit bug - I've documented it here: https://github.com/moby/buildkit/issues/1902. We're trying to reproduce this more consistently and hopefully we'll get to the bottom of it.

Is your CI on the latest Earthly (`v0.4.4`)?

[2021-01-13 19:50] dvic commented on #712
Yes we're on `v0.4.4`

[2021-01-13 19:52] dvic commented on #712
I have by the way the exact same pipeline as described in moby/buildkit#1902:
[code]

[2021-01-13 19:55] vladaionescu commented on #712
Interesting. When I originally wrote that bug report, I thought it's a recipe for reproducing consistently - but I later found out that's not the case. I've not seen it happen in a long time in our builds.

If you find a way to reproduce consistently in a small example that you can share, by any chance, it would help tremendously.

[2021-01-13 20:12] dvic commented on #712
Sure, I'll try to extrapolate a sharable example from our build. By the way: locally running `docker stop earthly-buildkitd` before I run the command "solves" the problem (temporarily probably). So does it actually have to do with the remote cache? I thought the --remote-cache was not the same as --ci (which is --use-inline-cache and --save-inline-cache, right?)

[2021-01-13 21:49] vladaionescu commented on #705
This is now released in `v0.4.5` and reference docs now include some examples about the behavior. Any feedback is appreciated!

[2021-01-13 21:49] vladaionescu commented on #703
This is now released in `v0.4.5` and reference docs now include some examples about the behavior. Any feedback is appreciated!

[2021-01-13 21:53] vladaionescu commented on #712
Yeah, it's using the same engine under the hood. Our inline cache flags use the remote cache functionality in buildkit (and so does `--remote-cache`).

[2021-01-13 22:10] dvic commented on #712
Clear, I've been running a few builds now and have not encountered the issue anymore. What I did do though is replace all

[code]

with

[code]

Just guessing here, but can this maybe be the cause of the issue? (something going wrong with the glob and the caching layer?)

[2021-01-13 22:17] vladaionescu commented on #712
Wouldn't think it should make a difference, but you never know! I could never get it to consistently reproduce - but it's there for sure.

[2021-01-13 22:34] dvic commented on #712
Ok long shot in the dark here but just to be sure:

https://github.com/moby/buildkit/blob/08e901325b526c1a7fcc43f71a19a273053b6f2c/cache/remotecache/v1/utils.go#L279-L283

These loops look very "suspicious" to me because I've been bitten too many times with Go and using these kind of range loops with pointers, could the problem be here? It would explain the difficult reproducibility of the bug.

I

[2021-01-13 22:50] dchw commented on #703
Here are those docs @vladaionescu mentioned, for posterity:

* https://docs.earthly.dev/earthfile#examples

[2021-01-15 00:47] vladaionescu commented on #710
This is now complete: https://docs.earthly.dev/guides/pushing-and-pulling-images-with-cloud-providers

[2021-01-15 00:47] #710 closed

[2021-01-15 00:48] vladaionescu commented on #578
This is no longer needed as there is a pretty good way to use AWS credentials via the AWS credential helper for Docker: https://docs.earthly.dev/guides/pushing-and-pulling-images-with-cloud-providers

[2021-01-15 00:48] #578 closed

[2021-01-16 16:59] dvic commented on #712
By the way: since I've changed the `COPY +my_target/* /dst` lines (what I mentioned previously) I hadn't had a single occurrence of the problem (not sure if it has to do anything with it but I thought I'd mention it).

[2021-01-18 19:25] alexcb opened #719 "support for referencing generated earthfile targets"
Similar to our support for referencing generated dockerfiles (e.g. https://github.com/earthly/earthly/edit/main/examples/tests/gen-dockerfile.earth ) we had a request to do this with Earthfile. Here's an example:

[code]

using `BUILD +mytarget FROM +gen-earthfile` seems odd since when we want to do `FROM +mytarget FROM +gen-earthfile` it seems confusing with the multiple FROMs; using `LOAD +gen-e

[2021-01-18 20:53] alexcb commented on #719
Here's a rather contrived example of a work-around to perform something similar (using earthly-in-earthly):

running `earthly -P +eine` will run a python script that generates a new Earthfile, then shells out to a containerized version of earthly which is invoked via our '/usr/bin/earthly-buildkitd-wrapper.sh' script:

[code]

However this limitation doesn't allow pushing the generated targets.

[2021-01-19 15:26] dvic commented on #712
update: it's happening again, so that `/*` stuff is definitely not the cause.

[2021-01-19 18:20] vladaionescu commented on #719
Perhaps this can be a little more general, to allow either `BUILD`, `COPY` or `FROM` to reference a generated build context (not just the Earthfile, but also the files around the Earthfile that can be used to copy from).

Maybe something like this:

[code]

[2021-01-19 18:23] vladaionescu commented on #719
BTW re workaround:

We also have a released Docker image for this, to help with the build speed: `FROM earthly/earthly:v0.4.5`

[2021-01-21 00:33] vladaionescu opened #722 "Apple M1 support"
The following issues remain:

- [x] Not clear which architecture buildkit is being run as. Best if we print the output of `uname -m` at the beginning of the logs.
- [x] The platform each target executes as is not very obvious (only shown once per target). We should show this for every RUN command to improve its visibility.
- [x] `WITH DOCKER` does not work. Some network-related error prevents dock

[2021-01-21 14:46] kevinkjt2000 commented on #707
Cloud secrets may not be a possibility for some projects. Imagine laws/regulations that enforce storage of secrets to particular systems, relying on a cloud for privileged information that is outside of those systems could be illegal.

As for this issue, I don't know how I feel about exposing all secrets to a command when some may want to be more selective about which secrets go to which commands.

[2021-01-21 14:50] kevinkjt2000 commented on #707
Maybe there needs to be a `SECRET` command? Imagine this scenario:

[code]

Other targets could then base off of that.

[2021-01-21 15:12] kevinkjt2000 commented on #341
Is this done already?

[2021-01-21 15:21] kevinkjt2000 opened #724 "Good First Issues?"
I was looking at ways that I could contribute to this amazing project, but it seems that many of the good first issues were completed during hacktoberfest. Where would someone new start currently?

[2021-01-21 15:27] agbell commented on #341
Hey @kevinkjt2000, I believe it is. Good catch.

[2021-01-21 15:27] #341 closed

[2021-01-21 15:33] #344 closed

[2021-01-21 15:36] agbell commented on #724
Hi @kevinkjt2000,

That is great, we are happy to have you.  I've cleared the assignees from some of the first-issue tickets that look abandoned. Does that help.  Feel free to jump on our slack channel to chat more about how you can contribute.

[2021-01-21 16:04] brbrown25 commented on #707
@kevinkjt2000 I really like those suggestions. I feel like it would be a pretty intuitive and reduce the repetition.

[2021-01-21 18:28] dchw commented on #722
You know I want to talk you out of more shelling out; why is using the `runtime` arch in the buildkit binary not acceptable here too? Or whatever the manifest says it is?

Crazy idea: add an API endpoint of some kind to it that we can query for statistics and other debug info.. like this?

[2021-01-21 18:38] vladaionescu commented on #722
Oh - for this I was thinking of placing the `uname -m` in our buildkit [`entrypoint.sh`](https://github.com/earthly/earthly/blob/main/buildkitd/entrypoint.sh). That way we don't actually have to modify buildkit itself for this.

I like the API endpoint idea - might require significant work though.

[2021-01-21 18:47] vladaionescu commented on #707
What would the behavior be?

Would

[code]

be equivalent to

[code]
?

[2021-01-21 20:18] dchw commented on #722
Great idea; I am down for that

Yep. Hence the crazy idea... someday maybe

[2021-01-21 21:08] kevinkjt2000 commented on #707
Exactly what I was picturing, and I'll elaborate further:

[code]

[2021-01-21 21:10] kevinkjt2000 commented on #724
When I get a minute I'll totally jump in Slack and introduce myself. I absolutely love what Earthly is doing! <3

[2021-01-21 21:10] #724 closed

[2021-01-21 23:46] vladaionescu commented on #707
Makes sense - and by `SECRET X=override` assume that override can be a secret path like `+secrets/something/something` and not a literal string (for consistency).

[2021-01-22 00:12] vladaionescu commented on #707
Hey @kevinkjt2000 - would you like to work on this issue yourself? I remember that you asked about possible issues to contribute to.

I would start with your [first proposal](https://github.com/earthly/earthly/issues/707#issuecomment-764693208) as the changes will be easier I imagine.

After that, you could add `SECRET` as a separate PR. That one might be a little more difficult. We have this [var

[2021-01-23 00:12] alexcb commented on #580
We just merged https://github.com/earthly/earthly/pull/725 into our main branch which implements a new `LOCALLY` keyword to support this.

Here's an example:

[code]

then when you run `earthly +both`, one should see something similar to:

[code]

[2021-01-24 18:07] rulatir commented on #580
Why does step1 say `FROM busybox:1.32.1`? Does this mean the step is not **truly** performed on bare metal, and instead precious seconds are taken to spin up a "pretend local" busybox container and upload potentially huge context?

My main interest in this feature was about performance. Earthly's DSL is great. I wouldn't have spent the last month writing an in-house build system from scratch if I

[2021-01-25 08:52] sascha-wolf commented on #581
As a user I'd like to give my (maybe naive) perspective on this proposal. 🙂

First of all I'd really like the option to execute a series of pre-defined earthly commands, as that would enable me to define a common set of targets which could be reused across multiple projects. Similar to how CircleCI orbs allow me to reuse build steps.

There is one observation I'd like to share though:

## Implicit

[2021-01-25 16:19] alexcb commented on #580
Good catch @rulatir , we're using `busybox:1.32.1` in our implementation detail in order to maintain a compatible dependency graph that we feed into buildkit; technically the only thing busybox executes is the `true` command; while the actual command from the Earthfile gets executed in the local baremetal system. I'll work on the output to see if we can omit that from the logs as it's rather confu

[2021-01-25 18:57] vladaionescu commented on #581
You raise some very relevant points @sascha-wolf.

I like the general direction although don't necessarily agree 100% with everything. Some remarks:
* When defining a target to be exported it is not immediately obvious to the reader whether it's a UDC or a regular target. I realize that the lower-case vs upper-case convention requires prior knowledge, but it's better than nothing.
* I like the ide

[2021-01-25 20:51] agbell commented on #581
I like the Dhall idea @sascha-wolf!

how would `INLINE` work with arguments?

`INLINE` implies to me that declaring an arg before `INLINE` or in the first line of whatever was inlined would be equivalent and that you would pass in arguments by declaring a number of args before calling.

[code]
would become

[code]
I like the first syntax because it makes UDCs feel like built-in commands  (`RUN`, `

[2021-01-25 21:15] rulatir commented on #580
What really matters is whether the busybox spin-up and execution of the `true` command are synchronous, i.e. "awaited" for before the building of the `LOCALLY` step can complete. If this is the case, then we still have a slow container spin-up on the critical path. Can we avoid that?

I'm not entirely sure I understand the "compatible dependency graph" consideration. Is it because the nodes in the

[2021-01-25 22:25] alexcb commented on #580
That's correct. Theoretically it would be possible to remove this constraint; however, at this time it's a much bigger refactor of the buildkit code than we wish to take on. None of the `LOCALLY` `RUN` commands are cached, so they should all be executed.

If you're interested in how I made it work under the hood it's best to look at my PRs in https://github.com/earthly/earthly/pull/725 and https:/

[2021-01-25 22:39] vladaionescu commented on #581
I was thinking that `INLINE` would not necessarily change anything regarding parameters are passed. It can still be `INLINE +MY_COPY ./from ./to`.

[2021-01-26 18:14] agbell commented on #581
We are now thinking about changing this based on feedback from @sascha-wolf and further discussions with @vladaionescu, @alexcb and @dchw.

Summary:
 * `IMPORT` remains the same
 * User defined commands must be in capitals and contain `USER COMMAND` as the first line
 * User Commands are called with the word `DO`

That would mean the example would become:
[code]
Usage
[code]

`DO` and `USER COMMAN

[2021-01-28 22:45] #585 closed

[2021-01-28 22:48] dchw commented on #702
This was completed in #720

[2021-01-28 22:48] #702 closed

[2021-01-29 15:32] mxey opened #744 "SAVE IMAGE --cache-hint fails if not using --no-output"
If I use `SAVE IMAGE --cache-hint` in an Earthfile, earthly will fail, unless I run it with `--no-output`

Earthfile with minimal reproduction:

[code]

[code]

[code]

[2021-01-29 20:46] #744 closed

[2021-02-04 18:36] lpil opened #760 "Podman support"
Hello! This is a very cool project, I'm excited to give it a try

I use [podman](https://podman.io/), Red Hat's drop-in replacement for docker that is easier to install, doesn't require root, and is more secure.
Is it possible to use Earthly with podman? In the installation instructions it explicitly says docker is required.

Does Earthly talk to the docker daemon itself? If it uses the docker com

[2021-02-04 18:43] lpil commented on #760
[code]

Alas, while it does use the CLI it doesn't work due to an explicit check.

[2021-02-04 19:01] alexcb commented on #760
Does running earthly with the verbose and debugging flags give any extra information?

Can you try running `earthly -VD github.com/earthly/hello-world:main+hello`; followed by checking the `earthly-buildkitd` container for any additional logs: `docker logs earthly-buildkitd`

[2021-02-04 19:11] dchw commented on #760
Hi @lpil! That is indeed part of our compatibility checking, which invokes a series of `docker security` commands. Podman has no such commands.

We use it to check for instances when people are running `docker` with User Namespaces, or in Rootless mode. Both of those modes prohibit privileged containers, which we use to run docker-in-docker. That said, it looks like there is additional incompatibi

[2021-02-04 19:14] lpil commented on #760
@alexcb Here is the output of those commands

[code]

[code]

[2021-02-04 19:14] vladaionescu commented on #760
I think it may be possible to implement support for podman at some point. I'll turn this issue into a proposal and put it in the roadmap to see if it gains traction to prioritize it.

[2021-02-04 19:14] lpil commented on #760
Thank you

[2021-02-04 19:34] dchw commented on #760
Little bit more info I found when investigating if it were possible after the compatibility checks:

Running it directly gives the following:
[code]

And running it with `podman`s `--privileged`:
[code]
But it will start when `podman` is invoked with `sudo`, implying its some additional permissions things.

[2021-02-04 20:35] vladaionescu commented on #760
Ah interesting - indeed it seems to be tied to privileged mode. Perhaps a rootless mode would allow it to work.

If it doesn't automatically switch to overlayfs with privileged or rootless, we can try to force it. Native can get extremely slow.

[2021-02-05 20:04] vladaionescu commented on #679
This has been fixed by the buildkit team.

[2021-02-05 20:04] #679 closed

[2021-02-06 00:59] alexcb commented on #580
We merged additional support for copying local files and directories from a LOCALLY target into a container in https://github.com/earthly/earthly/pull/758

This PR also allowed us to remove the dependency on calling `true` under `busybox` as we now create a fake empty snapshot for cases where no files are copied.

[2021-02-06 02:05] vladaionescu commented on #722
This is ready to graduate to Beta status on the next release.

[2021-02-07 16:15] catacgc opened #770 "Option to reference the build context in a remote build target"
For an example project with this layout:

[code]

Whenever you build another target, is there any option to reference the caller Earthfile context?

[code]

And then:

[code]

[2021-02-08 18:31] vladaionescu commented on #770
Hi @catacgc - I believe what you're looking for is our upcoming UDC feature #581. I'll close this as duplicate, but feel free to ask more questions if needed.

[2021-02-08 18:31] #770 closed

[2021-02-08 19:58] raphinesse opened #772 "Starting any containers during build fails"
First time user here. I was very excited when I read about earthly, but unfortunately nothing is working for me so far.

If I run `earthly +foo` using the following `Earthfile`:

[code]

I get this output:
[code]
Changing the base image or the commands to be run does not seem to change anything.

Building and running the corresponding `Dockerfile` works just fine:
[code]

### Environment

- Host O

[2021-02-08 20:53] vladaionescu commented on #772
Hi @raphinesse, I'm not seeing anything obvious that may be causing this.

Can you provide the output of

[code]
[code]
[code]
[code]

Do you know if `userns-remap` is enabled for your Docker daemon?

Also, can you try to see if the issue goes away with any of these?
* `docker stop earthly-buildkitd` and re-run `earthly +foo`
* `earthly prune --reset`
* `docker stop earthly-buildkitd; docker syste

[2021-02-08 21:33] raphinesse commented on #772
The system restart was the first thing I tried and it actually resolved the issue. Thanks for the quick response and sorry for the bother.

FYI: I remembered that I hit Ctrl-C on on my very first run of earthly during
[code]
because I thought it was stuck. Maybe that broke something.

[2021-02-08 21:33] #772 closed

[2021-02-08 21:40] vladaionescu commented on #772
Interesting - good to know! We should probably provide some progress update for the download of the buildkit image.

[2021-02-10 18:36] vladaionescu opened #779 "Proposal: Flow control structures (IF and FOR)"
# IF / IF ELSE

## Use-cases

* Ability to switch between FROM <something> and LOCALLY based on a build arg. This allows the user to reuse CI setup (FROM alpine) in their development workflow (LOCALLY). A common set of instructions are used (eg RUN go download, RUN go build etc), but the execution can be switched between container and local via an IF.
* With the new UDC proposal, it it harder to r

[2021-02-10 18:50] dchw commented on #675
Resolved by #778

[2021-02-10 18:54] dchw commented on #586
With the addition of allowing `SAVE ARTIFACT` after `--push`, allowing `RUN --push` to affect the state of later `SAVE IMAGE --push`, and `RUN --no-cache`, it seems like almost all use cases have been satisfied.

[2021-02-11 13:17] MLNW commented on #760
I would love to see support for podman. It is much simpler to use with WSL2 compared to docker, which needs software installed on the host operating system.

[2021-02-13 08:57] chulkilee opened #781 "Release should provide checksum, and doc should recommend using checksum of downloaded earthly binary"
Using a binary downloaded from the internet without checking the integrity should be discouraged.

Instead, 1) earthly should provide checksum and 2) doc should show how to use the checksum

Example of docs using the binary without checking the checksum:

https://github.com/earthly/earthly/blob/v0.5.1/docs/examples/circle-integration.md

[code]

[2021-02-13 17:50] baptiste0928 commented on #708
Same issue with a private bitbucket repo : `fatal: could not read Username for 'https://bitbucket.org': terminal prompts disabled`.

[2021-02-16 20:30] alexcb commented on #781
Thanks for the comment @chulkilee, we're planing on creating a PPA for ubuntu and yum repo for distributing RPMs in the future; these will have signed binaries. Would that work for your distro, or is there another package format that you use?

[2021-02-16 22:20] chulkilee commented on #781
What if I want to use it from alpine image in CI pipeline? :)

As earthly is a single binary and github is the official download site (https://earthly.dev/get-earthly) so providing the checksum of the binary should be the first step.

[2021-02-16 22:46] alexcb opened #782 "unable to create image with only a CMD statement"
Creating an image only containing a CMD statment doesn't work. Consider this Earthfile:

[code]

Steps to reproduce:
[code]

However if I change the Earthfile to contain a RUN, then it works:
[code]

[code]

[2021-02-17 09:00] bhansconnect commented on #536
Is there a way to remerge a build split by platform instead of propagating it through all dependant builds?
Ex:
[code]
Instead, i believe with the current setup, i would need to make build-app-linux-arm64 and build-app-linux-amd64

[2021-02-17 20:38] vladaionescu opened #784 "Support for GCP Cloud Run"
It seems that the containerized version of Earthly works in [Cloud Run](https://cloud.google.com/run), even though the Earthly container is not officially supported.

We should find out what's the best way to support Earthly in GCP Cloud Run (maybe container version is the way to go) and officially support that approach.

CC @andreisavu

[2021-02-17 20:57] bhansconnect commented on #584
This could be really useful for copying. That or a way to copy multiple files from different folders.

I have a file that rn that has part of it that looks likes:
[code]
This takes a while to run because the docker image has decent size and making all the caching layers is quite slow.
I would just `COPY . .`, but that breaks caching and causes it to always rebuild everything.

I am trying to make

[2021-02-18 01:08] vladaionescu commented on #584
I don't think `WITH LAYER` will help with your situation unfortunately. But I think it's something we should try to optimize. Would you mind putting this use-case in a new issue so we can investigate it?

[2021-02-18 01:13] vladaionescu commented on #536
You should have get-dep defined in a single target. You can use builtin args like [`TARGETPLATFORM`](https://docs.earthly.dev/earthfile/builtin-args) if you need to do a bash conditional. In the future we plan on having a built-in [`IF` command](https://github.com/earthly/earthly/issues/779).

After that, you can reference `FROM +get-dep` and it'll use the same platform `build-app` is being built

[2021-02-18 01:28] bhansconnect commented on #536
Yeah, I saw the if proposal, it would definitely solve my issue.

Frankly all I need to do to solve my specific issue is to map targetplatform.
Essentially:
amd64 -> x86_64
arm64 -> aarch64
etc
And then I would be able to just directly download the file and extract the file.
Probably will just make a small bash script with that if to deal with the conversion.

[2021-02-18 01:28] bhansconnect commented on #584
sure. I'll try to make a more minimal test case to reference.

[2021-02-18 06:12] bhansconnect opened #786 "Cargo-Chef with Earthly caching issue"
[Cargo-Chef](https://crates.io/crates/cargo-chef) is a tool for being able to cache rust build dependencies. Since, sadly, rust does not have a nice way to tell it to go and download all dependencies. Chef is made with docker containers in mind. Its general process is:
1) prepare - Generate a recipe in a container with the full source
2) cache - Load the recipe into another container and use it to

[2021-02-18 15:53] masih opened #787 "Builds are not reproducible and created timestamp is not overridden"
Consider the following `Earthfile`:

[code]

When the `build` target is executed twice with two different image names the produced images have different sha digest.
I have also noticed that `Created` timestamp is not overridden.

To reproduce, run the following with the above `Earthfile`:
[code]

...and inspect the images:
[code]

Example output:
[code]

What am I missing?

[2021-02-18 16:50] alexcb commented on #787
Hi @masih, the value of the `IMAGE` arg is added to the hash, even if it's not used in any of the RUN commands. Consider this example:

[code]

    earthly +all

a and b are identical:

    $ diff -q <(docker inspect a) <(docker inspect b)

However as you noted the args affect the hashes:

    $ diff <(docker inspect a) <(docker inspect c)
    3c3
    <         "Id": "sha256:a328f7a7c4dfef2d51c887

[2021-02-18 17:00] catacgc opened #788 "Cannot save artifacts from a cache mount"
Today saving artifacts from a cache mount doesn't work (see example below)

This can be worked around by copying from the cache mount manually in another directory and then saving the artifact, but still an incovenience.

[code]

[2021-02-18 17:28] masih commented on #787
Hi @alexcb,

Thank you for the detailed reply; to sum it up the hashes are different because the image name is different?

I have just updated the issue description with a build comparison via `docker`. This was done after your reply; sorry I pressed update before seeing your comment.

Do you think I'm missing something in the `docker` build steps or is that expected?

I think having the option to

[2021-02-18 18:52] bhansconnect opened #789 "Then linux-arm64 release binary is actually the darwin-arm64 binary"
The title pretty much describes the issue.

On the [release page](https://github.com/earthly/earthly/releases/tag/v0.5.1), the darwin-arm64 and the linux-arm64 binaries are the same. They both look to be compiled for Mac and not for linux.

[2021-02-18 18:58] vladaionescu commented on #787
I think this is very much worth considering.

I *think* that SAVE ARTIFACT and COPY already flatten timestamps unless `--keep-ts` is used. But this does not cover cases like passing files via `FROM` or working with files within the same target.

A particularly aggressive stance could be to always default to a constant Created timestamp for any file created and only keep real timestamps if a settin

[2021-02-18 19:10] vladaionescu commented on #789
Just checked - this is confirmed.

[2021-02-18 19:14] vladaionescu commented on #789
I removed `earthly-linux-arm64` from the release for the time being.

[2021-02-18 21:10] #789 closed

[2021-02-18 22:12] vladaionescu commented on #782
This is fixed now, right @alexcb?

[2021-02-18 23:05] #782 closed

[2021-02-18 23:21] vladaionescu commented on #789
This is now fixed in the latest release https://github.com/earthly/earthly/releases/tag/v0.5.2

[2021-02-18 23:54] vladaionescu commented on #786
Thanks for the detailed explanation and sample project. Super useful! We'll work out a solution for this.

[2021-02-19 09:05] bhansconnect commented on #786
Just an extra note: For the chain of copies being slow for me, I think I may be hitting this bug related to zfs and caching layers: https://github.com/moby/moby/issues/31247

[2021-02-19 20:05] naramore opened #791 "Docker-out-of-Docker Support?"
If I install the docker client in a container, and pass the host docker socket to it at run-time, then the docker container has access to the host's docker engine. But when I attempt to run earthly from within the docker container, it always fails because it can't mount against the `RunPath`.

After investigating the code a bit, I found this:
https://github.com/earthly/earthly/blob/70b632433ae6628

[2021-02-19 20:13] jwarlander commented on #581
Looks really promising!

I had a use case just now, where I wanted to perform my own "docker login" / "docker logout" commands before and after pushing an image to AWS ECR. The problem with implementing those as LOCALLY targets seems to be that I can't really put them properly into the dependency chain, so they're not really usable together with the Earthly push capabilities.

Would this proposal

[2021-02-19 21:11] vladaionescu commented on #791
Hi @naramore - it seems that `RunPath` is actually not really used so we will remove it in the next release. It used to be necessary to make the `earthly -i` mode working. It now works through a different mechanism.

In any case, until the next release, I *think* that you can configure the path via the earthly config. In v0.5.2 you can do `earthly config global.run_path /some/other/path`. Really a

[2021-02-19 21:14] vladaionescu commented on #581
Not sure that it would - it's possible that things could run in the wrong order. We recommend using the AWS ECR credential helper for this: https://docs.earthly.dev/guides/auth#credential-helpers. Does that solve your issue?

[2021-02-19 21:34] #791 closed

[2021-02-19 22:30] vladaionescu commented on #786
I don't think that that zfs bug applies - underneath Earthly uses a docker volume for the cache and that volume is provided as ext4 by Docker.

[2021-02-21 18:45] yonkeltron opened #796 "SSL/TLS trust issues: unable to add custom certificates or disable verification"
Hi, I'm working in a corporate environment where I need to specify the certificates which should be used for verification of remote connections. Unfortunately, right now I can't pull from internal registries since I get the following error:

[code]

Since the registry is contacted every time regardless of local image presence (outlined further here in #345), it appears that I have a blocker to ado

[2021-02-22 13:30] agbell commented on #796
Hi @yonkeltron,
One thing you could try to get around this issue, for now, is to extend the earthly/buildkit image to add in your certificate. There are [instructions for this ](https://blog.earthly.dev/mitmproxy/) here under "Extending an Alpine Image to Add a Certificate Authority". After creating that image, start it up and use the `--buildkit-host=` flag on earthly to specify its usage.

Build

[2021-02-22 14:35] agbell commented on #786
Hi @bhansconnect I am going to look into this later this week and see if I can figure out what's happening.

[2021-02-22 18:38] vladaionescu commented on #796
We should implement proper support for this. This could be an Earthly config item. Earthly can then automatically configure buildkit and also possibly mount any necessary cert files into the buildkit container.

[2021-02-22 21:43] jazzdan opened #798 "segfault in github.com/armon/circbuf"
Encountered when executing a `RUN` that looked like this:

[code]

it was reproducible.

Output looked like this:

[code]

Earthly version:

[code]

I fixed it by removing the `--mount` flag.

[2021-02-22 22:56] vladaionescu commented on #796
Hi @yonkeltron - the next release of Earthly will have support for this via the configuration shown in https://github.com/earthly/earthly/pull/797. Let me know if this works for you once you give it a try.

Note that you will also be able to use an insecure registry

[code]

and use `SAVE IMAGE --insecure <registry-hostname>/<image:tag>` in Earthfiles. It doesn't sound like your use-case but I wro